[2022-01-13 22:22] #5257 closed

[2022-01-18 20:16] Valttz opened #6675 "EbookFoundation/free-programming-books: Freely available programming books"
https://github.com/EbookFoundation/free-programming-books

[2022-01-18 20:17] #6675 closed

[2022-01-23 08:40] charlottetan commented on #6508
@davorpa bummer that parsing continues to be an issue!

I spent some time investigating and have two options available:

### 1. PR #6677 - We switch the parser back to Kramdown. (recommended)
We originally switched to GFM in PR #5810, before we realised we could use `markdown="1"` in the div as suggested by Kramdown in https://github.com/kramdown/parser-gfm/issues/28. I tried out their suggestion

[2022-01-23 09:06] davorpa commented on #6508
Thanks for your hard work :love_you_gesture: !!!

At this moment this second is discarded due to as we post in https://github.com/EbookFoundation/free-programming-books/pull/6678#discussion_r790243208

[2022-01-24 05:02] charlottetan commented on #6508
Yeah I think we should go with PR #6677. I also see more discussion in that PR on other possible permutations of the processor

[2022-01-24 14:58] eshellman commented on #6508
have asked to folks working on the search to comment. Thanks @charlottetan for looking at this.

[2022-01-27 04:07] brogan20 commented on #6508
Switching to Kramdown (#6677) would be ideal here. #6678 would completely break the search engine and parser used in #6643.

[2022-01-27 15:03] eshellman commented on #6508
@charlottetan Seems to be consensus on #6677  Ready to merge?

[2022-01-27 15:09] #4637 closed

[2022-01-27 15:10] #4160 closed

[2022-01-27 15:11] #6433 closed

[2022-01-27 18:27] #5983 closed

[2022-01-27 18:27] #6301 closed

[2022-01-27 18:30] LuigiImVector commented on #5206
Yes, you can open an issue writing the name(s) of the book(s) you want to insert and then some staffer will insert them or you can directly create a pull request. Read [CONTRIBUTING.md](https://github.com/EbookFoundation/free-programming-books/blob/main/docs/CONTRIBUTING.md) for more information.

[2022-01-27 20:16] chir4gm opened #6685 "3D Math Primer for Graphics and Game Development"
An amazing textbook that I have found to be amazing:
https://gamemath.com/book/intro.html

[2022-01-29 14:05] #6685 closed

[2022-01-29 14:05] #6656 closed

[2022-01-30 14:01] davorpa opened #6688 "bug: Use Markdown instead HTML markup for h3 & h4 headings"
There are already some HTML heading markup used to define sections / categories.
[code]
Change it to respective Markdown markup using HTML anchors
[code]
 for linking in index section as:
[code]
Take that as reference, so look up in code for other cases.

[2022-01-30 19:30] AhmedElTabarani opened #6690 "Make script python to sort the name of courses or books"
Can make script python to sort the name of courses or books automated ?
I don't mean to be in GitHub Actions
I mean, for example, after we put the courses, books, and their links
We do this script with the path we specify, and it arranges for us
This suggestion may be caused by laziness in arranging names, but this remains an advantage.

[2022-01-31 09:47] davorpa commented on #6690
It already exists

The customized linter we use on top of remark is available as public library. See CONTRIBUTING and HOWTO.

It's coded in Javascript.

Install and run it local before commit/push.

I'm trying to decouple it to solve some of those format issues automatically creating a NodeJs project with tasks per locale/file/dir and hooking git process using husky

[2022-01-31 16:58] #6508 closed

[2022-01-31 17:02] #6688 closed

[2022-01-31 18:36] davorpa opened #6691 "bug: Apply kramdown `markdown="1"` attribute when necessary"
Previewing #6677 I realize now that #6662 is broken.

![image](https://user-images.githubusercontent.com/3125580/151851055-d18707a7-82d8-403d-9d2d-0dbf62d0c62e.png)

To solve, it needs add `markdown="1"` attribute to `<div>` too

https://github.com/EbookFoundation/free-programming-books/blob/7fdc28d3809a001657578130f6afc79211d9bf26/README.md#L6-L11

_Originally posted by @davorpa in https://github

[2022-02-01 20:10] #6691 closed

[2022-02-02 16:39] LuigiImVector opened #6693 "Files name dispute"
In many category files begin with "free-programming":
- `free-programming-books-en.md`
- `free-programming-cheatsheets.md`
- `free-programming-interactive-tutorials-en.md`
- `free-programming-playgrounds.md`

I propose then to rename the following files:
- `free-podcasts-screencasts-en.md` to `free-programming-podcasts-screencasts-en.md`
- `free-courses-en.md` to `free-programming-courses-en.md`
-

[2022-02-02 17:21] eshellman commented on #6693
no tangible benefit; will break lots of links

[2022-02-02 21:44] davorpa commented on #6693
+1 with Eric

[2022-02-03 22:43] CleanMachine1 commented on #6693
I agree, while the naming may be more helpful as to giving more information, the fact still remains that every link to the pages would become redundant.

[2022-02-03 22:49] CleanMachine1 commented on #6693
One little extra note, whenever I am searching the repo for a book or guide, I have to shift through all of the directories and files, so making the files longer makes it just a little harder to find what I am looking for.

[2022-02-04 11:31] LuigiImVector commented on #6693
What if we shortened the file names instead?

[2022-02-04 12:09] CleanMachine1 commented on #6693
Again, as mentioned the main downside is probably the links becoming invalid

[2022-02-04 12:47] davorpa commented on #6693
Better idea but this implies refactor too and there are more files in books and courses than in other categories. Also @brogan20 might tell us if there are some problems with parser too related with #6643

[2022-02-06 12:41] davorpa commented on #5983
More proposed badges at #6697

[2022-02-07 11:57] davorpa opened #6698 "Add missing crosslinks and `docs/README.md`"
- [ ] Clean root `README.md` about doc translations.
- [x] Move it to new `docs/README.md` to complete GitHub common structure
- [x] Rebuid crosslinks in CoC, HowTo and Contributing doc files

[2022-02-07 13:30] AhmedElTabarani opened #6699 "Is there an API available ?"
Is there an API available for this repo?

How would the API will be useful?
Imagine a person applying an application to display the courses and books available for each field Or while writing articles on a specific field that you want to witness the educational courses for this field, whether for any language

It sure has other uses And look to the future and with the development of technology, th

[2022-02-07 14:56] davorpa commented on #6699
Please see #6643

[2022-02-07 17:48] AhmedElTabarani commented on #6643
This link: https://4dylanregan.github.io/myapp/ show a blank page, there is no UI at all.
this is normal? or I use the link as API  or there something I miss?

[2022-02-08 07:13] davorpa commented on #6699
Duplicate of #5778

[2022-02-08 07:13] #6699 closed

[2022-02-11 07:36] davorpa commented on #5176
It also happens in Arabic courses file.

Is wellknown that pipes is the table markdown token. Seems that Kramdown don't deal well with it

[2022-02-11 17:27] #6698 closed

[2022-02-11 17:34] CleanMachine1 commented on #6373
I am unaware whether there has been any changes to wanting more members/volunteers however I'd like to give a little notice that, if possible, I would like to work towards being a member or the repo.
If not, I'll still continue to review the PRs whenever I am free!

[2022-02-11 17:44] eshellman commented on #6373
@CleanMachine1 have resent the invitation from last year

[2022-02-11 17:46] CleanMachine1 commented on #6373
Oh, well thank you very much, I was unaware I had actually been invited since it doesn't show in the notifications tab!
I have joined the repo and will continue to contribute :)

[2022-02-12 10:00] Georgekingsley opened #6717 "USA money"

[2022-02-12 10:06] #6717 closed

[2022-02-13 19:00] davorpa opened #6721 "Bad target url documenting `fpb-lint.yml` since CONTRIBUTINGs were moved to docs folder"
There are a bug present in all CONTRIBUTING files since were moved to `./docs/` folder pulled by #6614.

![image](https://user-images.githubusercontent.com/3125580/153770524-86f78d06-96a1-41f2-b203-b91457bf1380.png)

How to address this? The best way is always use a relative URL so patch the url markdown of each `fpb-lint.yml` reference with...

[code]

I can't believe it how I didn't detect it in

[2022-02-13 19:16] RishiKumarRay commented on #6721
@davorpa can i raise a PR fixing this?

[2022-02-13 20:58] #6721 closed

[2022-02-14 16:42] #5176 closed

[2022-02-14 18:05] davorpa commented on #5176
Needs linter replug in. See https://github.com/EbookFoundation/free-programming-books/issues/5176#issuecomment-890391432

[2022-02-15 07:31] davorpa commented on #6590
@EbookFoundation/reviewers last step. What do you think about this HowTo's homogeneization?

Performed Tasks:
- Add H1 header
- `Read this ...` right alignmements
- Split a bit first paragraph to highlight welcome.
- Introduce Pull Request acronym.
- Trademark typos: GitHub, YouTube, Pull Request
- Update GitHub links urls. `help`/`guides` subdomain was moved to `docs` so a 301 Redirect is skipped

[2022-02-15 09:27] SethFalco commented on #6590
I think this looks pretty nice, but _unfortunately_, you may want to test it in the mobile app.

I don't think things like the `<details>` tag work there. (Bear in mind when I tested was over a year ago.)

[2022-02-15 13:14] davorpa commented on #6590
https://davorpa.github.io/free-programming-books/ Tested on a Kindle Fire EReader and a Samsumg S5 (Android 6.1). It works as expected 4x4 in both environments: GitHub Preview, GitHub Pages

[2022-02-15 13:40] SethFalco commented on #6590
Just checking, you tested in the GitHub Mobile App?
https://play.google.com/store/apps/details?id=com.github.android&hl=en_US&gl=US

[2022-02-15 14:26] davorpa commented on #6590
yes. it works as well.

![Screenshot_20220215-152254.png](https://user-images.githubusercontent.com/3125580/154081554-0255f8dc-97fa-4f83-97fb-276be29d739f.png)

![Screenshot_20220215-152337.png](https://user-images.githubusercontent.com/3125580/154081630-f5667cfd-8dd2-4da4-9a45-c538ba1fcc11.png)

[2022-02-15 16:31] eshellman commented on #6590
on the whole, I think this looks great.
I'm ambivalent about monospacing "Free-Programming-Books". The name travels outside of the repo to places where it's not possible (or just more work for me) to monospace it - twitter, the Free Ebook Foundation website, and most particularly, the HTML presentation on github. I've managed to keep the dashes intact, mostly. So while monospacing looks good here,

[2022-02-15 22:52] davorpa commented on #6643
Project was transfered to the organization recently. Try with

https://ebookfoundation.github.io/free-programming-books-search/

[2022-02-26 13:19] LuigiImVector commented on #6693
Too much work for too few benefits

[2022-02-26 13:19] #6693 closed

[2022-03-02 18:57] Gadslater opened #6741 "Ebook Foundation"

[2022-03-02 18:59] #6741 closed

[2022-03-03 12:33] MhizthaEric opened #6742 "Please I need help"
How can I add a payment gateway to my code

[2022-03-03 12:33] MhizthaEric commented on #6742
Please how can I add payment gateway to my code

[2022-03-03 14:45] #6742 closed

[2022-03-03 15:14] BulegaHassan commented on #6153
- Its my first time to hear about ad-farming.
- Gonna rectify link and direct it to pdf

[2022-03-05 15:03] auiferj commented on #5470
![0d7e5c68j00qdsu6j01j4c0016w01rwc](https://user-images.githubusercontent.com/17930768/156888892-a0025ac8-e291-481c-87d8-fab72c714675.jpg)

[2022-03-05 15:16] prayogaea01 opened #6747 "Bahasa"
Apakah tersedia dala bahasa indonesia

[2022-03-06 12:00] davorpa commented on #6747
Yes, there are listings in Indonesian. You can contribute in that files if you want. See `README.md` or search for `-id.md` files

[2022-03-06 12:00] #6747 closed

[2022-03-08 06:05] mrrata opened #6756 "issue"

[2022-03-08 06:05] #6756 closed

[2022-03-09 15:17] TomB2001 commented on #6373
Hi guys,
first of all, I love the idea of this repo.
So now I am a German student and I would be an active part of this repo, can someone help me to get along with it

[2022-03-09 18:29] pawan4323 opened #6763 "Adrino"

[2022-03-09 22:34] AhmedElTabarani opened #6764 "Some questions"
- [ ] There is someone try to convert https://www.patterns.dev/ book into a series [here](https://www.youtube.com/playlist?list=PL0_C_32YKLpwykmU7t7bLZ7guRw1psa52), Can we add it to the Courses file? And what will be its index?
- [x] There is a translation of [The Next.js Handbook](https://flaviocopes.com/page/nextjs-handbook/) you can check it [here](https://blog.abdelhadi.org/learn-nextjs-in-ara

[2022-03-10 09:20] davorpa commented on #6373
@TomB2001 you are welcome. Could you translate docs to German? Recently we've updated some parts of `CONTRIBUTING.md`, `HOWTO.md` and `CODE_OF_CONDUCT.md`. See #6301 #5351 and #6724

Please, read contributing guidelines first

[2022-03-10 09:22] #6763 closed

[2022-03-10 10:50] davorpa commented on #6764
If is a translation, needs attribution to both, the original author and who translate to arabic: `- Flavio Copes, عبدالهادي الأندلسي`

[2022-03-10 15:19] eshellman commented on #6764
1. we should add Learning Patterns to our English book list - there are design patterns books scattered around, the largest number in "Software Architecture".
2. the arabic playlist on Learning patterns is not quite a "course" yet.
3. definite yes on the Next.js book
4. The Heshem Asem playlists  don't fit well into our structure, but deserve a listing. Maybe call the whole list of playlists a cou

[2022-03-10 17:57] AhmedElTabarani commented on #6764
@eshellman

i will add this:

- Machine Learning:  from 1 to 13
- Deep Learning from 14 to 18
  - The playlist number 19 is a collection of 14, 15, 16, 17, 18
  So, we can add the playlist no. 19 instance of playlists from 14 to 18
- NLP: from 21 to 28

[2022-03-13 11:02] Tudor44 commented on #6373
I m here, from italian side :).

[2022-03-13 14:16] LuigiImVector commented on #6373
I'm from Italy too 😃

[2022-03-13 14:16] LuigiImVector commented on #6373
I'm from Italy too 😃

[2022-03-16 10:18] JoaoArrud4 opened #6780 "Livros"

[2022-03-16 10:18] #6780 closed

[2022-03-16 19:19] Yashwanth-23 commented on #6373
Hey there,
I would love to help :)

[2022-03-17 08:44] davorpa opened #6782 "Outdated/partial translations `zh` since latest text review"

[2022-03-17 08:49] davorpa opened #6783 "Incomplete/partial Vietnamese translation and not fit at all with original"

[2022-03-18 11:09] AhmedElTabarani commented on #6764
Can i add it with "in progress" label

[2022-03-19 07:53] davorpa opened #6791 "Considere take CoCs from original source: https://www.contributor-covenant.org/translations/. If not exists, contribute with Contributor Covenant project"

[2022-03-19 07:53] davorpa opened #6792 "Considere update CoC to 1.4 or 2.0"
Should we update CODE_OF_CONDUCT documents to a newer version ?

Maybe update to 1.4, or full upgrade to the most recent 2.0. If some translation doesn't exist we should contribute with the repo in charge of their maintenance (see #6791)

Let's talk!

[2022-03-19 08:09] davorpa commented on #6791
### NOTES

This kind of thought might go in conflicts with #6792, so wait meanwhile

[2022-03-19 17:35] eshellman commented on #6792
want to summarize the differences?

[2022-03-19 19:48] davorpa commented on #6792
Of course.

Here the mapping:

| | version | document url |
| --- | --- | --- |
| Current version | 1.3.0 | https://www.contributor-covenant.org/version/1/3/0/code-of-conduct/ |
| Next minor | 1.4 | https://www.contributor-covenant.org/version/1/4/code_of_conduct/ |
| Full upgrade | 2.0 | https://www.contributor-covenant.org/version/2/0/code_of_conduct/ |

Currently document is the same of 1.3.0 l

[2022-03-19 19:55] Grampasteve opened #6793 "Programming Book"

[2022-03-19 19:58] Grampasteve opened #6794 "Programming Book"

[2022-03-19 20:16] #6793 closed

[2022-03-19 20:16] #6794 closed

[2022-03-20 11:58] LuigiImVector commented on #6792
CoC  2.0 seems more professional.
Contributing directly to the main repository of Contributor Covenant I think it's a very nice idea, also to enhance the concept of collaboration between open source projects.

[2022-03-27 09:28] AlessioChen commented on #6373
Hello, i would like to help too ;)

[2022-03-27 09:55] zoyo23 commented on #6373
Hello from Brazil! 🤗

I wanna help too. 😎

[2022-04-02 13:38] Pawdroid opened #6812 "努力学习"
天天向上

[2022-04-02 18:25] #6812 closed

[2022-04-05 05:57] NeamulIslamFahim opened #6815 "I wanna contribute Java Programming language in Bengali language"
I wanna contribute Java programming language in Bengali Language. As like other languages, the learners whose mother tongue is Bangla, also learning Java programming language. The resource of Bengali language is not much in Bengali Language. From that perspective, for the Bengali students, I wanna contribute my Java lecture from Basic to onwards.

Thank you

[2022-04-05 11:45] davorpa commented on #6815
Do you know how to make Pull Request? Both yes or not, I aim you to read our CONTRIBUTING guidelines and HOWTO to learn how to contribute in the repository.

If you want contribute in bangla resources, welcome. Search free resources in internet that satisfies the requirements and send the PR.

[2022-04-06 03:49] NeamulIslamFahim commented on #6815
Thanks.
I will pull request and I have seen that Java content is already posted. So, I am  coming with HTML Bangla

[2022-04-06 06:18] #6815 closed

[2022-04-16 10:55] davorpa commented on #6373
Hey buddies!!! Next PR needs help with translations. Take a look into to see what languages are needed

- #6824

[2022-04-20 05:54] akshay12104066 opened #6830 "C"

[2022-04-20 13:40] #6830 closed

[2022-04-30 17:40] AhmedElTabarani commented on #6764
There are some playlists like [this](https://www.youtube.com/playlist?list=PLzCpl3aBwaY5nQxWH0HaNibR9UXKICWxz)
They are recordings of long lectures of one to two hours for each video, whether they are in college or a place like an educational center, can we put them? there are many playlists like this above for different topic.
@eshellman @davorpa

[2022-04-30 17:52] davorpa commented on #6764
LGTM

[2022-04-30 17:55] AhmedElTabarani commented on #6764
Thanks
can we put ACM training too?, see [this](https://www.youtube.com/playlist?list=PLPSFnlxEu99FcZdNGZ3dF2qCMvkd9whyN)

[2022-05-06 11:49] CraigglesO opened #6840 "[suggested addition] Rust for people who know javascript/nodeJS"
https://github.com/vinodotdev/node-to-rust/

[2022-05-10 22:32] lilsweetcaligula opened #6841 "Dead link for a Haskell book"
The link to [The Haskell Road to Logic, Math and Programming](https://fldit-www.cs.uni-dortmund.de/~peter/PS07/HR.pdf) - Kees Doets and Jan van Eijck (PDF) seems to be down. It is not clear to me at this time, whether access was revoked by mistake, or whether access was revoked as a result of a copyright notice. If it's the latter case, let us remove the link completely.

[2022-05-12 14:42] #6841 closed

[2022-05-26 14:17] kman3107 opened #6850 "Norwegian 'LaTeX for nygegynnere' - link not working; see issue for new working link"
**Issue**
In the Norwegian section there is a link to a .pdf file called 'LATEX for nybegynnere' which does not work.

**Solution**
I did a quick search on the same website and found a link that works.
https://www.mn.uio.no/ifi/tjenester/it/hjelp/latex/latex-for-nybegynnere.pdf

[2022-05-26 16:24] kman3107 commented on #6850
A pull request has been made #6851

[2022-05-26 16:24] #6850 closed

[2022-05-26 18:15] eshellman opened #6852 "Many Leanpub books no longer free"
According to this: https://leanpub.com/imagine_a_world Leanpub books we considered to be free because their minimum price was $0 now require a subscription. Authors have to opt out of a revenue pool to keep their books free. So we need to remove the no-longer-free books from our lists.

Please keep small numbers of deletions in each PR, The books with free html versions are considered free (access

[2022-05-30 08:10] mr-vaibh opened #6856 "link font increasing wrongly"
just found out this minor issue. whenever hovering over this link, the font of text after the link is also getting increased.

the problem is with every link

probably missing a closing tag
https://ebookfoundation.github.io/free-programming-books/

![image](https://user-images.githubusercontent.com/52421094/170947309-aba467c0-cefa-4d7f-92b3-54f33f7dbc64.png)

[2022-05-30 09:51] nbehrnd commented on #6856
I actually welcome this as a nice feature to recognize the current selection in visual web browsers.  This is .true. especially in lists with entries close to each other where indentation does not change.  And as observed by you, this _assistance_ is present when selecting the natural languages, the programming languages, their individual entries etc.:

![font_change](https://user-images.githubuse

[2022-05-30 17:05] eshellman commented on #6856
the relevant css code is invoked in https://github.com/EbookFoundation/ebookfoundation.github.io/blob/master/_config.yml so maybe take it up with the developers of jekyll-theme-minimal

[2022-05-30 17:05] #6856 closed

[2022-05-30 18:02] nbehrnd commented on #6856
Vaibhav Shukla ***@***.***> wrote:

Yes, if the label of the hyperlink is touched, its width and height
change (the weight increases) which affects all the text around.
Actually, in the lists with individual references to books and web
pages per programming language, the text not leading to the reference
page (like title/author of a book) equally inflates a little.  Similar
changes would happen if

[2022-06-09 20:01] Mdkawsarislam2002 opened #6867 "Don't have enough Courses and did not update courses (bn) and need to remove 1 book (that does not exist right now)"
### Need to  Remove
 - 1 Book (BN)= SL3 Framework - Code For Brain, Because this website does not exist right now

### Need to  Add This Bangla Courses

 - Go
 - bootstrap
 - SASS
 - TailwindCSS
 - JavaScript
 - Node
 - React
 - svelte
 - Vue
 - Typescript

### sending PR But need help on How to handle this. seems everything is perfect
[My PR](https://github.com/EbookFoundation/free-programming-bo

[2022-06-14 11:05] LuigiImVector commented on #6867
The main problem is that your editor, maybe because of some installed plugin, changes the style of the lists (`*` to `-`), to avoid it the easiest way is to edit the files with another "clean" editor. #6829 try to fix this problem.

Also be careful to insert the [correct number of blank lines](https://github.com/EbookFoundation/free-programming-books/blob/main/docs/CONTRIBUTING.md#formatting) betw

[2022-06-15 06:28] Williammmmmmmmmmm opened #6875 "Programing books"

[2022-06-17 00:21] CleanMachine1 commented on #6867
I think this issue can be closed now!

[2022-06-17 14:21] #6867 closed

[2022-06-19 08:18] andre-almeid opened #6881 "New feature: syncronism to different equipments"
Hi...
One feature I have interested is syncronism with different equipments. I have three desktops and laptops and I think one account and syncronism the tasks are one interesting feature.
I can help with that too.

Good work guys.

[2022-06-19 08:18] #6881 closed

[2022-06-20 01:17] Ajjig commented on #6840
Rust lang official documentation is a great
-> https://www.rust-lang.org/

[2022-06-24 09:54] LuigiImVector commented on #5491
maybe we can just use another theme, like cayman: https://luigiimvector.github.io/free-programming-books/ (branch [pages-test](https://github.com/LuigiImVector/free-programming-books/blob/pages-test/_config.yml))

[2022-06-28 16:59] tarunreddy6 commented on #6782
Yess.!

[2022-07-03 17:20] Harishraj123 opened #6900 "Free books"

[2022-07-04 17:17] #6900 closed

[2022-07-05 15:32] LuigiImVector opened #6901 "Difference between course and screencast"
What is the difference between a screencast and a course?

course:
https://github.com/EbookFoundation/free-programming-books/blob/99672525f2493ac22eb70e4587925b6e85c45a44/courses/free-courses-en.md#L256

screencast:
https://github.com/EbookFoundation/free-programming-books/blob/99672525f2493ac22eb70e4587925b6e85c45a44/casts/free-podcasts-screencasts-en.md#L50

[2022-07-05 18:03] eshellman commented on #6901
some of the "screencasts" might better be termed "vlogs", but changing would break things.

[2022-07-06 08:06] LuigiImVector commented on #6901
maybe we should add a better definition on the CONTRIBUTING file, or combine the two

[2022-07-06 09:03] nbehrnd commented on #6901
ImVector wrote:

Back in the day when you got a print copy of the «undergraduate
announcement» for the academic year, «course» referred to a series of
multiple lectures during spring/fall term.  And I'm still used to
refer to use this like «among the courses, did you read chemistry
201» as hypernym (umbrella term) and contrasting to «did you attend
the lecture on Tuesday» to refer to a specific ev

[2022-07-06 13:28] LuigiImVector commented on #4416
Based on @SethFalco's workflow I created one that can work without changing the free-programming-books-lint, you can see it working here: LuigiImVector#6 ([here](https://github.com/LuigiImVector/free-programming-books/blob/gh-action-1/.github/workflows/fpb-lint.yml) is the code)

The things that are missing to be done are::
- [ ] Separate push and pr workflows
- [ ] Clean up the output (?)

tell m

[2022-07-06 14:06] eshellman commented on #4416
That looks pretty good! Is it all contained in the github actions config?

[2022-07-06 14:23] LuigiImVector commented on #4416
yes, everything in one file without using external scripts

[2022-07-06 22:25] eshellman commented on #4416
OK to merge, but do it when you can test right away.

[2022-07-07 13:12] Herisanto commented on #5470
my fb hack someone

[2022-07-10 17:14] davorpa opened #6908 "Danish full ICU code is `da-dk` not `dk`"
Danish full ICU code is `da-dk`

https://www.localeplanet.com/icu/da-DK/index.html

so files should be renamed from `*-dk` to `*-da`

_Originally posted by @davorpa in https://github.com/EbookFoundation/free-programming-books-search/issues/29#issuecomment-1179764876_

[2022-07-10 19:57] davorpa commented on #4416
@LuigiImVector Great work❤️

If can be possible, I'd prefer clean only the filename path, and leave the lines reported by linter untouched. The linter give more info than a simple message. e.g. line and columns, remark plugin

[code]

Could be the cleaning script moved to workflow instead of use a Python file? Maybe it's a good moment to use an `actions/github-script` since provide a context to wo

[2022-07-11 11:02] LuigiImVector commented on #4416
The workflow logs are the same as the message, so I don't think it's useful to link them.

I will study how it works and I'll use it.

[2022-07-11 15:41] eshellman commented on #6908
I'll do it

[2022-07-12 04:55] #6908 closed

[2022-07-13 18:27] ebrucetin opened #6915 "Books"

[2022-07-14 11:38] #6915 closed

[2022-07-14 20:36] p0lygun opened #6921 "OWASP Testing Guide 4.0 link is invalid"
The current link to [OWASP Testing Guide 4.0](https://www.owasp.org/images/1/19/OTGv4.pdf) (PDF) is now invalid as they now have hosted the book as HTML and pdf links are also available in GH releases

link it 4.0 [OWASP_Testing_Guide_v4](https://owasp.org/www-project-web-security-testing-guide/assets/archive/OWASP_Testing_Guide_v4.pdf)

link to the stable release
- [WebPage](https://owasp.org/www

[2022-07-15 05:46] mihir1739 commented on #5526
How can I contribute to this issue..?

[2022-07-16 16:34] ranya-webs opened #6931 "Front-end Developer Handbook 2019"
* [Front-end Developer Handbook 2019](https://frontendmasters.com/guides/front-end-handbook/2019) - Cody Lindley (HTML) [(PDF, EPUB)] (https://github.com/FrontendMasters/front-end-handbook-2019/raw/master/exports/Front-End%20Developer%20Handbook%202019.epub, https://github.com/FrontendMasters/front-end-handbook-2019/raw/master/exports/Front-end%20Developer%20Handbook%202019.pdf)

[2022-07-16 19:32] davorpa commented on #6840
Book repository points now to https://github.com/wasmflow/node-to-rust

[2022-07-17 15:38] LuigiImVector opened #6934 "Move `Version Control with Subversion` to italian category"
https://github.com/EbookFoundation/free-programming-books/blob/d8dd19dfaacaa8c341249c88e1b2fb8c40e0f2b0/books/free-programming-books-langs.md#L2375

This resource is in italian, it will be moved to the correct file

[2022-07-17 18:26] LuigiImVector commented on #5092
Markdown spoilers are a good idea but maybe would give problems to the free-programming-books-parser and to the new contributors since to make the markdown work within the spoiler you need a white space after the tag:

<details><summary> :arrow_down: Invalid</summary>
* doesn't
* work
</details>

[code]

<details><summary> :arrow_down: Valid</summary>

* doesn't
* work
</details>

[code]

---

IMO

[2022-07-17 19:38] LuigiImVector commented on #4573
I think tutorialspoint resources are fine in "books." Some tutorials have hyperlinks that complete the resource but in my opinion it would be inappropriate to put them on "interactive tutorials"

[2022-07-17 19:46] LuigiImVector commented on #5206
Solved in #5256

[2022-07-17 19:46] #5206 closed

[2022-07-17 19:53] LuigiImVector commented on #5357
the project has not been updated since April 2021 and it isn't appropriate to be added, I think this issue can be closed

[2022-07-17 19:53] #5357 closed

[2022-07-18 19:16] LuigiImVector commented on #5470
# Latest update: July 18, 2022
A list with all the broken links, I got it from this workflow: https://github.com/LuigiImVector/free-programming-books/actions/runs/2692542026 (I used this [script](https://github.com/LuigiImVector/free-programming-books/blob/gh-action-4/.github/workflows/check-urls.yml))

See how to proceed in the first message

## ./books/

- [ ] `books//free-programming-books-pt_B

[2022-07-18 19:40] #6921 closed

[2022-07-18 19:48] #6840 closed

[2022-07-18 19:54] #6934 closed

[2022-07-18 22:06] LuigiImVector opened #6942 "Broken links"
# Latest update: July 18, 2022
A list with all the broken links, I got it from this workflow: https://github.com/LuigiImVector/free-programming-books/actions/runs/2692542026 (I used this [script](https://github.com/LuigiImVector/free-programming-books/blob/gh-action-4/.github/workflows/check-urls.yml))

🛠️ **How to proceed**

First look up for an alternative link:
1. Try to change protocol http-ht

[2022-07-18 22:08] #5470 closed

[2022-07-19 07:56] #6931 closed

[2022-07-24 20:40] AhmedElTabarani commented on #6764
@davorpa  Hi there are huge courses coming now 😉

I have some questions here
- There are people making a 7 to 10 hours video to explain something (combined course)
- There is a course that explains Regex (independent of any language) in what category should I put it?
- There is a data science course, where should I put it?

[2022-07-25 12:57] eshellman commented on #6764
If the corresponding books are free and listed, the video playlists could be considered free  courses.

Take title from the courses themselves. Do not try to translate titles yourself.

ok, but please note the length in the PR description.

I think we have lists that use regex as a category.

either start a new category, or if its just one course, mayybe put it in a "general" or "miscelaneous" cat

[2022-07-25 13:09] AhmedElTabarani commented on #6764
The books are not free, so I will delete the course from my pr #6964

I didn't, this is the actual title, I put them in their language category

The rest of the things I will add in the next group of courses

[2022-07-30 17:54] KotoWhiskas opened #6976 "Code simplicity (Max Kanat-Alexander)"
https://www.codesimplicity.com/book/

https://www.codesimplicity.com/wp-content/uploads/2022/05/CodeSimplicity.pdf

[2022-07-30 19:17] davorpa commented on #6976
Right latest PDF link is: https://www.codesimplicity.com/book.pdf

[2022-08-03 20:46] #6976 closed

[2022-08-05 22:17] #6764 closed

[2022-08-07 16:59] Queenpleasure opened #6990 "help"
()[https://queenpleasure.wordpress.com/wp-admin/post.php?post=99&action=edit&calypsoify=1](website)

[2022-08-07 20:37] #6990 closed

[2022-08-09 00:23] Kaira25 opened #6991 "Broken"

[2022-08-09 00:30] Kaira25 commented on #6991
~~how long can you be happy~~? Having fun in the dream world 🌍 Game's.

[2022-08-09 08:21] #6991 closed

[2022-08-10 03:05] EmanuelMayaP commented on #6373
Hola, saludos desde Colombia!!!
Quiero poder ayudar al propósito de este proyecto. 😎

[2022-08-10 13:42] LuigiImVector commented on #6373
Hi, to start collaborating you can help solve some of these issues: https://github.com/EbookFoundation/free-programming-books/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

or help revise the new pull requests so that they meet the [contributing guidelines](https://github.com/EbookFoundation/free-programming-books/blob/HEAD/docs/CONTRIBUTING.md)

[2022-08-18 01:14] davorpa opened #7024 "feat: Create Github Actions to auto manage some labels"
It will be great that when a PR is merged doing some actions

How to handle it: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#running-your-workflow-when-a-pull-request-merges

**`pr-merged.yml`**:
[code]

Then we need:

1. Is this usefull?
2. Decide which labels manage. E.g.: remove `Waiting for changes`, `stale`...
3. ...

[2022-08-18 12:14] eshellman commented on #6643
deployed

[2022-08-18 12:14] #6643 closed

[2022-08-20 20:28] ITSMEAJOKER opened #7030 "Perfect"
I Love This Ebook Foundation

[2022-08-21 04:11] #7030 closed

[2022-08-25 11:03] #6852 closed

[2022-08-26 22:56] davorpa commented on #7024
I've found two ways of get files of PR:
- With GH cli: `gh pr view XXXX --json files -q '.files[].path'` where `XXXX` is the PR number
- With an action `tj-actions/changed-files`

@LuigiImVector what will be better seen your progress with actions in the past (linter, url-check)?

[2022-08-28 21:03] devjaiye commented on #6373
Hello from Nigeria, I will like to help 😌

[2022-09-01 06:23] davorpa opened #7048 "IIRC udacity has multiple access models, but maybe a good time to recheck."
We're looser about registration notes for courses than for books. If the content is accessible without registration, but registration needed for added services, then no note needed. IIRC udacity has multiple access models, but maybe a good time to recheck.

_Originally posted by @eshellman in https://github.com/EbookFoundation/free-programming-books/pull/6442#discussion_r736692724_

Added to backl

[2022-09-01 06:27] davorpa opened #7049 "Remove no toplevel codecademy cheatsheets"
No high level for each CodeCademy cheatsheet we have listed. Are structured in chapters and with a pdf each one. Entrypoint is always first chapter.

Better remove all of them in our listings?

_Originally posted by @davorpa and @eshellman in https://github.com/EbookFoundation/free-programming-books/pull/5696#discussion_r726499681_

[2022-09-01 06:40] davorpa opened #7050 "Missing alphabetization supports"
There are serveral locale changes/additions since past hacktoberfest

- [ ] ci: Alphabetization support for sinhala (Sri Lanka) #5934. Locale: `si`
- [ ] ci: Alphabetization support for Slovenian #6176. Locale: `sl`
- [ ] ci: Alphabetization support for Bangla. #6021 #5979. Locale: `bl`>`bn`
- [ ] ci: Alphabetization support for Ukrainian. #6542 #6578. Locale: `ua`>`uk`
- [ ] ci: Alphabetization s

[2022-09-02 15:38] LuigiImVector commented on #7024
We can also use trilom/file-changes-action, implemented earlier on check-urls.yml but I think tj-actions/changed-files is just fine

[2022-09-02 15:57] LuigiImVector commented on #7050
To avoid having to do this again in the future we can alphabetize all the languages, as on [`free-programming-books-parser/languages.js`](https://github.com/EbookFoundation/free-programming-books-parser/blob/main/languages.js).

[2022-09-02 16:37] LuigiImVector opened #7054 "Custom github app"
Lately more and more workflows are being created to automate certain processes, one ambitious project that would help encompass all these things avoiding (in theory) security vulnerabilities is a bot (Github Apps) created for `free-programming-books`, like microsoft's but simpler.

At this time I don't have so much time to devote to this project but as soon as I can I start trying to do something,

[2022-09-02 17:53] davorpa commented on #7050
In that case, maybe the problem would be the ICU tables. There are one for each one of languages?

I'm in pro to transfer linter project to this organization and then don't have blocking issues.

What do you think @eshellman @vhf?

[2022-09-02 18:00] davorpa opened #7055 "feat: Create a workflow that label/unlabel issues on pin/unpin"
To enhace with #7053 stale labeling bypass, create a GitHub Actions workflow that automanage labels on pin/unpin issues.

When
- Pin an issue... add a label `📌 pinned`
- Unpin an issue... remove the label `📌 pinned`
- Optional: close a issue... remove the label `📌 pinned`

[2022-09-02 18:35] LuigiImVector commented on #7050
There seems to be all the languages with the correct codes

[2022-09-03 02:00] mohitsaxenaknoldus commented on #7055
Hey, can I work on this?

[2022-09-05 16:57] eshellman commented on #7054
Could you explain for those of us who haven't played much with Actions, what the difference would be?

[2022-09-05 16:59] eshellman commented on #7050
seems like we should do this, to the extent that we have skills.

[2022-09-05 17:01] eshellman commented on #7055
two heads are better than one

[2022-09-06 03:17] najmus300 opened #7058 "Free programming books"

[2022-09-06 10:47] #7058 closed

[2022-09-06 11:07] davorpa commented on #7024
Due to amount of labels it will be great have some process to automate label syncing using a file as source.

Then collaborators could add new labels as part of code, eg. when new locale appears, on new workflow demand...

An example will be use this action: https://github.com/crazy-max/ghaction-github-labeler

[2022-09-06 15:00] eshellman commented on #7024
I have not found the language labels to be useful

[2022-09-06 17:19] nbehrnd commented on #7024
A pattern applied in [learnxinyminutes](https://github.com/adambard/learnxinyminutes-docs) is `[language/lang-code]`, e.g. `[awk-fr]` ([example](https://github.com/adambard/learnxinyminutes-docs/blob/master/fr-fr/awk-fr.html.markdown)).  *A priori* this should equally apply when filing a PR for a new entry, or revising an already existing entry.  On occasion, the marker of the natural language is

[2022-09-06 17:52] LuigiImVector commented on #7054
Mainly to have everything in a more organized and professional way, secondly it should be safer

[2022-09-07 14:38] eshellman commented on #7024
that's a great example!

[2022-09-08 15:33] davorpa commented on #7024
About the autoconflicts workflow.

We can use:

### the [GH client](https://cli.github.com/):

[code]
where `NNNN` is the prNumber.

![image](https://user-images.githubusercontent.com/3125580/189155839-d3b9637f-96d1-41c7-a198-1393ab485158.png)

- `mergeable`:  The value of the mergeable attribute can be `true`, `false`, or `null`. If the value is `null`, this means that the mergeability hasn’t bee

[2022-09-09 19:58] davorpa commented on #5762
And finally... backlog is closed with
- #7065

[2022-09-09 19:58] #5762 closed

[2022-09-10 01:08] davorpa commented on #5526
Hey @eshellman. Can I abord this before Hacktoberfest starts?

Locales where already applied: Spanish and english

[2022-09-12 13:32] eshellman commented on #5526
"abord"?

[2022-09-12 13:55] breck7 opened #7069 "written request to lower the hard deck, sir"
feature suggestion: remove license, go public domain

essay: https://breckyunits.com/how-the-public-domain-can-win.html

hype video: https://pldb.com/posts/buildPublicDomain.html

[2022-09-12 14:12] eshellman commented on #7069
As a practical matter, removing the repo's license would require the consent of almost 2000 contributors.
Request denied.

[2022-09-12 14:12] #7069 closed

[2022-09-12 14:15] breck7 commented on #7069
On it.

[2022-09-12 15:05] JiaeK opened #7070 "Suggestion: add another book for OCaml"
Hi, thanks for the great repo.

I couldn’t find `OCaml from the very beginning (by John Whitington)` book from the OCaml section.
This book became available for free in February, thanks to a grant from the OCaml Software Foundation. If you’d confirm this (and if you’d like), I could open a PR.

[2022-09-12 16:00] davorpa commented on #5526
Sorry spanglish!! "tackle", "board in", "start with"

[2022-09-13 10:24] #7070 closed

[2022-09-13 11:04] JiaeK opened #7073 "Suggestion: add another playground for OCaml"
[OCaml.org](https://ocaml.org/) has launched [a new playground](https://ocaml.org/play) for its newer version (version 3) website on April 29th, this year. And I’ve only found [the former one (Try OCaml)](https://try.ocamlpro.com/) on this repo. So it’d be great if we could add the new one, too.

Likewise, I could open a PR for this. But for the PR, I have one question: should I add not only for [

[2022-09-13 12:15] nbehrnd commented on #7073
*Speculation:* Maybe this conveys the (potentially wrong) impression to the user the more frequently seen contributors of the project would be involved in the setup and maintenance of the software to run such a playground.  Thus, it might be more useful to indicate the existing of such sandboxes to get familiar with the languages -- either in the corresponding language, or as a separate category o

[2022-09-13 16:08] eshellman commented on #5526
go for it

[2022-09-13 16:18] eshellman commented on #7073
We try not to duplicate links. So pick one list - looks like a playground to me.

[2022-09-13 18:54] LuigiImVector commented on #6263
The telegram bot continues to work, despite some minor fixes that need to be made. Currently:
- Heroku (the hosting service I'm using for the bot) declared that it will no longer be free so I need to find a new host service;
- I had started working on a 2.0 version of the bot based on free-programming-books-search (`fpb.json`).

If the idea of having a bot on telegram you think is still interestin

[2022-09-14 17:54] #7055 closed

[2022-09-14 21:26] #6003 closed

[2022-09-17 07:26] Prashant-Bhapkar opened #7085 "Broken Link"
[Docker Cheat Sheet (🇪🇸)](https://helmcode.com/blog/docker/docker_cheat_sheet) - Cristian Córdova, HelmCode (HTML)

The above link does not exist.
Request to change the link or to replace it with a new source.

[2022-09-17 11:01] davorpa commented on #7085
Address #6942  for

https://github.com/EbookFoundation/free-programming-books/blob/4d678252fe8ba1929460ed1c67d7f84835aa0a99/more/free-programming-cheatsheets.md?plain=1#L96

[2022-09-17 11:03] davorpa commented on #7085
New url... https://helmcode.com/posts/docker-cheat-sheet

[2022-09-17 15:45] GH05T-HUNTER5 commented on #7085
@Prashant-Bhapkar
They will check and update it
wait

[2022-09-18 13:50] #7073 closed

[2022-09-20 21:28] davorpa commented on #7085
Resolved by #7088

[2022-09-20 21:28] #7085 closed

[2022-09-24 09:05] ayeshag7 opened #7105 "Add Django Cheat sheet"
Add Django cheat sheets. Here are some good ones I found:

A good overview:
https://dev.to/ericchapman/my-beloved-django-cheat-sheet-2056

About models and databases:
https://www.codecademy.com/learn/data-in-django/modules/django-models-and-databases/cheatsheet

[2022-09-24 09:06] ayeshag7 opened #7106 "Add Django Cheat sheets"
Add Django cheat sheets. Here are some good ones I found:

A good overview:
https://dev.to/ericchapman/my-beloved-django-cheat-sheet-2056

About models and databases:
https://www.codecademy.com/learn/data-in-django/modules/django-models-and-databases/cheatsheet

[2022-09-24 10:47] #7105 closed

[2022-09-24 13:55] 3293172751 opened #7109 "菜鸟的成长手册"
- 项目地址：https://github.com/3293172751/Block_Chain

- 类别：C++、CSS、Go、Java、JS、Python、书籍

- 项目标题：区块链以及Go语言的学习笔记和路线

- 项目描述：Block_Chain是区块链开发笔记和项目代码，包含区块链路线，Go语言学习路线，Go语言笔记，Go语言开发后端路线，密码学原理，fabric，hyperledger，docker容器技术，git，nginx，区块链原理，基本框架，IPFS技术，pbft共识算法，Go语言开发的项目，区块链的开发项目，redis技术（三主三重和主从扩容）和分布式算法，加密货币开发流程，将其上传到GitHub

- 亮点：内容精细，知识范围广，内容全，供大众学习（无论你是想从事区块链或者Go语言相关工作）
- 示例代码：（可选）
- 截图：（可选）gif/png/jpg
-

[2022-09-24 13:58] Rituraj-13 commented on #7106
Hey, I want to work on this, can you assign me for this?

[2022-09-24 18:29] eshellman commented on #7109
doesn't look like a book

[2022-09-24 18:29] #7109 closed

[2022-09-25 04:19] pAkalpa commented on #6263
@LuigiImVector Did you tried [render](https://render.com/) Cloud Platform?

[2022-09-25 15:22] GautamSingh6599 opened #7112 "Book link not working"
[Playtime with Hyperledger Composer](https://schadokar.dev/ebooks/playtime-with-hyperledger-composer/) - Shubham Chadokar (PDF)
This book link is not working, please fix or remove from repo.

[2022-09-26 03:43] #7112 closed

[2022-09-28 05:08] Rahul-Bhati opened #7124 "want to add some programming books."
One of them is BeginningNodejs , JavaScript Patterns - Stepanov , PHPOracleWeb etc.

[2022-09-28 06:48] nbehrnd commented on #7124
If you want to add a resource

+ identify the web address to access the material
+ check if the authors/the publishers permit a public share of the material
+ see how others prepared and submitted a pull request, and adopt this pattern
  for your contribution.  On the main page, a dedicated section «How to
  contribute» provides additional hints and examples to facilitate this.

[2022-09-28 13:18] shivam-Purohit commented on #6783
hey can I work on this , if not done already?

[2022-09-28 14:12] eshellman commented on #6783
use the issue comments, please

[2022-09-28 14:28] JayrajSingh65 opened #7126 "YouTube course in the Hindi language"
Hey,

- I want to add some YouTube channels that provide content related to programming languages in Hindi.

- This course will be helpful for people who want to learn in  Hindi.

- I want to work on this issue.

[2022-09-28 14:48] Girlwithasmile opened #7127 "Cheatsheet"
I am a hackthoberfest contributer and want to add some cheatsheets prepared by me.

[2022-09-28 16:01] LuigiImVector commented on #6942
there are still many links to be fixed

[2022-09-28 17:18] Atharv-Nalwade commented on #7126
Really good thing that someone is listing sources to learn programming in Hindi language I do know such channels can you assign me this issue ?

[2022-09-29 02:46] JayrajSingh65 commented on #7126
I am working on this issue, so you can go for other languages like Tamil or other native language .

[2022-09-29 03:25] Atharv-Nalwade commented on #7126
Ok
Just a doubt:
1. Will this issue be considered under hactoberfest 2022 ?

[2022-09-29 03:26] JayrajSingh65 commented on #7126
Yes bro

[2022-09-29 03:29] JayrajSingh65 commented on #7127
- Which topic cheat sheet you want to add?

[2022-09-29 03:34] Atharv-Nalwade commented on #7126
Ok I will do the issue but I will submit it when hacktoberfest starts accepting the PR's till that time I solve the issue
Kindly consider that

[2022-09-29 03:35] JayrajSingh65 commented on #7126
Ok 🙌

[2022-09-29 15:23] eshellman commented on #7127
Note, we do not host books cheatsheets etc. If your sheets are published on a website (not a file-sharing site) you can add a link to it.

[2022-09-29 15:23] #7127 closed

[2022-09-29 15:24] #7126 closed

[2022-09-29 15:34] JayrajSingh65 commented on #7126
Ok I will consider this

[2022-09-30 17:13] hitaarthh commented on #7106
Hello Contributors,

I have been learning django for a while now and therefore i feel i can potentially contribute to this issue.

[2022-09-30 17:29] hitaarthh commented on #7124
Can i take up this issue, can you assign this to me?

[2022-09-30 19:51] ashuvsh commented on #7124
Programming with java

[2022-09-30 19:53] PandeySomya77 opened #7143 "I want to add Operating System book in this repo"
I want to add Operating System book in this repo

[2022-09-30 21:37] nikki2606 commented on #7143
Hi! Can I take this one?

[2022-10-01 00:03] PratyayDhond opened #7149 "I wanted to Add 'Operating Systems Concepts 10th Edition' book"
I personally have found this book very useful and I have got it's free copy as well which is legal to download for anyone it seems. Looking forward to contribute it to this repo <3.

[2022-10-01 00:04] PratyayDhond commented on #7149
@eshellman please look into this

[2022-10-01 03:25] davorpa commented on #7124
@nbehrnd told you all

[2022-10-01 03:25] #7124 closed

[2022-10-01 04:23] starvader13 commented on #6942
I am new to open-source. I want to work on this issue ... Can you please assign this to me?

[2022-10-01 05:15] keerthanasathya opened #7163 "I want to add 'Atlassian-Git-Cheatsheet'"

[2022-10-01 06:45] Prashant-Bhapkar opened #7172 "I want to add WEB3 content"
Looking forward to adding content related to web3 technology.

[2022-10-01 07:31] ahhzaky opened #7180 "I want to add podcast from indonesia"

[2022-10-01 08:44] davorpa commented on #7163
Could you provide the URL?

[2022-10-01 08:46] davorpa commented on #7172
Could you provide urls? Or.. are you be able to submit a PR

[2022-10-01 08:47] davorpa commented on #7180
Please, provide the url if you want someone help you with the PR, if not... submit it directly

[2022-10-01 08:51] keerthanasathya commented on #7163
file:///C:/Users/keers/Downloads/SWTM-2088_Atlassian-Git-Cheatsheet.pdf

[2022-10-01 08:53] keerthanasathya commented on #7163
https://www.atlassian.com/git/tutorials/atlassian-git-cheatsheet

[2022-10-01 09:23] keerthanasathya commented on #7163
I am not able to push origin in my forked repository, it says "It looks like you don't have write access to keerthanasathya/free-programming-books. If you should, please check with a repository administrator". Can you help me out with this sir?!

[2022-10-01 09:25] Ysoap commented on #7180
https://www.youtube.com/watch?v=sKrri__gMIQ

[2022-10-01 09:39] keerthanasathya commented on #7163
#7190

[2022-10-01 09:40] Prashant-Bhapkar commented on #7172
Check out:
Added Web Content and Update free-programming-cheatsheets.md #7186

Looking forward to merging this PR with label hactoberfest-accepted

[2022-10-01 09:56] LuigiImVector commented on #6942
There is a limit about the people assigned to an issue, I think it's best not to assign this issue to anyone, you can still create a pull request to help

[2022-10-01 10:11] Kampftoast opened #7195 ""Symfony 5: Auf der Überholspur " link returns Unmaintained Version"
When I try to access the following ebook: "Symfony 5: Auf der Überholspur" listed in: /main/books/free-programming-books-de.md#symfony the website tells me that this ebook is no longer maintained because it refers to an outdated Symfony version.

The link is: https://symfony.com/doc/5.0/the-fast-track/de/index.html

My proposed change would be to always refer to the current version of this book. S

[2022-10-01 10:15] Kampftoast commented on #7195
I've changed the markdown file and the description to always point at the current version.

[2022-10-01 10:18] Ashish-khanagwal opened #7199 "Want to add DevOps Resources"
I want to add a bunch of DevOps resources like podcasts, ebooks, and tutorials.

You can check out the ebook's link [here](https://www.pdfdrive.com/the-phoenix-project-a-novel-about-it-devops-and-helping-your-business-win-e177508710.html)

[2022-10-01 10:48] Ashish-khanagwal commented on #7163
hey, @keerthanasathya It seems, you're trying to push changes to the `main` branch. If this is the case try to change the branch by hitting the command `git checkout -b <your-branch-name>` and then push your changes.

[2022-10-01 11:04] Heismanish opened #7204 "I want to add some Kotlin and git resources."
I have a few amazing kotlin and git resources that I would like to add.
[A Kotlin book](https://www.pdfdrive.com/head-first-kotlin-e196919920.html)
[Kotlin course by Phillip Lackner](https://youtube.com/playlist?list=PLQkwcJG4YTCRSQikwhtoApYs9ij_Hc5Z9)
[Complete Git and Github tutorial](https://youtu.be/apGV9Kg7ics)

[2022-10-01 11:12] strngpowty commented on #7204
I would like to work on this issue, can you assign me ?

[2022-10-01 12:14] umadhatri opened #7211 "I want to add a Telugu language blog"
Hey everyone! I want to add a Telugu language blog about C. It is partially in telugu and partially in English. Can I add the blog to the list? If I can please let me know! Thank you and cheers!

[2022-10-01 12:45] manishtambe commented on #7143
Can I add OS book in repo ?

[2022-10-01 13:57] ojasaklechayt commented on #7211
Hey!! In my opinion, I think you can add it in Telugu Section. It would be great.

[2022-10-01 14:07] umadhatri commented on #7211
Great! I'll add that blog

[2022-10-01 14:26] dp-lisin11 opened #7225 "I want to add websites which give best tutorials and materials for free"
online platform is more precise and can help learn better so there should be learning websites for languages too

[2022-10-01 15:20] akshaykhoje commented on #7225
Please assign this issue to me. I'll be more than happy to give away all my resources to the community for learning purposes.

[2022-10-01 18:52] #7163 closed

[2022-10-01 19:37] harshdew02 commented on #7204
I would like to work on Git and the GitHub tutorial please assign me, also I can write this tutorial in Hindi...

[2022-10-01 19:58] #7195 closed

[2022-10-02 00:09] davorpa commented on #7199
Sorry but this book has copyright. We only accept free resources

[2022-10-02 00:09] #7199 closed

[2022-10-02 00:22] davorpa commented on #7211
As same reason that closes PR... Blogs are out of scope of this repo

[2022-10-02 00:22] #7211 closed

[2022-10-02 00:26] davorpa commented on #7225
Easy, if you want to add something... read first CONTRIBUTING carefully, then send a PR

[2022-10-02 00:26] #7225 closed

[2022-10-02 00:27] davorpa commented on #7143
To add resources to this repo, please, read CONTRIBUTING carefully, then send a PR

[2022-10-02 00:27] #7143 closed

[2022-10-02 09:53] sanu-020 opened #7322 "I want to add Computer Graphics Book"

[2022-10-02 10:16] swastikgithub09 opened #7323 "merging algorithm and datastructure in index in free-courses-hi.md"
The Algorithms and Data Structures are two different contents in the Index. I was suggesting that if we combine both algorithm and data structure and then add all the common courses(of DS and Algo) under it then, make two subheadings algorithms and datastructure so that i can insert exlusive courses(i.e, algo courses under Algo section and ds courses under DS section). Doing this will make free-co

[2022-10-02 10:17] Kampftoast opened #7324 "Dead link "Einstieg in Visual Basic 2010 - Thomas Theis (Online)""
The Book "Einstieg in Visual Basic 2010" in /main/books/free-programming-books-de.md leads to a 404-page.

I did not find another link to a free version of this book, my proposal would be to just remove this link.

[2022-10-02 11:16] AyushBorage28 commented on #7322
Hey,
Experienced Web Developer here.
Please assign this issue to me
Thank you

[2022-10-02 11:55] Kanishk0412 opened #7331 "I want to add some C++ Notes"

[2022-10-02 12:38] Miladxsar23 commented on #3854
salam

[2022-10-02 15:30] Heismanish commented on #7204
These resources have been already added, so closing the issue.

[2022-10-02 15:30] #7204 closed

[2022-10-02 16:13] kanikamalhans opened #7357 "I want to add more courses to free-courses-hi.md"
I have many courses in DSA, Flutter, HTML CSS, etc to add in free-courses-hi for adding, Kindly assign me this issue.

[2022-10-02 16:54] kanikamalhans commented on #7357
I have more than 20 courses to be added

[2022-10-02 19:21] Ervin0307 commented on #7331
Hello, I would like to work on this issue. Please assign it to me.

[2022-10-02 20:04] #7106 closed

[2022-10-02 21:15] #7324 closed

[2022-10-03 03:06] ravi0900 opened #7376 "Add new hindi and english course"
Please merge my pr
https://github.com/EbookFoundation/free-programming-books/pull/7217/

[2022-10-03 06:25] Aarize29 commented on #7357
Please Merge My Pr
#7386

[2022-10-03 06:26] Aarize29 commented on #7376
Please merge my PR
#7386

[2022-10-03 08:10] Swarax007 opened #7395 "New resources added successfully accept my PR"
I have added many courses on Game development,Web development,Docker,C#  along with resources in Hindi

Please accept my PR

[2022-10-03 09:21] arushmangal opened #7399 "Added Game Dev Course"
Please look into PR #7383
Please merge it once reviewed
Thanks!

[2022-10-03 09:22] arushmangal opened #7400 "Added Hindi Python Course"
Please look at PR #7387
Please merge it once reviewed
Thanks!

[2022-10-03 09:23] arushmangal opened #7401 "Added Free Robotics Course in English"
This is PR #7388
Please merge it once reviewed
Thanks!

[2022-10-03 11:21] #7376 closed

[2022-10-03 13:12] 42kkkkkaren opened #7414 "Added Free Ebook in PT/BR"
I already made a commit, can you guys please allow it? I wish I can help this repo!

[2022-10-03 15:15] Sadeedpv opened #7425 "Failed to load the data from the following link"
The link provided in the README.md file (https://ebookfoundation.github.io/free-programming-books-search/) failed to load data and shows the following error:
[code]

[2022-10-03 15:51] liutng opened #7430 "Added a source code analyzing GitHub repository in Chinese"
Hi,
I'm so happy to make my first contribution to the open source community. For my first contribution, I added an online GitHub repository for Android source analysis in Chinese with Pull Request #7429. I would appreciate that if you could help me to review and merge it, which I would think may help other people in this community. I am looking forward to building this community together to make i

[2022-10-03 16:37] abhaymishra0003 commented on #7331
what type of notes

[2022-10-03 18:28] ayeshag7 opened #7456 "Add a beginner friendly Data Science course in the free-courses-en.md"
There's a free data science course by the name of 'Applied Data Science with Python' offered by cognitiveclass.ai which I personally found very helpful to understand the fundamentals at the start of my data science journey. The learning path includes three separate courses or modules;

Python for Data Science
Data Analysis
Data Visualization

Below is the link:
https://cognitiveclass.ai/learn/data

[2022-10-03 20:16] metabiswadeep commented on #7425
Link works fine for me.

[2022-10-03 20:33] metabiswadeep opened #7463 "Add new bengali book on C++"
Need to add new bengali books on C++ as none are listed.

[2022-10-04 02:35] calixtocarolina commented on #7414
I would like to have some PTBR ebooks, so please let me know if this can be done!

[2022-10-04 02:52] sangwani-coder opened #7483 "This site can’t be reached"
The link provided in `free-programming-books-langs.md` (https://learnbyexample.github.io/100_page_python_intro/) cannot be loaded.

``ERR_TIMED_OUT``

[2022-10-04 02:53] sangwani-coder commented on #7483
learnbyexample.github.io took too long to respond.

[2022-10-04 03:37] nclements commented on #7483
May have been a temporary glitch; I'm having no problems seeing the site.

[2022-10-04 04:57] liutng opened #7495 "Removed some inaccessible links in Chinese programming book"
Hi,
I found there are some links in Chinese programming books that are inaccessible and I removed them in Pull Request [7494](https://github.com/EbookFoundation/free-programming-books/pull/7494).

[2022-10-04 06:31] #7483 closed

[2022-10-04 06:32] sangwani-coder commented on #7483
The site may blocked in my country. I successfully connected with a VPN

[2022-10-04 07:16] RP2025 commented on #7331
I have some personalised Notes based on C++ for Data Structure and Algorithms
kindly assign me this issue.
@Kanishk0412

[2022-10-04 07:21] #7399 closed

[2022-10-04 07:21] #7401 closed

[2022-10-04 07:21] #7400 closed

[2022-10-04 07:47] davorpa commented on #7425
It works well

[2022-10-04 07:47] #7425 closed

[2022-10-04 08:00] keerthanasathya opened #7507 "Add 'Algorithm Notes for Professional' Book PDF"
This book provides a detailed explanation of algorithms from the start for beginners to understand in a better way.

[2022-10-04 08:14] ShivamPathak99 opened #7511 "The Official Raspberry Pi Handbook 2023"
## I want to update the Raspberry Pi Section by adding official Handbook.

## For resources
[The Official Raspberry Pi Handbook 2023 (204-page PDF)](https://magpi.raspberrypi.com/books/handbook-2023/pdf/download)
### Description
It is the most recent edition of official Raspberry Pi Handbook. It consists of collection of Inspirational projects which totally belongs to DIY category.

### Why is thi

[2022-10-04 08:42] davorpa commented on #7357
Resolved by #7359, Resolved by #7358

[2022-10-04 08:42] #7357 closed

[2022-10-04 08:44] davorpa commented on #7395
Resolved by #7394

[2022-10-04 08:44] #7395 closed

[2022-10-04 08:46] davorpa commented on #7430
Resolved by #7429

[2022-10-04 08:46] #7430 closed

[2022-10-04 09:01] davorpa commented on #7507
Are you talking about https://goalkicker.com/AlgorithmsBook/AlgorithmsNotesForProfessionals.pdf?

[2022-10-04 09:03] #7331 closed

[2022-10-04 09:11] keerthanasathya commented on #7507
Yes sir!

[2022-10-04 09:11] davorpa commented on #7323
Think in the conflicts that will stuck other PRs. Wait to hacktoberfest end

[2022-10-04 09:15] #7322 closed

[2022-10-04 09:41] ayush0801 commented on #7463
#7462 I want to add a new C++ computer programming book in Bengali as there are none. There is one for C programming language but I wanted to add for C++. The author of the book is Mahmudul Hasan.
[c_programming_bangla_book.pdf](https://github.com/EbookFoundation/free-programming-books/files/9704625/c_programming_bangla_book.pdf)

[2022-10-04 09:43] keerthanasathya opened #7519 "Add 'Matlab Programming Fundamentals' PDF"
This book provides a detailed explanation of matlab from the start for beginners to understand in a better way.

[2022-10-04 10:34] Rohanfizz commented on #7519
Can you please assign this issue to me :)

[2022-10-04 11:44] swastikgithub09 commented on #7323
Okay, i will start doing it immediately when the hacktoberfest will end :+1:

[2022-10-04 12:31] vipul-2003 commented on #7049
i am interested to work , but please explain in details , what exactly i have to do ?
@davorpa

[2022-10-04 14:56] Geetanjaligupta123 opened #7535 "Add DBMS Learning Resource"
I want to add DBMS Learning resources.

[2022-10-04 15:04] Geetanjaligupta123 commented on #7535
I want to add DBMS Book and youtube best resources to learn DBMS in a better way for beginners.
Can you please assign this issue to me :)

[2022-10-04 17:00] keerthanasathya commented on #7519
You are not supposed to do that, this is my issue! I can report about this, this is against Hactoberfest guidelines.

[2022-10-04 17:05] toukirkhan commented on #7519
@eshellman how can you merge someone else's PR on someone else's repo isn't it against the hacktoberfest guidelines?

[2022-10-04 17:12] keerthanasathya opened #7550 "Add 'Python and Tkinter programming'"
Adding Python and Tkinter programming book which is free of cost and beginner-friendly.

[2022-10-04 18:12] Rohanfizz commented on #7519
@keerthanasathya first of all, I'm sorry, I was unaware of how this repo worked. Issues are generally not raised by the ones who can fix that, When I saw that issue, there was no PR made to fix that. I thought this feature was requested by a moderator who I thought was you. Just advising you for the future, do PR as soon as you can in future as this might provoke others to fix the issue ASAP.

@to

[2022-10-04 18:14] keerthanasathya commented on #7519
But I just created the issue back then, how come it's late?! Not fair at all.

[2022-10-04 18:17] Rohanfizz commented on #7519
I think you are new to open source contribution.
Issues on github are never kept on waiting. If you know the fix, you do the fix.
Make a PR as soon as possible.

[2022-10-04 18:19] keerthanasathya commented on #7519
Anyways thanks Rohan for teaching me this!

[2022-10-04 18:21] toukirkhan commented on #7519
@Rohanfizz yes it's my bad that commented wrong at first place.

[2022-10-04 18:21] Rohanfizz commented on #7519
We all are here to learn and share :)
If you are starting out open source contribution through I can suggest you some good first-timer repos :)

[2022-10-04 18:22] Rohanfizz commented on #7519
We cool brother 🤜🤛

[2022-10-04 20:03] ys1113457623 commented on #7535
https://github.com/EbookFoundation/free-programming-books/pull/7566

**Few resources added**

[2022-10-05 01:39] ayeshag7 commented on #7456
I can work on this issue. You can assign this to me.

[2022-10-05 03:44] torn4dom4n opened #7581 "Use GitHub issue forms in ISSUE TEMPLATES"
GitHub released [issue forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms). Could I create some new templates?

[2022-10-05 03:56] Rituraj-13 opened #7583 "Add Dart Cheatsheet"

[2022-10-05 03:57] Rituraj-13 commented on #7583
Hey, I want to contribute on this. Can you please assign this to me?

[2022-10-05 04:45] muhtalhakhan opened #7586 "Want to add NLP Course from Zero to Hero in Hindi/Urdu."
Hey there,

I wanted to add a NLP course from zero to hero which is in hindi/urdu for which I couldn;t any course file to edit, can you add that course file so that I can edit and merge my PR with it after the creation.

Looking forward!

[2022-10-05 08:30] Rijudas149 commented on #7583
Hey, I can work on this topic. May I be assigned on this topic?

[2022-10-05 08:33] Rijudas149 opened #7602 "Want to add SCSS cheat sheet"
A cheatsheet on SCSS

[2022-10-05 08:34] Rijudas149 commented on #7602
Can I work on this issue?

[2022-10-05 09:28] ayeshag7 commented on #7456
@davorpa Can you please assign this issue to me?

[2022-10-05 09:53] Terra-01 opened #7608 "Want to add a beginner friendly DSA course in Hindi by Love Babbar."
## **I want to add a beginner friendly DSA course in C++ in Hindi made by Love Babbar.**
### For Resources
YouTube Playlist - https://youtube.com/playlist?list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA
### Description
This playlist has been curated for everyone regardless of the year, stream, branch etc. with 140 Lectures, 100 hours of Content, 250+ Questions, Handwritten Notes.... pretty much everything

[2022-10-05 09:56] Terra-01 commented on #7608
### **This is the video where he explains about the course:** https://youtu.be/9kQ1JUDleWg

[2022-10-05 10:42] Terra-01 commented on #7608
###  **Made the Changes -** https://github.com/EbookFoundation/free-programming-books/pull/7610

[2022-10-05 10:44] Terra-01 commented on #7608
### Please Review

[2022-10-05 12:38] Pranathi-star commented on #7535
I also want to add a DBMS learning resource. Please assign this issue to me

[2022-10-05 12:48] yogan-gopi opened #7617 "I want to add "JAVA Cheat Sheet" by Edureka"
**JAVA Cheat Sheet** by **Edureka** is very helpful for beginners, hence adding it will be useful for the users.
Link: [JAVA Cheat Sheet](https://www.edureka.co/blog/cheatsheets/java-cheat-sheet/)

[2022-10-05 15:51] Hari70a commented on #7602
@Rijudas149
I raised this PR based on your sugestions
https://github.com/EbookFoundation/free-programming-books/pull/7624

[2022-10-05 16:11] #7495 closed

[2022-10-05 16:39] #7550 closed

[2022-10-05 16:56] ceodev18 commented on #6783
@davorpa Can you please assign this issue to me?

[2022-10-05 18:37] keerthanasathya opened #7642 "Add 'Programming with MicroPython'"

[2022-10-05 18:55] parikhparth23 commented on #7642
Created a PR - https://github.com/EbookFoundation/free-programming-books/pull/7645

[2022-10-05 19:06] yogan-gopi opened #7646 "Add a new topic "Data Structures" in Cheat Sheets and add Cheat Sheet for Complexities."
Cheat Sheets for **Data Structures** topic is missing and cheat sheets for **Complexities** (time and space) are necessary and very useful for users.

[2022-10-05 19:08] #7617 closed

[2022-10-05 19:28] princeeze opened #7650 "UI Design of Front page"
I would like to redesign the front page and link a mockup in figma, this design would keep the simplicity of the webpage while making it easier for first time users to explore and also contribute. You can assign this task to me

[2022-10-05 19:57] parikhparth23 commented on #7642
@keerthanasathya you should have updated this thread before.
Mind deleting yours and going fwd plz comment in the ticket that you are working on it.

[2022-10-05 19:59] parikhparth23 commented on #7642
@keerthanasathya both PRs are different

[2022-10-06 00:14] MtaufiqH opened #7661 "Add kotlin reference in Bahasa Indonesia"

[2022-10-06 02:59] #7511 closed

[2022-10-06 03:02] #7602 closed

[2022-10-06 03:07] Sabyasachi-Seal opened #7665 "Add a new Linux Book"
I want to add this book to the repo, I have studied this book myself and this is an amazing book to get started with.
Link: https://doc.lagout.org/operating%20system%20/linux/Beginning%20Linux%20Programming%2C%204%20Ed.pdf

[2022-10-06 03:42] Sabyasachi-Seal opened #7668 "Linux Couse (Bengali)"
Noticed that there was no Linux Book in Bengali.
Want to add this Course to the list: https://youtube.com/playlist?list=PLMTKJq4uuKqXVg7S7XujEsONl9ZVT4X0p

[2022-10-06 04:42] davorpa commented on #7650
Related with #5491

[2022-10-06 04:44] davorpa commented on #7668
This is a video course. Put it in our `courses-bn.md` files

[2022-10-06 04:46] davorpa commented on #7665
Sorry, is copyrighted content (see page 9)

[2022-10-06 04:46] #7665 closed

[2022-10-06 04:49] Sabyasachi-Seal commented on #7668
Got it 👍

[2022-10-06 04:59] davorpa commented on #7519
Please, stop discuss

@keerthanasathya Not is necessary open issues if you are be able to send the pull request (PR) :wink:. Anyway when will send, please link it writing in it description something like `Resolves NNN`, where NNN is the issue number.

[2022-10-06 05:03] davorpa commented on #7519
Anyway... resolved by #7528

[2022-10-06 05:03] #7519 closed

[2022-10-06 05:08] davorpa commented on #7642
This appears not to be an authorized distribution. Please see docs/CONTRIBUTING.md guidelines.

[2022-10-06 05:08] #7642 closed

[2022-10-06 05:08] Sabyasachi-Seal commented on #7668
PR: https://github.com/EbookFoundation/free-programming-books/pull/7674

[2022-10-06 05:18] davorpa commented on #7608
Resolved in #7295

[2022-10-06 05:18] #7608 closed

[2022-10-06 05:18] #7661 closed

[2022-10-06 05:26] davorpa commented on #7583
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-06 05:29] davorpa commented on #7535
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-06 05:31] davorpa commented on #7668
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-06 05:36] Hari70a opened #7676 "Need to have checklist for developers before making a accessible(for visually impaired persons) website"
It would be helpful to have some to do checklist for accessibility before even starting the work

[2022-10-06 05:46] Hari70a opened #7677 "Add Accessibility cheatsheet"
Easy to follow accessibility cheatsheet

[2022-10-06 05:49] keerthanasathya opened #7678 "Add 'CSS Notes for Professionals'"

[2022-10-06 05:52] Sabyasachi-Seal commented on #7668
Understood 👌. Will keep that in mind from the next time.
Thanks for letting me contribute :)

[2022-10-06 06:15] Hari70a commented on #7677
closes #7680

cc: @davorpa & @eshellman

[2022-10-06 06:19] Hari70a opened #7681 "Add SEO cheatsheet"
Add SEO cheatsheet

[2022-10-06 07:29] davorpa commented on #7677
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-06 08:45] rahulranjan74 opened #7688 "Want to add DSA And Algo cheat sheet"

[2022-10-06 11:44] kishanshinde commented on #7688
I can add dsa and  algo cheat sheet .. assign this issue to me .!
is .png fine or should it be .txt files

[2022-10-06 14:01] Abinashbunty commented on #7688
I think .txt files are fine. But maybe it is better to have .md files. Markdown files are quite easy to document and represent.

[2022-10-06 14:20] rahulranjan74 commented on #7688
can i upload then ??

[2022-10-06 14:22] davorpa commented on #7586
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-06 15:01] kishanshinde commented on #7688
how is markdown file created ??

[2022-10-06 15:11] muhtalhakhan commented on #7586
cc: @davorpa

[2022-10-06 15:16] #7668 closed

[2022-10-06 15:17] Abinashbunty commented on #7688
You can perhaps use [Stackedit](https://stackedit.io/) as an editor to write your markdown file.

And for markdown resources, you can follow: [JOHN GRUBER documentation](https://daringfireball.net/projects/markdown)

[2022-10-06 16:27] davorpa commented on #7586
Resolved by #7702

[2022-10-06 16:27] #7586 closed

[2022-10-06 18:06] yogan-gopi opened #7717 "Add DSA category in Course section of Tamil language."
There are no courses available on **DSA(Data Structures and Algorithms)** in **Tamil** language.

[2022-10-06 18:16] knguyen100000010 opened #7719 "Add The Catalog of Design Patterns"
Add a great website about design pattern and refactoring best practices

[2022-10-06 18:21] Sabyasachi-Seal opened #7720 "[Fix] DevOps bootcamp"
Devops Bootcamp by Kunal Kushwaha is added in the Hindi Courses section, but the course is in english.

![Screenshot_2022-10-06-23-48-50-21_320a9a695de7cdce83ed5281148d6f19.jpg](https://user-images.githubusercontent.com/36451386/194389349-42b4c074-87f8-4a11-b2c5-5449cdceaea8.jpg)

[2022-10-06 18:26] RamitPahwa commented on #7720
Hey, can I fix this ?

[2022-10-06 18:34] Sabyasachi-Seal commented on #7720
Hey @RamitPahwa,

Don't worry I'll handle this issue(once assigned).

I'll also be checking some other couses under different sections if the same mistake was made.

[2022-10-06 18:38] yogan-gopi opened #7725 "Add Machine Learning Courses in Tamil language"
Machine Learning courses are not available in Tamil language.

[2022-10-07 01:45] davorpa commented on #7681
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-07 01:52] #7678 closed

[2022-10-07 01:55] davorpa commented on #7717
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-07 01:57] davorpa commented on #7725
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-07 02:03] davorpa commented on #7720
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-07 04:02] rahulranjan74 commented on #7688
thanks !

[2022-10-07 06:57] Darkdevip12 commented on #7681
Hello sir can you assign this issue to me?

[2022-10-07 08:28] Hari70a commented on #7681
@Darkdevip12 ,

Your PR seems to be duplicate, as I already have one in place.

https://github.com/EbookFoundation/free-programming-books/pull/7752

Could you please close yours.

[2022-10-07 14:45] #7719 closed

[2022-10-07 15:26] yogan-gopi opened #7776 "Add a new section DSA in courses for Tamil language"
Add a new section **DSA(Data Structures & Algorithms)** in courses for **Tamil** Language and add a playlist on DSA in Tamil

[2022-10-07 17:56] shahilpatel-3602 commented on #7650
I would like to work on this issue, please assign me this work.

[2022-10-07 22:26] #7583 closed

[2022-10-07 22:33] #7681 closed

[2022-10-08 05:35] VAIBHAVCES opened #7812 "Add Kubernetes resource"
VMWare vsphere is a very popular VMware product, and VMware provides a kubernetes guide to integrate them and use it practically.
Aim of this issue is too add free resource for it

[2022-10-08 05:42] VAIBHAVCES opened #7813 "Add free java resource"
Adding free and amazing java book complete reference

[2022-10-08 06:13] ducheharsh opened #7814 "Want to Add a book ( Mathematics for Computer Science )"
It's an MIT OCW book by Eric Lehman and F. Thomson Leighton.

[2022-10-08 07:10] davorpa commented on #7813
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-08 07:11] davorpa commented on #7812
Not is necessary open issues if you are be able to send the pull request (PR) :wink:.

Anyway, if you submit a PR, help us to autoclose this issue. How? Read this article about [how to linking a PR to an issue](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)

[2022-10-08 08:04] Junaid20001 commented on #7172
Hello sir can  you assign this issue to me

[2022-10-08 08:58] shrn01 commented on #7814
Send out a PR if it's not already there.

[2022-10-08 09:02] shrn01 commented on #6373
I would like to help too. ❤️ from India

[2022-10-08 09:28] Harsh0326 commented on #7813
Hey , can you assign this issue to me .

[2022-10-08 09:46] Harsh0326 commented on #7463
Hey @davorpa can I add book .?

[2022-10-08 10:29] ducheharsh commented on #7814
PR requested [ added a new section for 'mathematics for programming'.

[2022-10-08 11:24] honghanhh opened #7836 "Add Machine Learning courses in Vietnamese."
Add free resources for beginners in machine learning in Vietnamese.

[2022-10-08 14:15] KaivalyaVanguri opened #7844 "Add R programming books"
Add free resources for beginners in R programming

[2022-10-08 14:45] KaivalyaVanguri commented on #7844
#7845
[rprogramming (1).pdf](https://github.com/EbookFoundation/free-programming-books/files/9739518/rprogramming.1.pdf)

[2022-10-08 15:01] #7844 closed

[2022-10-08 16:37] StepanNaryshkov opened #7861 "Language format question"
I would like to ask which format you use for translation [ar, es, en etc.]
Is it language code or country code?

[2022-10-08 17:28] asdsyd commented on #6782
Can you please specify and elaborate the issue? thanks

[2022-10-08 19:09] weirdwizard20 opened #7876 "Upload the algorithm of Blackbox"

[2022-10-08 19:47] jha-om commented on #7776
can you assign this issue to me?

[2022-10-09 04:11] Hariom8799 opened #7885 "Add contributor label in readme file"
![194721540-e2c06f16-cdcf-4d0d-8f58-964f96d5fd95](https://user-images.githubusercontent.com/76242202/194737574-01255049-fdf7-4ad9-8525-549a55c8cf5e
Like that

[2022-10-09 05:37] bhavesh1456 commented on #7650
please assign me this work

[2022-10-09 08:37] c1phani1simha opened #7899 "Adding the free courses of Programming Languages in Telugu Language"

[2022-10-09 08:38] c1phani1simha commented on #7899
Hello Mr.@eshellman, I will be significantly happier contributing to this issue !!

[2022-10-09 09:12] c1phani1simha commented on #7899
Hello @eshellman, I created a new file for free courses in Programming languages in the Telugu Language; please check out this PR #7903

[2022-10-09 10:21] ahmeddz39 opened #7908 "Programming books"

[2022-10-09 10:27] Murtaza-arif opened #7909 "Add Penetration testing resources"

[2022-10-09 10:27] Murtaza-arif commented on #7909
Can I contribute to this issue

[2022-10-09 12:48] Pushkar1853 commented on #7908
I could add a few good books on ML

[2022-10-09 15:21] #7646 closed

[2022-10-09 15:22] #7717 closed

[2022-10-09 15:22] #7725 closed

[2022-10-09 15:23] #7776 closed

[2022-10-09 15:30] yogan-gopi opened #7928 "Link to redirect to the course in Machine Learning for Tamil language is not working."
When clicking the Machine Learning section from the Index it is not redirecting to the Course contents.

![image](https://user-images.githubusercontent.com/84439246/194764906-68ea5d8b-cd53-4090-8240-7fb0c702cc63.png)

[2022-10-09 16:05] shrn01 commented on #7908
@ahmeddz39 can you elaborate on what the issue is?

[2022-10-09 16:06] shrn01 commented on #7885
Hey @Hariom8799 can you elaborate on the issue?

[2022-10-09 16:07] shrn01 commented on #7676
Hey @Hari70a can you elaborate on the issue?

[2022-10-09 16:08] shrn01 commented on #7909
Please feel free to raise a PR

[2022-10-09 16:09] Hariom8799 commented on #7885
![194721540-e2c06f16-cdcf-4d0d-8f58-964f96d5fd95](https://user-images.githubusercontent.com/76242202/194767422-45ffa046-61be-43db-bc81-66f32495aa2e.png)
 Like that

[2022-10-09 18:35] Krishnapro commented on #7885
Hey, I want to work on this issue. can you please assign it to me?

[2022-10-09 19:24] ShuvamBag commented on #7908
hello sir, I want to add some books on competitive programming.

[2022-10-09 19:24] ShuvamBag commented on #7650
hello sir, I want to work on this issue.

[2022-10-09 19:25] ShuvamBag commented on #7463
hello sir, I want to work on this issue.

[2022-10-09 20:51] RajIshu commented on #7908
I can add some excellent and most-needed programming books.

[2022-10-10 04:26] asherginting opened #7954 "Link to redirect to the course Framework Codeigniter – Sebuah Panduan dan Best Practice - Ibnu Daqiqil Id, M.Ti (PDF) is not working"
![image](https://user-images.githubusercontent.com/39787908/194799144-6465747a-eebc-4f6e-a6db-cf78d07888f9.png)

![image](https://user-images.githubusercontent.com/39787908/194799208-d518096b-cd8c-470f-b5af-d5627564182c.png)

[2022-10-10 05:04] Hari70a commented on #7676
@shrn01 ,

It's similar to Todo list while doing the accessibility. I am not really sure, whether we need this.

Let me wait for @davorpa & @eshellman decision & assign it to me if it's needed.

[2022-10-10 05:24] Hari70a opened #7964 "Add webpack cheatsheet"
- Need a cheatsheet for webpack

[2022-10-10 06:16] Ishh91 commented on #7908
can I add some useful programming books?

[2022-10-10 06:16] Hari70a opened #7972 "Add webpack beginner course"
- Need to add a webpack beginner course

[2022-10-10 06:19] Ishh91 commented on #7813
Add some Java books with all references

[2022-10-10 06:54] Nitya-Pasrija opened #7974 "Handwritten Notes"
Hey, I wish to add Handwritten notes of DSA

[2022-10-10 07:21] Hari70a opened #7975 "Add GraphQL cheatsheet"
- Need to add GraphQL cheatsheet

[2022-10-10 08:12] nbehrnd commented on #7974
Do you want to submit handwritten notes in an image file/a set of images (like
the .jpeg for photos, or .png for screen shoots)?  If this were the case, it
is considerably more difficult to index/retrieve information from these file
formats than plain ASCII (.txt; or with minimal markup like .md or .org to
mention examples), or -- in case illustrations/flow charts etc. add benefit --
a .pdf includ

[2022-10-10 08:27] Nitya-Pasrija commented on #7974
I was thinking of submitting pdf files, if that's ok

[2022-10-10 09:15] #7928 closed

[2022-10-10 09:38] sandeshchapagain opened #7984 "GUI"
It would be better if those searched results got better interface of image

[2022-10-10 10:19] akp111 opened #7987 "Add solidity courses"
Add solidity courses that can be followed by begineers

[2022-10-10 10:56] BugsBunny-PG commented on #7908
can I add some useful programming books which is useful for beginners.

[2022-10-10 10:57] Harsh0326 commented on #7908
I want to contribute, pls assign me? @shrn01

[2022-10-10 11:06] BugsBunny-PG commented on #7535
I want to  add some useful resources to learn  DBMS in practical way for beginners  please assign this issue to me

[2022-10-10 11:36] BugsBunny-PG commented on #7972
I want to add course to learn webpack in practical way for beginners please assign this issue to me.

[2022-10-10 11:47] Hari70a commented on #7972
I already have a PR in place which is linked with this issue. Kindly check it.

@BugsBunny-PG

[2022-10-10 12:28] shrn01 commented on #7908
Feel free to raise a PR

Only books that are allowed for free access by the licence are accepted. Please do not share pirated links

[2022-10-10 13:02] amitaryansingh commented on #7908
Hello Maintainer,
i want to contibute on it with my idea.
can you assign it to me

[2022-10-10 13:26] oyeanmol opened #7991 "Add Best Books for Penetration Testers, Programmers and Bug Hunters"
# Best Books for Penetration Testers, Programmers and Bug Bounty Hunters

<b>1. Android Security Internals</b>: A Depth Guide to Android's Security Architecture
Book ---> [AndroidSecurityInternals](https://github.com/EbookFoundation/free-programming-books/files/9746129/AndroidSecurityInternals.pdf)
<b>2. Violent Python</b>: Python for Hackers, Forensics Analysts, Penetration Testers and Security E

[2022-10-10 13:28] oyeanmol commented on #7991
These books contains beginning to advanced knowledge

[2022-10-10 14:15] CakKhoiron commented on #5896
PR Requested, please check and merge it
#7993

[2022-10-10 19:57] raissonsouto opened #8021 "Were do I place books about semaphores (Operating Systems)"
Hello, I'm willing to contributing to the repository adding a book about semaphores, however I didn't find where to place it. May you help me, please?

[2022-10-11 00:32] #7964 closed

[2022-10-11 00:53] #7975 closed

[2022-10-11 01:34] #5896 closed

[2022-10-11 05:57] souravsasmal01 commented on #7908
Hello sir , can you assign this issue to me?

[2022-10-11 06:00] souravsasmal01 commented on #7987
Hello sir , can you assign this issue to me?

[2022-10-11 06:00] souravsasmal01 commented on #7987
Hey there, can you assign this issue to me?

[2022-10-11 06:10] yash509 commented on #7909
Hello Sir, can you Assign me this issue?

[2022-10-11 06:22] psantosh16 commented on #7987
Hey ,
@akp111
Can you assign this to me , I want to make some contributions in this issue.

[2022-10-11 06:42] Hari70a opened #8033 "Add Jest cheatsheet"
- Add Jest cheatsheet

[2022-10-11 06:58] Hari70a opened #8036 "Add Enzyme cheatsheet"
Need to add a support for Enzyme cheatsheet

[2022-10-11 07:00] Hari70a commented on #8036
@davorpa & @eshellman ,

I am planning to work on this MR once this MR #8034 got merged in order to avoid conflicts.

cc: @LuigiImVector

Thanks

[2022-10-11 07:55] msidiqh991 opened #8044 "Added a Basic Git Tutorial youtube video in Indonesian #7865"
Added a Tutorial GIT Youtube By Programmer Zaman No

[2022-10-11 07:55] msidiqh991 commented on #8044
Added a Basic Git Tutorial youtube video in Indonesian #7865

[2022-10-11 08:03] nbehrnd commented on #7974
My hesitation to recommend the submission of handwritten notes is not about
their content, but the technical approach to convey the information. If you
intend to share more than a brief cheat sheet (e.g., [1]) to cover a series of
lectures, a lack to offer quick access of a detail to search and access a
specific spot by a keyword (like Ctrl + F in many programs to read .pdf or
editors for .txt), t

[2022-10-11 08:57] CodeXstalker opened #8051 "Want to add OOPS concept book"
Hii @EbookFoundation,
There is missing OOP concept book in it this repo.

[2022-10-11 08:58] CodeXstalker commented on #8051
@EbookFoundation please assign this issue, I want to work on it.

[2022-10-11 09:23] mohan89en opened #8055 "Add a basic over view book of how programming languages work"
Before entering into different programming languages people should understand how a language is structured and how to works at machine level

[2022-10-11 09:24] mohan89en commented on #8055
I can add some good books to help this, If you kindly accept.

[2022-10-11 12:12] astitva0011 commented on #8033
can i get the opportunity for resolving this issue?

[2022-10-11 12:21] Shanna99 commented on #7885
i made a PR for this issue

[2022-10-11 12:43] Hari70a commented on #8033
@astitva0011 ,
I already raised a PR for this one. If you want, I can raise one more issue for you

[2022-10-11 12:44] Hari70a opened #8068 "Add react testing library cheatsheet"
- Need to have RTL cheatsheet

[2022-10-11 12:46] Hari70a commented on #8068
@astitva0011
If you want, you can take this one

[2022-10-11 14:33] keerthanasathya opened #8077 "Add 'DP Cheatsheet'"

[2022-10-11 14:57] Anuragwagh commented on #8077
I will add the DP cheatsheet to the webpage and PDF format, which will be easy to access and read. Can I get this opportunity to contribute to this issue?

[2022-10-11 15:28] keerthanasathya commented on #8077
I'm doing it!

[2022-10-11 17:54] harshlancer commented on #8051
I also want to help with this issue, please elaborate.

[2022-10-11 21:08] thomasthaddeus opened #8099 "Website Share Links"
Links not appearing on website. Attached links and photo of error occurring below

[Link:](https://ebookfoundation.github.io/free-programming-books/)
+ <https://ebookfoundation.github.io/free-programming-books/>

![GithubIssueFreeEBooks](https://user-images.githubusercontent.com/92204097/195198276-871d0eb3-8c6f-4db3-a869-0fbe4d1abe12.jpg)

[2022-10-11 21:15] #8099 closed

[2022-10-12 02:57] eshellman commented on #8099
I'm confused. Is this fixed?

[2022-10-12 04:18] lakshyabhasin509 commented on #7813
I have Ninth edition of the book as a pdf can i contribute

[2022-10-12 07:22] thomasthaddeus commented on #8099
Yes it is fixed. It looks like its not showing the links only on firefox. After this fix is applied it works on firefox, edge, and chrome.

![Link To Website](https://user-images.githubusercontent.com/92204097/195275072-a3350a17-4a12-4648-b2a7-7d1b1140deb7.jpg)
![Website](https://user-images.githubusercontent.com/92204097/195275041-e5f98047-2853-4e68-80c5-6edc4c888e6f.jpg)

Let me clarify. The lin

[2022-10-12 07:29] iamkunalkeshav commented on #8068
can i add ?

[2022-10-12 07:44] Prachi257 commented on #8068
Can I add?

[2022-10-12 07:46] iamkunalkeshav commented on #8055
can i add?

[2022-10-12 10:19] KetanSadheora opened #8121 "Add a Jupyter Notebook Cheat Sheet"

[2022-10-12 10:21] KetanSadheora commented on #8121
Please assign me this issue

[2022-10-12 10:35] astitva0011 commented on #8051
!assign

[2022-10-12 11:04] astitva0011 commented on #8033
It would be nice if you can do that

[2022-10-12 11:43] Hari70a commented on #8033
@astitva0011 ,

I already created this issue.
Please check this one https://github.com/EbookFoundation/free-programming-books/issues/8068

@davorpa / @eshellman / @LuigiImVector ,

Please assign the above issue to @astitva0011

[2022-10-12 13:42] cchow33 opened #8138 "Node.js Courses/Helping material in Urdu/Hindi (Hacktoberfest-22)"
I found a helpful Node.js course in Urdu/Hindi and I think we can add it to the existing list.

[2022-10-12 13:58] astitva0011 commented on #8068
ok, thanks!

[2022-10-12 14:34] Elevenv commented on #7908
Hello sir
i would like to contribute with ny ideas.
i'll be glad if you assign it to me .
thank you..

[2022-10-12 14:37] Elevenv commented on #7876
Can you elaborate the issue please?

[2022-10-12 15:26] cchow33 opened #8150 "Adding free React course in Khmer (Cambodian) ខ្មែរ"
I noticed there aren't any React resources for Khmer speakers. I would like to add this free React tutorial to the list of resources.

[2022-10-12 15:52] astitva0011 commented on #8121
!assign

[2022-10-12 16:41] Hari70a opened #8157 "Add a chai cheatsheet"
- Need to have a chai cheatsheet

[2022-10-12 16:42] Hari70a commented on #8157
@davorpa , @eshellman , @LuigiImVector ,

Please assign it to me

[2022-10-12 17:05] sudips413 commented on #8051
assign me

[2022-10-12 17:07] sudips413 commented on #7861
language code

[2022-10-12 18:03] #8033 closed

[2022-10-12 18:26] Amit89480 commented on #6782
can you assign this issue to me please?

[2022-10-12 19:12] Nikhil562 commented on #8150
I would love to do that , can you please assign to me

[2022-10-12 22:42] muchristian commented on #8157
Please assign it to me

[2022-10-13 02:52] drashan14 commented on #8077
Hello Sir,
I would like to add DP CheatSheet for this issue.

[2022-10-13 03:14] shrn01 commented on #7814
Please link the PR to the issue so that it will be auto closed once the PR is merged

[2022-10-13 03:16] shrn01 commented on #7836
Hey @honghanhh , Opening a issue is not required to contribute, just raise a PR with the resources

[2022-10-13 03:17] shrn01 commented on #8157
Please feel free to raise a PR. Link the issue so that it will be auto closed

[2022-10-13 03:18] shrn01 commented on #8150
Opening an issue is not needed for contribution. Feel free to raise a PR with the resources

[2022-10-13 03:20] shrn01 commented on #8138
Opening an issue is not needed for contributions. Please feel free to directly raise a PR with the resources you think are free and useful

[2022-10-13 03:23] shrn01 commented on #8077
Closing this issue as PR is merged

[2022-10-13 03:23] #8077 closed

[2022-10-13 03:25] shrn01 commented on #8068
Raising an issue is not required for contributions. Feel free to raise a PR directly with the resources you think are useful and are free

[2022-10-13 03:27] shrn01 commented on #8055
Please feel free to raise a PR. Please link it to this issue so it is auto closed

[2022-10-13 05:28] davorpa commented on #6782
Please, only native-spoken chinese

[2022-10-13 05:51] Hari70a commented on #8157
I am trying to maintain some bucket for me. That's why raising an issue.

And I purposefully didn't raise the PR immediately, because there will be conflicts with my another base MR https://github.com/EbookFoundation/free-programming-books/pull/8034, which got merged yesterday. Will do now

[2022-10-13 07:34] inbuilt-aura commented on #7991
Hello, i have some advance books list, if you want I can add them for you also have eBook free of cost. Plzz give me this issue in hacktoberfest 2022.

[2022-10-13 11:42] lakshmimaurya commented on #8051
assign me

[2022-10-13 11:43] lakshmimaurya commented on #7908
Could you please assign it to me?

[2022-10-13 12:59] Sarthak0101130 commented on #7885
Can you assign me this issue??

[2022-10-13 13:14] somiyaAgarwal commented on #7885
Hey! I want to work on it . Can you assign it to me?

[2022-10-13 13:16] somiyaAgarwal commented on #8051
I want to work on this . Can you assign it to me??

[2022-10-13 13:23] astitva0011 commented on #8044
hello, i would like to work on this issue.
could you assign this issue to me?

[2022-10-13 13:46] shrn01 commented on #8051
Hey @CodeXstalker Please feel free to raise a PR if you have a valuable resource which is free. No need to raise an issue for that. Please make sure you link the issue to the PR so that it will get auto closed once the PR is merged

[2022-10-13 13:47] shrn01 commented on #8044
Closing this issue as the PR was merged

[2022-10-13 13:49] shrn01 commented on #8021
Hey @raissonsouto, i think you can place the book in books/free-programming-books-subjects.md under operating-systems

[2022-10-13 13:50] shrn01 commented on #7991
Hey @inbuilt-aura  Please feel free to raise a PR if you have any resources that you think are useful and are free. No need to raise a issue for that

[2022-10-13 13:51] shrn01 commented on #7991
@oyeanmol you can please close this issue and just create a PR with the resources you have

[2022-10-13 14:01] shrn01 commented on #7876
Hey @weirdwizard20 if you want to add a resource to the repository, please feel free to raise a Pull Request by placing it in the correct file. If there is any other query you can reply here

[2022-10-13 14:22] Jhalakupadhyay commented on #7909
can i add the resource

[2022-10-13 14:34] inbuilt-aura commented on #7991
@shrn01 will that be counted as a contribution in hacktonerfest?Cuz i am new to it

[2022-10-13 15:40] abhisek247767 opened #8241 "Add Data Analytics Cheat sheet"
Can you Give me the opportunity to add awesome python and Data Analytics Cheat sheet for the community.

[2022-10-13 15:51] kunna67 commented on #7908
Could you please assign to me? Can I add Android Books

[2022-10-13 15:52] kunna67 commented on #7535
Can you assign to me

[2022-10-13 16:11] SarojWasti opened #8247 "Add Software Construction Book"
I'm opening this issue to add a free book for software construction. [Here is the link to the book](https://www.pdfdrive.com/code-complete-a-practical-handbook-of-software-construction-d181977496.html):

Details:
Type: Book (pdf)
Pages: 914 (2nd ed.)
Author: Steve McConnell

[2022-10-13 16:44] amitdudhankar commented on #7908
I have some Machine Learning books. Could you assign this task to me Sir?

[2022-10-13 17:13] AS12-as commented on #8247
Please assign this to me @SarojWasti

[2022-10-13 17:15] AS12-as commented on #8241
please assign this to me @abhisek247767

[2022-10-13 17:31] #8247 closed

[2022-10-13 19:14] Yanur026 opened #8259 "Books"

[2022-10-13 19:41] yrhemendra commented on #7814
Sir Can i contribute to resolve the issue and give some feedback?

[2022-10-14 00:19] #5491 closed

[2022-10-14 01:40] cchow33 opened #8268 "Missing Japanese resrouces in React"
I noticed the repo didn't have a lot of good Japanese React resources. I'd like to add one here.

[2022-10-14 02:24] Hari70a commented on #8157
Closed as PR got merged

[2022-10-14 02:24] #8157 closed

[2022-10-14 02:25] Hari70a commented on #8068
Closing as PR Got merged

[2022-10-14 02:25] #8068 closed

[2022-10-14 03:09] shrn01 commented on #7814
@yrhemendra please feel free to raise a PR directly if you have any free resource in mind. No need for an issue

[2022-10-14 03:10] shrn01 commented on #7908
Hey guys, if you have a free resource in mind that you want to add to the list, please raise a PR. No need to have a issue for that.

I'm closing this issue, feel free to reopen if there are any doubts

[2022-10-14 03:10] #7908 closed

[2022-10-14 03:11] yrhemendra commented on #7814
Ok sir

[2022-10-14 03:11] yrhemendra commented on #7814
Ok sir

[2022-10-14 03:14] shrn01 commented on #7991
@inbuilt-aura any PR to this repo will be counted for hacktoberfest. No need to have an issue assigned for that

[2022-10-14 04:57] Hari70a opened #8274 "Add Jasmine cheatsheet"
- Need to have a Jasmine cheatsheet

[2022-10-14 05:24] Hari70a opened #8275 "Add Cypress cheatsheet"
- Need to have a cypress cheatsheet

[2022-10-14 05:29] Hari70a commented on #8275
I am planning to work on it.

@LuigiImVector , @eshellman , @davorpa

[2022-10-14 05:34] Hari70a commented on #8274
I am planning to work on it.

cc: @LuigiImVector , @davorpa & @eshellman

[2022-10-14 09:45] ashutosh-gupta2111 commented on #8121
Please Assign this issue to me.

[2022-10-14 10:02] ashutosh-gupta2111 opened #8288 "Competitive Programming"
To add a Cheat Sheet of important Competitive Programming algorithms.

[2022-10-14 10:02] ashutosh-gupta2111 commented on #8288
Please assign this issue to me.

[2022-10-14 11:45] deepak-kamath opened #8301 "Question : How can contributors help fix HTML and CSS components in the ebookfoundation website?"
Hey! I was wondering if contributors can help fix HTML and CSS components in the website?

[2022-10-14 12:59] raissonsouto commented on #8021
Ok, I will place it there, thanks!

[2022-10-14 13:02] #8021 closed

[2022-10-14 15:45] deepak-kamath commented on #8301
@priyangsubanerjee Hey Priyangsu! Yes I've contributed to a couple of cheatsheets through merge requests but which is the file that the website uses? I understand that the md file contents get pushed to the website but where is the CSS/style file that the website uses?

[2022-10-15 07:27] deepak-kamath commented on #8301
Noticed the html components

[2022-10-15 07:27] #8301 closed

[2022-10-15 07:31] neeraj1766 commented on #8288
assign this to me please

[2022-10-15 07:33] neeraj1766 commented on #8259
please tell me more about this issue

[2022-10-15 08:18] crescentpartha commented on #8288
Create a direct **pull request**, @neeraj1766 @ashutosh-gupta2111

[2022-10-15 08:47] crescentpartha opened #8371 "Add DOM: Client Side JavaScript Course"
Add a client-side `DOM manipulation` course in **JavaScript**

[2022-10-15 09:57] pratikjaypurkar commented on #6373
Hello everyone,
I love the idea of this repo.
amazing idea.

[2022-10-15 10:48] inbuilt-aura commented on #7991
@shrn01 hey,so should I upload books in pdf here?

[2022-10-15 10:50] inbuilt-aura commented on #7991
@shrn01, plzz help me like should i raise PR by adding a readme file ?

[2022-10-15 11:29] Hari70a commented on #8274
Closing this one as the PR for Cypress #8277 will take care

[2022-10-15 11:29] #8274 closed

[2022-10-15 14:18] Sanhati commented on #8259
what kind of books does this issue refer to?

[2022-10-15 14:20] Sanhati commented on #7987
@akp111 I would like to contribute, please do assign me this issue.

[2022-10-15 16:00] the-amitsingh commented on #8259
what type of books do you want ??

[2022-10-15 16:08] #8259 closed

[2022-10-15 17:10] Avishri99 commented on #7813
please assign it to me

[2022-10-15 18:15] burno1 opened #8429 "Add more algorithms and data structure books in PT_BR PR #8430"

[2022-10-15 18:20] burno1 commented on #8429
pr #8430

[2022-10-15 18:34] #8288 closed

[2022-10-15 19:04] #8275 closed

[2022-10-15 19:19] YashSalunke12 commented on #8429
@burno1  Assign me

[2022-10-15 19:39] #8371 closed

[2022-10-15 20:03] YashSalunke12 opened #8440 "Add Few DevOps Courses"
There are very few courses added in DevOps section, I want to add some more courses, Assign me for this!

[2022-10-15 20:13] jha-om opened #8441 "Wanna add a coding interview book"
This is one of the most important book for coding interviews.
Please assign this issue to me, I will add the book quickly and help others finding this book easily on your website.

[2022-10-15 20:14] burno1 commented on #8429
@YashSalunke12 no need, the PR is already created. You can check it on pr https://github.com/EbookFoundation/free-programming-books/pull/8430

[2022-10-15 22:22] #8429 closed

[2022-10-15 22:24] Itguyyyyyy opened #8447 "Add Programming books For Hackers"
.

[2022-10-15 23:15] 0fs3c commented on #8447
Please assign this to me

[2022-10-16 02:51] souravsasmal01 commented on #7987
Hey ,
@akp111
Can you assign this to me , I want to make some contributions in this issue.

[2022-10-16 06:08] Zaid-Parkar commented on #8447
I'll do this GitHub task for you.

[2022-10-16 06:09] Zaid-Parkar commented on #8440
I'll do this GitHub task for you.

[2022-10-16 06:09] Zaid-Parkar commented on #8241
I'll do this GitHub task for you.

[2022-10-16 06:51] montu2003 commented on #8447
hello sir, can you assign this to me... i am a bug bounty(ethical hacker) hunter so I can do this task for you

[2022-10-16 09:03] Itashamodi commented on #8441
please assign me the issue, I want to add some best coding books

[2022-10-16 09:04] Itashamodi commented on #8447
I am interested in doing this task, please assign me

[2022-10-16 09:56] namitaarya commented on #8051
Is this issue still open for contribution?

[2022-10-16 10:16] BugMasterArka commented on #7535
Can I please get assigned to this issue?

[2022-10-16 10:26] LuigiImVector commented on #6263
nice website but I preferred to host it on a VPS from DigitalOcean

[2022-10-16 10:34] getcoder-top commented on #7987
Hiii apk111,
can you please assign this issue to me, i am currently working on blockchain can suggest some good books

[2022-10-16 12:22] shrn01 commented on #8051
Hey @namitaarya you do not need a issue to contribute. Feel free to raise a PR directly with the resources

[2022-10-16 12:35] shrn01 commented on #8241
@abhisek247767 Feel free to raise a PR. Link this Issue so this is autoclosed

[2022-10-16 12:37] shrn01 commented on #8268
Closing this issue as the PR was merged. In future if you want to add any resource, feel free to raise a PR directly. No need for raising an issue

[2022-10-16 12:37] #8268 closed

[2022-10-16 12:38] shrn01 commented on #8440
@YashSalunke12 Feel free to raise a PR. Link this issue so that it is autoclosed. In future if you want to add a new resource feel free to raise a PR directly.

[2022-10-16 12:38] shrn01 commented on #8441
@jha-om Feel free to raise a PR for it. Link this issue so that it's autoclosed. In future feel free to raise a PR directly if you want to add a new resource. No need for an issue

[2022-10-16 12:39] shrn01 commented on #8447
@Itguyyyyyy Feel free to raise a PR for it. Link this issue so that it's autoclosed. In future feel free to raise a PR directly if you want to add a new resource. No need for an issue

[2022-10-16 12:40] shrn01 commented on #7991
Hey @inbuilt-aura. Add a link of the resource (Official links) to the respective file and raise a PR. Adding the pdfs is not supported. Please read Contributing.md for more information

[2022-10-16 12:41] shrn01 commented on #7987
@akp111 Feel free to raise a PR for it. Link this issue so that it's autoclosed. In future feel free to raise a PR directly if you want to add a new resource. No need for an issue

[2022-10-16 12:43] shrn01 commented on #7987
@psantosh16 @Sanhati @souravsasmal01 @getcoder-top hey please raise a PR directly if you have a free resource you want to share. No need for an issue for that. Ready [Contributing.md](https://github.com/EbookFoundation/free-programming-books/blob/main/docs/CONTRIBUTING.md) for more information

[2022-10-16 12:45] shrn01 commented on #7885
Do we really need this?

[2022-10-16 12:51] akp111 commented on #7987
Hey @shrn01
I have raised this PR
https://github.com/EbookFoundation/free-programming-books/pull/8091

[2022-10-16 12:51] NeamulIslamFahim opened #8494 "Java Bangla (বাংলা) tutorial for beginners"
Java Bangla (বাংলা) tutorial for beginners video contributed

[2022-10-16 13:47] codingsagar commented on #8494
Please assign this issue to me as soon as possible.

[2022-10-16 14:14] NeamulIslamFahim commented on #8494
How can I assign you?

[2022-10-16 14:29] Sarthak0101130 commented on #7885
Issue says it not me !! Sent from Mail for Windows From: Sharan JSent: 16 October 2022 18:15To: EbookFoundation/free-programming-booksCc: Sarthak0101130; CommentSubject: Re: [EbookFoundation/free-programming-books] Add contributor label in readme file (Issue #7885) Do we really need this?—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you commented.M

[2022-10-16 15:25] shrn01 commented on #8494
Hey @NeamulIslamFahim please feel free to raise a PR for it. Also link this issue so that it may be auto closed. In the future please feel free to raise a PR directly if you want to add a new resource. No need for an issue

[2022-10-16 15:46] NeamulIslamFahim commented on #8494
ok. Will you update the subject that I have contributed soon?

[2022-10-16 15:52] codingsagar commented on #8494
No thanks I will make a PR for other recourse. But they really merge our PR because I saw many pending PR'S which have to merged

[2022-10-16 15:54] NeamulIslamFahim commented on #8494
Won't my contribution be merged in the main branch?

[2022-10-16 16:33] shrn01 commented on #8494
@NeamulIslamFahim the new contributions are directly committed to the main branch. so changes should be instantaneous

[2022-10-16 16:33] shrn01 commented on #8494
Please close the issue if it is solved

[2022-10-16 16:46] NeamulIslamFahim commented on #8494
Thanks

[2022-10-16 16:46] #8494 closed

[2022-10-16 17:39] ashutosh-gupta2111 commented on #8441
please assign me the issue

[2022-10-16 17:40] ashutosh-gupta2111 opened #8514 "Add Graph Problems CheatSheet"
Can Add Graph Problems CheatSheet?

[2022-10-16 17:40] ashutosh-gupta2111 commented on #8514
Can you please assign me this issue?

[2022-10-16 19:42] Abhiuday03 commented on #6942
Fixed links #8521

[2022-10-16 20:08] congo11 commented on #8514
[](url)
[javascript cheatsheat.txt](https://github.com/EbookFoundation/free-programming-books/files/9795564/javascript.cheatsheat.txt)

[2022-10-17 02:02] NeamulIslamFahim commented on #8494
Why Java Bangla tutorial for Beginner is still not merged?

[2022-10-17 02:42] #7954 closed

[2022-10-17 02:46] #7456 closed

[2022-10-17 02:46] #7507 closed

[2022-10-17 02:48] eshellman commented on #7676
@Hari70a please elaborate on the issue

[2022-10-17 02:49] #7720 closed

[2022-10-17 02:50] #7876 closed

[2022-10-17 02:51] eshellman commented on #7885
we hVE TOO Mny contributors for this

[2022-10-17 02:51] #7885 closed

[2022-10-17 02:52] #7987 closed

[2022-10-17 02:52] #7984 closed

[2022-10-17 03:52] Hari70a commented on #7676
@eshellman ,
It's an accessibility checklist , that dev can use and mark it complete, once completed.

Not sure whether we need it.

Thank you

[2022-10-17 04:53] Curovearth opened #8530 "Adding Persuasive Technology podcasts?"
With the current time where everyone is being persuaded by technology be it ethically or unethically as was stated by **B.J Fogg** in his book "**Persuasive Technology: Using computers to change what we think and do**".

Can I add some podcasts on this particular topic under the "[casts/free-podcasts-screencasts-en.md](https://github.com/EbookFoundation/free-programming-books/blob/main/casts/free-

[2022-10-17 07:08] inbuilt-aura commented on #7991
@shrn01 just like @oyeanmol did correct. But like, for that you need to assign me, right?

[2022-10-17 07:09] inbuilt-aura commented on #7991
@shrn01 should i comment like here just like @oyeanmol did?

[2022-10-17 16:04] shrn01 commented on #7991
@inbuilt-aura No. If you want to know how to raise a Pull Request, head on to [First Contributions](https://github.com/firstcontributions/first-contributions)

[2022-10-17 16:20] vineetvardhan27 commented on #8530
hi, sir can you assign this project to me.

[2022-10-17 19:07] anshulkumar2311 commented on #8441
Please assign this issue to me. I will handle this issue

[2022-10-17 20:31] getcoder-top commented on #6901
as we look to the words, the course is a recorded course while the screencast is a live class.

[2022-10-18 09:03] ARYASINGHBJC opened #8597 "Add Software architecture book"
Designing Data-Intensive Applications by Martin Kleppmann especially helps in making decisions about the architecture of the systems you work on.

[2022-10-18 13:32] UdayHaldkar commented on #7535
I want to add some DBMS notes for beginners to Advance.

[2022-10-18 14:54] vineetvardhan27 commented on #8530
hi can you assign this project to me

[2022-10-18 16:23] ajs1220 commented on #8241
pr #8584

[2022-10-18 16:46] Cipher-unhsiV commented on #8597
@ARYASINGHBJC can you assign me?

[2022-10-18 17:21] Cipher-unhsiV opened #8633 "Add Qiskit textbook"
Can I get an opputunity to add this super-useful "Qiskit" textbook to the communnity!

[2022-10-18 17:54] inbuilt-aura commented on #7991
@shrn01,i know that, just wanna ask it wiil be a readme file or should i convert in a pdf and just commit.

[2022-10-18 17:55] inbuilt-aura commented on #7991
@shrn01 and you didnt assigned me yet.

[2022-10-18 21:54] Abinashbunty commented on #8633
You can directly submit a PR for the same. 👍🏻

[2022-10-18 22:50] getcoder-top commented on #6782
please tell the issue and please add the hacktoberfest label

[2022-10-18 22:51] getcoder-top commented on #6782
@davorpa

[2022-10-18 22:54] getcoder-top commented on #6373
can i help, please add the hacktoberfest label @eshellman @

[2022-10-19 06:52] prashantluhar opened #8656 "Desing Patterns in Go book"
[Design Patterns In Go.pdf](https://github.com/EbookFoundation/free-programming-books/files/9817596/Design.Patterns.In.Go.pdf)

[2022-10-19 07:07] gourav631 commented on #8656
Please elaborate this issue @prashantluhar

[2022-10-19 08:29] SuvratZZZ opened #8657 "wanna add javascript notes in hindi"

[2022-10-19 11:04] inbuilt-aura commented on #7991
@shrn01 done,plzz check and let me know plzz merge my PR and in Hacktoberfest.

[2022-10-19 12:15] miguelpalazzo opened #8671 "Hacktoberfest contributions marked as excluded"
Maybe not a direct issue with the repository itself, just found out the hard way that PRs might be getting marked now as **Excluded** from the Hacktoberfest event.

![image](https://user-images.githubusercontent.com/50017/196687750-d69556b9-888e-4bbb-8bde-d48ca2fb2e65.png)

[2022-10-19 12:24] SurabhiSuresh22 opened #8672 "Want to add a good Python Machine learning E-book"
I know a really good book that beginners can refer to learn machine learning with python. Please assign me this issue so that I shall add it.

[2022-10-19 13:24] Shobhit1201 commented on #8672
I have an amazing beginner-friendly list of books since I am also learning right now, so please assign me this issue.

[2022-10-19 16:57] Danish-Belal opened #8681 "Wanna add Hindi github learning tutorials"
I want to add Github learning tutorial in Hindi so that those Indian student who stuck cause of English they can also get good knowledge in Hindi . Thanks

[2022-10-19 17:57] kanishkamalik09 commented on #8447
Please assign this task to me

[2022-10-19 18:00] kanishkamalik09 commented on #8051
Please assign this issue to me

[2022-10-20 05:31] nidhi-2619 commented on #8672
I have an amazing machine learning E-book for someone who is starting their journey in ML . Please assign this issue to me.

[2022-10-20 06:36] nbehrnd commented on #8672
If you identified a resource worth an addition to this compilation, do not rise
a blank issue.  Instead, either

a) if submitting an issue, include a link to the specific material. Or

b) file a pull request.  On the project's landing page you find a section «How
To Contribute»  with a link to a separate page; there, you find all the details
about the agreed format to prepare a PR.  In case your i

[2022-10-20 18:59] ankitamckv opened #8736 "Want to add let us c book"

[2022-10-20 18:59] #8736 closed

[2022-10-20 19:10] #8597 closed

[2022-10-20 20:18] JongaMatos opened #8744 "Added free book in PT/BR"
I already made a commit, can it be allowed?

[2022-10-20 20:19] #8744 closed

[2022-10-21 07:55] sahil58555 opened #8754 "Want to add some good resource for Java for beginners"
I want to share some youtube playlist that covers Core Java with DSA and also advanced Java.

[2022-10-21 08:10] codurr1 commented on #8514
Please assign this issue to me

[2022-10-21 08:11] codurr1 commented on #7688
Please assign this to me

[2022-10-21 08:12] codurr1 commented on #8121
Please assign this to me

[2022-10-21 08:14] codurr1 commented on #7814
Please assign this to me

[2022-10-21 08:16] codurr1 opened #8758 "Competitive Programming Cheat Sheet"
Best Curated Resource for Competitive Programming

[2022-10-21 08:16] codurr1 commented on #8758
I have good resources to share

[2022-10-21 08:20] Abinashbunty commented on #7688
@codurr1 You can submit a PR. No need to assign.

[2022-10-21 09:30] codurr1 commented on #7688
Just added a [PR](https://github.com/EbookFoundation/free-programming-books/pull/8760) please review

[2022-10-21 12:44] Ujala-2110 commented on #8758
I have a good resource to share please assign me

[2022-10-21 13:13] GuilhermeSchwengber20 opened #8769 "Erro de digitação"
Estava lendo a documentação do projeto e encontrei uma palavra que possivelmente foi traduzida errada para minha lingua (pt-BR) a palavra é **Agnósticos** é encontrada duas vezes ou mais nesta pagina: https://github.com/EbookFoundation/free-programming-books/blob/main/books/free-programming-books-pt_BR.md#agn%C3%B3sticos
Acredito que a tradução correta seria **Diagnósticos**.

[2022-10-21 14:16] eshellman commented on #8671
I have created a support ticket with Hacktoberfest and they are reviewing the case. I doubt it will be a problem.

[2022-10-21 14:25] devmahfuj commented on #8633
Hello Sir, Can you assign this issue to me?

[2022-10-21 14:47] miguelpalazzo commented on #8671
So awesome! Thanks, @eshellman!

[2022-10-21 14:56] Cipher-unhsiV commented on #8633
Already done @devmahfuj  bro :)

[2022-10-21 16:27] loyannec commented on #8769
Acredito que nesse contexto se trata de uma sessão de softwares independentes de plataforma que é executado em qualquer combinação de sistema operacional e arquitetura de processador subjacente. Tais apps às vezes são chamadas de plataforma cruzada.

[2022-10-21 20:41] RiyaBhaskar12 commented on #8671
Any updates on the same?

[2022-10-22 11:15] Mohit010rathore commented on #8758
hey, I got one of the best Competitive Programming cheat sheets, for beginners who are just starting in it.

[2022-10-22 11:51] KavyaSethia opened #8810 "Web Devopment Resources"
I Want to add website development resources for beginners.

[2022-10-22 12:36] riddhitech commented on #8810
Please assign me this issue.

[2022-10-22 12:37] riddhitech commented on #8758
Please assign me this issue.

[2022-10-22 12:37] riddhitech commented on #8514
Please assign me this issue.

[2022-10-22 13:06] Madhesh-V opened #8816 "HOWTO-ta.md"
# HOW-TO பார்வையில்

<div align="right" markdown="1">

*[பிற மொழிகளில் இதைப் படியுங்கள்](README.md#translations)*

</div>

**``இலவச-நிரலாக்க-புத்தகங்களுக்கு'' வரவேற்கிறோம்!**

புதிய பங்களிப்பாளர்களை வரவேற்கிறோம்; அவர்கள் GitHub இல் முதன்முறையாக இழுக்கும் கோரிக்கையை (PR) செய்கிறார்கள். நீங்கள் அவர்களில் ஒருவராக இருந்தால், உங்களுக்கு உதவக்கூடிய சில ஆதாரங்கள் இங்கே உள்ளன:

* [கோரிக்கைகளை இழுப்பது பற்

[2022-10-22 15:22] aryabasu17 commented on #8441
I wanna add some interview books that i have it , I would like to work on this issue .

[2022-10-22 15:29] yaksh1 commented on #8810
Please assign me this issue, I have some good resources as a web developer

[2022-10-22 16:25] Akash190104 opened #8822 "Docs: Create a CONTRIBUTING.md in bengali language."
I would like to work on this. Please assign this issue to me

[2022-10-22 18:01] Juststartings opened #8829 "Books"

[2022-10-22 18:30] avnishkt opened #8831 "want to add new book for c language"

[2022-10-22 20:29] Jaya-sys commented on #8441
Please assign me this issue?

[2022-10-23 06:30] ablazecodes opened #8846 "Database Management System Books"
I'd like to contribute books on DBMS, by highly acclaimed computer scientists
[Fundamentals of Database Systems Sixth Edition by Ramez A. Elmasri and ShamkantNavathe ](https://docs.ccsu.edu/curriculumsheets/ChadTest.pdf)

[2022-10-23 07:17] Yadavbalbir opened #8848 "MATLAB and Simulink Courses"
I want to add MATLAB and Simulink self-placed certified courses provided by mathworks.com

[2022-10-23 09:45] shrn01 commented on #8848
Feel free to raise a PR with the resource if it is free for everyone and doesn't require a subscription or a fee

[2022-10-23 09:47] shrn01 commented on #8846
@ablazecodes  Is this an authorized distribution? We only accept resources which are truly free for everyone to use

[2022-10-23 09:49] shrn01 commented on #8831
@avnishkt please feel free to raise a PR placing the resource in the proper file based on language and content. Read docs/CONTRIBUTING.md for more details

[2022-10-23 09:51] shrn01 commented on #8829
@Juststartings please feel free to raise a PR if you have any good resource that you want to add to the repo. We accept only the resources which are truly free to use by anyone. Read docs/CONTRIBUTING.md for more details

[2022-10-23 09:52] shrn01 commented on #8822
Done

[2022-10-23 09:54] shrn01 commented on #8816
@Madhesh-V Please add the file in docs/ and link it in docs/README.md and raise a PR.

[2022-10-23 09:56] shrn01 commented on #8672
@Shobhit1201 @nidhi-2619 Please feel free to raise a PR with the resource. No need to have an issue for it.

[2022-10-23 09:59] Yadavbalbir commented on #8848
Raised PR #8839 Pls merge

[2022-10-23 10:00] shrn01 commented on #8681
Hey @Danish-Belal, feel free to raise a PR for the same adding the resource to the proper file. Read docs/CONTRIBUTING.md for more information. Reply here if you have any issue

[2022-10-23 10:01] shrn01 commented on #8754
Hey @sahil58555, feel free to raise a PR for the same adding the resource to the proper file. Read docs/CONTRIBUTING.md for more information

[2022-10-23 10:02] shrn01 commented on #8758
Hey @Ujala-2110 @Mohit010rathore @riddhitech please feel free to raise a PR for the same adding the resources to the proper file. Read docs/CONTRIBUTING.md for more information regarding contributions

[2022-10-23 10:03] shrn01 commented on #8810
@KavyaSethia @riddhitech @yaksh1 please feel free to raise a PR for the same adding the resources to the proper file. Read docs/CONTRIBUTING.md for more information regarding contributions

[2022-10-23 10:04] shrn01 commented on #8514
@ashutosh-gupta2111 @congo11 @codurr1 @riddhitech please feel free to raise a PR for the same adding the resources to proper file. No need to have an issue for that. Also read docs/CONTRIBUTING.md for more information about contributions

[2022-10-23 10:05] shrn01 commented on #8530
Hey @Curovearth @vineetvardhan27 please feel free to raise a PR for the same adding the resources to proper file. No need to have an issue for that. Also read docs/CONTRIBUTING.md for more information about contributions

[2022-10-23 10:08] shrn01 commented on #8657
hey @SuvratZZZ please feel free to raise a PR for the same adding the resources to proper file. No need to have an issue for that. Also read docs/CONTRIBUTING.md for more information about contributions

[2022-10-23 12:41] ablazecodes commented on #8846
Yes, I've removed the link whose authorization I was unsure about

[2022-10-23 13:14] #7836 closed

[2022-10-23 17:42] anishhh238 opened #8879 "Add DSA Hindi course"
Adding the best DSA Hindi Course tht Help the beginner, mid-level students to learn Data Structure and Algorithm in easy, simple, efficient way

[2022-10-23 17:43] anishhh238 commented on #8879
Assign me to add the DSA Hindi course links

[2022-10-23 18:18] eshellman commented on #8671
Will post here with any updates. It's a weekend!

[2022-10-23 18:36] Danish-Belal commented on #8681
Please suggest me in which folder I should start adding YouTube  Hindi Tutorials , Should I make new one ?

[2022-10-23 21:36] radar commented on #8657
What list am I on that is making all these people tag me in these issues?

[2022-10-24 14:21] Akash190104 commented on #8822
@shrn01 Did the requested change.

[2022-10-24 14:59] eraysahin06 opened #8911 "Add CODE_OF_CONDUCT-tr.md"
# Contributor Code of Conduct

Bu projeye katkıda bulunanlar olarak, açık ve misafirperver bir topluluğu
teşvik etmek adına, sorunları bildirerek, PR göndererek ve diğer faaliyetller
yoluyla katkıda bulunan herkese saygı göstermeyi taahhüt ediyoruz.

Bu projeye katkı sağlamayı deneyim düzeyi, cinsiyet, cinsel kimlik ve ifade,
cinsel yönelim, engellilik, kişisel görünüm, vücut ölçüsü, ırk, etnik kö

[2022-10-24 15:29] shrn01 commented on #8822
You can follow up in the PR thread, no need to add comments here

[2022-10-24 18:02] AshishSharma1203 commented on #8879
I would like to contribute regarding this issue

[2022-10-24 18:21] jesherjoshua commented on #8911
hey! @eraysahin06
I have implemented and opened a [PR](https://github.com/EbookFoundation/free-programming-books/pull/8916#issue-1421229870)

[2022-10-24 18:23] #8911 closed

[2022-10-24 18:24] AshishSharma1203 commented on #8440
i have made the pull request regarding this. Can you please verify this and merge this .

[2022-10-24 18:40] Akash190104 opened #8919 "CODE_OF_CONDUCT-bn"
I would like to create the code of conduct in Bengali. Please assign this issue to me.

[2022-10-25 00:01] abhishekpatelmc opened #8927 "Web development Resource"
- I want to include a course for web development

[2022-10-25 00:02] abhishekpatelmc opened #8928 "Book for Data Structures and Algorithm"
- I want to add a book for Data Structure and Algorithm

[2022-10-25 07:36] developerSuranjan commented on #8928
@abhishekpatelmc Kindly assign this to me

[2022-10-25 07:37] developerSuranjan commented on #8879
@anishhh238 Please assign this to me :) I eat DSA all the day

[2022-10-25 11:13] niket3342 commented on #8810
Hi, please assign me with this issue. I can add some good resources about web development compiled from linkedin and various other sources over the time.

[2022-10-25 13:30] Anshul-9923 commented on #8927
@abhishekpatelmc Please assign this issue to me.

[2022-10-25 14:32] Shinjan-saha commented on #8831
please assign this to me i want to add a book on c language

[2022-10-25 16:27] shrn01 commented on #8810
Hey @niket3342 feel free to raise a PR, no need to have an issue to track it

[2022-10-25 17:03] zaidali110 commented on #8927
hello sir can you assign this to me ?

[2022-10-25 18:30] anishhh238 opened #8961 "Book of Java in Hindi"
Adding Java programming language book in hindi

[2022-10-25 18:39] anishhh238 opened #8963 "adding Link of java"
Adding Link of Java tutorial where u learn complete java in simple way..

[2022-10-25 18:55] sahilihas commented on #8963
https://www.udemy.com/topic/java/free/
you can try this

[2022-10-25 19:07] #6942 closed

[2022-10-26 01:47] TysonOS commented on #8769
A lista está dividida por linguagens de programação então acredito que o contexto da palavra agnóstico é para temas que não necessariamente estão ligados a alguma linguagem de programação, seria algo como Independente de Linguagem.
Na versão em inglês é usado o termo _Language Agnostic_.

[2022-10-26 06:39] harshsingh-io commented on #8963
i can recommend **best possible solution and links according to level of students**. please assign me, i want to complete my hacktober pull request

[2022-10-26 06:42] harshsingh-io commented on #8928
@abhishekpatelmc assign me for this. i can give the best possible books for every kind of student from begginer to advance level with pdf too.

[2022-10-26 07:14] harshsingh-io commented on #8927
i have the proper structured resource for web development. can you please assign me?

[2022-10-26 07:52] chirag-cyber commented on #3854
Hello sir, please assign this task to me!

[2022-10-26 08:28] chirag-cyber commented on #8928
@abhishekpatelmc sir please assign this task to me. So that I can made my first pull request..

[2022-10-26 10:53] ParthMadhvani2 commented on #8928
Hello, @abhishekpatelmc sir please assign this task to me, So that I can contribute all the required books.

[2022-10-26 10:55] ParthMadhvani2 commented on #8927
Hello, @abhishekpatelmc sir I have a well-structured resource for full-stack web development documentation.

[2022-10-26 12:57] sadhvi1234 commented on #8831
Hi, can you please assign this to me ?
Thanks

[2022-10-26 12:59] sadhvi1234 opened #8980 "Add Azure DevOps Courses and Documentation"
Please provide relevant courses and documentation which are easily accessible online.

[2022-10-26 13:11] sadhvi1234 commented on #8927
Hello, can you assign this to me ?

[2022-10-26 14:22] bhaskaraj commented on #8961
[Uploading Java in Hindi ( PDFDrive ).pdf…]()

[2022-10-27 02:54] pcodex commented on #8671
@eshellman Looks like the repo is still excluded

[2022-10-27 05:58] shivsaranyada commented on #8927
i want to include a course for web development . please you can assign me.

[2022-10-27 06:03] shivsaranyada commented on #8831
Hi, can you please assign this to me ?

[2022-10-27 07:07] bhavyasingh75 commented on #8980
on it.

[2022-10-27 08:40] bhavyasingh75 commented on #8980
PR submitted.

[2022-10-27 10:56] kgauravs192 commented on #8963
Hello sir, Can you assign this issue to me ?

[2022-10-27 11:28] amananand0001 commented on #8928
hello, @abhishekpatelmc pls assign this task to me.
I have 2 year experience of java.

[2022-10-27 12:18] baciucristian commented on #8671
Any updates? @eshellman

[2022-10-27 13:28] aryabasu17 commented on #8810
Please assign me this issue , i want to provide some resources for beginners

[2022-10-27 16:46] ivaibhavraheja commented on #8927
i have a resource for learning web development, can you please assign it to me?

[2022-10-27 20:19] baciucristian commented on #8671
![image](https://user-images.githubusercontent.com/49842769/198389750-f4c67e49-ca76-4046-b80b-fb5cd4e26403.png)
It seems that is resolved now. Thank you! 😄

[2022-10-28 01:45] miguelpalazzo commented on #8671
Yes! It seems it's solved now. Thanks @eshellman for making it happen!

If more can please confirm, this issue can be safely closed.

[2022-10-28 06:03] bytesofbec commented on #8963
I can give the best java resources for learning, please assign me this issue

[2022-10-28 06:09] bytesofbec commented on #8927
Can please assign me this issue?

[2022-10-28 06:21] abhishekpatelmc commented on #8928
I am not the project maintainer
I am also a contributor to this repo

[2022-10-28 06:22] abhishekpatelmc commented on #8927
I am a contributor
I don't have access to the repository

[2022-10-28 07:56] Aquaryus01 opened #9024 "Add Javascript course to romanian books"

[2022-10-28 08:45] actuallyyun opened #9026 "Add Git instructions for how to fork repo and create PR in Contributing.md file"
Hi, I think it would be a good idea to have clear and detailed instructions on how to use Git to contribute to this repo in the `Contributing.md` file. I could create a PR for this. Thank you!

[2022-10-28 08:48] actuallyyun opened #9027 "Add a free full-stack programming course to free-courses-en.md"
Hi I am learning with MigraCode Barcelona, and find its syllabus comprehensive, and interesting with loads of good exercises. It's entirely free and open to everyone. I would love to add this to `free-courses-en.md`  file. Thank you!

[2022-10-28 08:54] actuallyyun commented on #6782
Hey I am a native Chinese speaker, and would love to help with this issue. How should I go about making the change?

[2022-10-28 09:03] actuallyyun commented on #5778
Hey I have some experience building REST API with Python and Django. I would love to get involved if you guys need more help.

[2022-10-28 09:07] actuallyyun commented on #6373
Hey, @eshellman I speak English and Chinese, and I would love to be an editor. How could I become one?
Also, I think this problem could benefit from improving the CONTRIBUTING guidelines as well. I am happy to work on this if you think it's a good idea.

[2022-10-28 12:02] ManviGoel26 opened #9033 "Angular Testing Succinctly"
**Angular Testing Succinctly**
 The book provides a quick introduction to different tools and approaches to testing Angular projects to make them higher quality from the start and easier to maintain down the road. Topics covered include lint checking, test-driven development, unit testing, and end-to-end testing.

Author: Joseph D. Booth
Format: HTML and PDF along with GitHub Repo link to code.
We

[2022-10-28 16:11] SnehalSa commented on #8758
Please assign me this issue.

[2022-10-28 16:12] SnehalSa commented on #8928
Please assign me this issue.

[2022-10-28 17:11] shrn01 commented on #8671
@miguelpalazzo looks like it's in waiting state for everyone now. We can close this issue

[2022-10-28 17:12] shrn01 commented on #8919
@Akash190104 please feel free to add it. Add `fixes #8919` to the PR to close this issue automatically

[2022-10-28 17:13] shrn01 commented on #8879
@anishhh238 feel free to raise a PR. Please add `fixes #8879` to the description to close this issue automatically

[2022-10-28 17:13] shrn01 commented on #8927
Hey guys, if you do have any resource that is free for anyone to use, please feel free to raise a PR. No need to assign a issue for that. Hope this helps

[2022-10-28 17:14] shrn01 commented on #8928
Hey @abhishekpatelmc feel free to raise a PR. We do not need an issue to add a resource to the repo. A PR can be raised directly

[2022-10-28 17:15] shrn01 commented on #8961
@anishhh238 Please feel free to raise a PR. We do not need to have an issue for contributing. Hope it helped

[2022-10-28 17:16] shrn01 commented on #8963
Hey Guys. Feel free to raise a PR. You do not need to have an issue open for contributing. Hope it helps

[2022-10-28 17:16] #8671 closed

[2022-10-28 17:17] shrn01 commented on #9024
Please feel free to raise a PR. You do not need an issue open to contribute to the repo. Hope it helps

[2022-10-28 17:18] shrn01 commented on #9026
Hey @actuallyyun, We do have books in the repo that talk about how to use Git. Do we need to have it explicitly here?

[2022-10-28 17:18] shrn01 commented on #9033
Cool. Make sure to close the issue once the PR is submitted

[2022-10-28 17:19] shrn01 commented on #9027
Feel free to add it and raise a PR. No need to have an issue open to contribute to the repo. Hope it helps

[2022-10-28 18:32] Manish-Syal123 opened #9042 "Received mail from hacktoberfest issue solved"
![emailhacktoberfest](https://user-images.githubusercontent.com/112818612/198707203-ef19af83-4620-4b2b-94b1-7bf68e0aa3ec.png)

[2022-10-28 18:37] Manish-Syal123 commented on #9042
Even I also sent mail to then about this issue. Just now I received the mail from them.

[2022-10-28 18:41] Manish-Syal123 commented on #9042
**The six days review period starts now.**
![Screenshot 2022-10-29 000929](https://user-images.githubusercontent.com/112818612/198708861-3eee92cb-aef8-4079-ab96-cf90e3104117.png)

[2022-10-28 18:49] Manish-Syal123 commented on #9042
yes I know that the mail that I had written was not good, but still it works 😅

[2022-10-28 20:23] #8810 closed

[2022-10-28 20:25] AneezaSabirButt opened #9047 "Add some programming books for beginners"

[2022-10-28 20:30] Shreyan-12345 opened #9048 "Add SQL resources and books"

[2022-10-28 20:30] Shreyan-12345 opened #9049 "Add numpy and pandas cheatsheet"

[2022-10-28 22:48] Vvpcse commented on #9049
[https://www.kaggle.com/code/lavanyashukla01/pandas-numpy-python-cheatsheet](url)

[2022-10-28 22:54] Vvpcse commented on #8963
https://www.youtube.com/c/Freecodecamp/search?query=java

[2022-10-28 22:54] Vvpcse commented on #9047
[Introduction to ‘C’ Language.pdf](https://github.com/EbookFoundation/free-programming-books/files/9892337/Introduction.to.C.Language.pdf)
[ada.pdf](https://github.com/EbookFoundation/free-programming-books/files/9892338/ada.pdf)

[2022-10-28 22:59] Vvpcse commented on #8963
### Learning **Path1** : [https://learn.microsoft.com/en-us/training/paths/az-400-get-started-devops-transformation-journey/](url)

### Learning **Path2** :  [https://learn.microsoft.com/en-us/training/paths/az-400-work-git-for-enterprise-devops/](url)

### Learning **Path3** :  [https://learn.microsoft.com/en-us/training/paths/az-400-implement-ci-azure-pipelines-github-actions/](url)

### Learnin

[2022-10-28 23:02] Vvpcse commented on #8980
### Learning **Path1** : [https://learn.microsoft.com/en-us/training/paths/az-400-get-started-devops-transformation-journey/](https://github.com/EbookFoundation/free-programming-books/issues/url)

### Learning **Path2** : [https://learn.microsoft.com/en-us/training/paths/az-400-work-git-for-enterprise-devops/](https://github.com/EbookFoundation/free-programming-books/issues/url)

### Learning **Pa

[2022-10-28 23:05] Vvpcse commented on #8927
### Resource for learning **web development**: [https://www.youtube.com/c/Freecodecamp/search?query=web%20development](url)

[2022-10-29 02:14] Ubarrionuevo commented on #9047
Hi ! , i want contribute in this usses , I ask permission to contribute

[2022-10-29 05:47] amarjeet2003gupta opened #9060 "Maximum of all subarrays of size k"
Given an array arr[] of size N and an integer K. Find the maximum for each and every contiguous subarray of size K.

Input :
9 3
1 2 3 1 4 5 2 3 6

[2022-10-29 05:50] amarjeet2003gupta commented on #9060
Hello sir/ma'am,
I found this as an important DSA problem
Can you please assign this issue to me.

[2022-10-29 06:24] riddhitech commented on #8758
Sir , please review the pr

On Fri, Oct 28, 2022 at 9:41 PM SnehalSa ***@***.***> wrote:

[2022-10-29 06:25] riddhitech commented on #8758
Sir , please review the pr

On Sun, Oct 23, 2022 at 3:33 PM Sharan J ***@***.***> wrote:

[2022-10-29 06:38] amananand0001 commented on #9047
can you assign this issue to me

[2022-10-29 07:12] khanyousufminhaj commented on #9047
Please assign this issue to me as it will be a great start for me

[2022-10-29 07:59] AneezaSabirButt commented on #9047
Sure

[2022-10-29 09:11] actuallyyun commented on #9026
Hi @shrn01 Thanks for the replay.

As a newcomer who would like to contribute, my flow was: `README.ME` →` Contributing.md ` →`In a nutshell`→ _If you know Git, please Fork the repo and send Pull Requests (PR)._

I think it would be helpful to have a quick instruction on how to use Git to contribute here, for instance, the command for cloning the repo, command for pulling commits to one's local ma

[2022-10-29 09:28] actuallyyun commented on #9027
Hi @shrn01  I have created pull request  #9076 for this.

[2022-10-29 10:31] 11nitis commented on #9047
hey  @aneeza can you assign this task to me

[2022-10-29 10:41] manny-uncharted commented on #9049
I'll take this up

[2022-10-29 10:54] manny-uncharted commented on #8829
I have a book on the latest version on Django development

[2022-10-29 10:54] manny-uncharted commented on #8829
Can I make a pull request to this one

[2022-10-29 11:10] pronoym99 opened #9080 "Add free software design guide"
The link to a free software guide by @arjancodes is accessible only via mail: [FREE GUIDE](https://www.arjancodes.com). This can be listed as stated in the first point of [In a nutshell](https://github.com/EbookFoundation/free-programming-books/blob/40d0e28b677fe2fdbd445dce40352bf5985a73cd/docs/CONTRIBUTING.md#in-a-nutshell) in the contributing guide.

[2022-10-29 11:28] manny-uncharted commented on #9049
I've made a pull request can it get approved

[2022-10-29 12:23] flbjuniorx commented on #9048
I'd be glad to help with this issue.

[2022-10-29 14:17] Sohampatra1 opened #9089 "Add good QUANTUM COMPUTING books"
Add QUANTUM COMPUTING book list

[2022-10-29 14:22] Sohampatra1 commented on #9048
All You need is this book which I mentioned  below.(with Link)

SQL Cookbook by Anthony Molinaro-
https://b-ok.asia/book/11030721/8f8725

[2022-10-29 14:25] Sohampatra1 commented on #9048
can you assign this issue to me?

[2022-10-29 14:43] Sohampatra1 commented on #8980
can you assign this issue to me

[2022-10-29 14:43] Sohampatra1 commented on #9047
can you assign this issue to me

[2022-10-29 14:46] Sohampatra1 commented on #9049
can you assign this issue to me

[2022-10-29 15:41] Ubarrionuevo commented on #9047
Hey , i can helped

[2022-10-29 16:15] Niketdeshmukh commented on #9048
can you assign this issue to me?

[2022-10-29 16:16] Niketdeshmukh commented on #9060
I can solve this problem, can you assign to me?

[2022-10-29 18:20] akashdip2001 commented on #9047
HI , i want to join, I made a little Codind page Only for Kali Linux beginners, because it's very heard to learn Linux OS 1st time, So i can contribute little more.

[2022-10-29 19:46] muhammadzubairmoosani commented on #9047
Hey!, @AneezaSabirButt  Please can you assign it to me, I'll do it easily.

[2022-10-30 03:07] #7414 closed

[2022-10-30 04:15] eshellman opened #9109 "HOW TO GET YOUR PR APPROVED"
We've gotten over 2000 Issues and Pull Requests this month; Github's UI is not well suited to making sure that PRs needing review rise above all the stale PR's. With october soon coming to a close, we want to make sure all the PRs that have been submitted and revised in response to suggested corrections get a second review.

1. If your PR gets a red `x` that mean it has failed tests. Eventually we

[2022-10-30 06:31] Mirza-Hassan commented on #9060
@amarjeet2003gupta I can solve this problem, can you please assign to me?

[2022-10-30 07:37] Mirza-Hassan commented on #9048
@Shreyan-12345 can you please assign it to me?

[2022-10-30 11:00] j4sum commented on #9047
Hi, I am a mod at women who code bookclub and would love to share some books.

[2022-10-30 11:04] j4sum commented on #9080
Could you please assign this issue to me. Thanks!

[2022-10-30 15:03] chryshalou opened #9127 "Free"

[2022-10-30 15:33] pronoym99 commented on #9080
I do not have write access to this repo @j4sum, hence, I can't do that.

[2022-10-30 16:50] rabimba commented on #9089
I can take this

[2022-10-30 17:08] eshellman commented on #6373
@torn4dom4n can you look at #7838 ?

[2022-10-30 17:11] eshellman commented on #6373
@actuallyyun  yes improvements on Contributing would be helpful

[2022-10-30 17:42] SwayamSahu commented on #9089
kindly assign this issue to me

[2022-10-31 02:22] #9127 closed

[2022-10-31 10:09] actuallyyun commented on #6373
@eshellman Thanks for the reply. Should I work on this then?

[2022-10-31 10:59] Gargi14 commented on #8846
Hi I would like to contribute books on DBMS Database System Concepts Seventh Edition by McGraw Hill Publication.Could you please assign me

[2022-10-31 11:13] Gargi14 commented on #8846
[Database System Concept 7th Edition.pdf](https://github.com/EbookFoundation/free-programming-books/files/9900553/Database.System.Concept.7th.Edition.pdf)

DBMS Database System Concepts Seventh Edition by McGraw Hill Publication

[2022-10-31 16:43] Dasika-Vaishnavi opened #9162 "Contribution of Grokking Bitcoin"
Grokking Bitcoin is a book that explains the fundamentals of blockchain technology, which underpins cryptocurrencies like Bitcoin.

[2022-11-01 06:58] shrn01 commented on #9042
Thank you @Manish-Syal123 for the information. Closing this issue as the problem was solved

[2022-11-01 06:58] #9042 closed

[2022-11-01 06:59] shrn01 commented on #8829
@manny-uncharted please feel free to raise a PR

[2022-11-01 06:59] shrn01 commented on #8831
@shivsaranyada please feel free to raise a PR

[2022-11-01 07:02] shrn01 commented on #9060
Sorry, we do not support hosting these as of now. If you have any books or website articles which are free to use, please feel free to raise a PR with them.

Closing this issue for now. please feel free to reply if you have any queries

[2022-11-01 07:02] #9060 closed

[2022-11-02 18:39] #7172 closed

[2022-11-02 19:06] eshellman commented on #7149
No, it's not legal to distribute.

[2022-11-02 19:06] #7149 closed

[2022-11-02 19:09] eshellman commented on #7180
we now have 3 id podcasts

[2022-11-02 19:09] #7180 closed

[2022-11-02 19:14] eshellman commented on #7463
please remember we can't list books on "directory" or filesharing sites, as these are almost always unauthorized distributions

[2022-11-02 19:14] #7463 closed

[2022-11-02 19:15] eshellman commented on #7535
we have quite a few now

[2022-11-02 19:15] #7535 closed

[2022-11-02 19:17] eshellman commented on #7581
Thanks for the PR - just can't change it in the middle of Hacktoberfest

[2022-11-02 19:17] #7581 closed

[2022-11-02 19:19] eshellman commented on #7676
we have a good entry in the HTML and CSS section of our cheatsheet list

[2022-11-02 19:19] #7676 closed

[2022-11-02 19:21] eshellman commented on #7688
we now have 4 DSA cheatsheets

[2022-11-02 19:21] #7688 closed

[2022-11-02 19:25] eshellman commented on #7813
unfortunately no authorized distributions are available for that book

[2022-11-02 19:25] #7813 closed

[2022-11-02 19:26] eshellman commented on #7814
added in the subjects list under Mathematics For Computer Science

[2022-11-02 19:26] #7814 closed

[2022-11-02 19:27] eshellman commented on #7861
uk is ukrainian

[2022-11-02 19:27] #7861 closed

[2022-11-03 17:14] eshellman commented on #7899
we now have courses in telagu

[2022-11-03 17:14] #7899 closed

[2022-11-03 17:15] eshellman commented on #7909
we now have two pentesting courses

[2022-11-03 17:15] #7909 closed

[2022-11-03 17:28] eshellman commented on #7972
added webpack course in #9177

[2022-11-03 17:28] #7972 closed

[2022-11-03 17:31] #7991 closed

[2022-11-03 17:54] shrn01 commented on #9033
Book was added

[2022-11-03 17:54] #9033 closed

[2022-11-04 19:09] eshellman commented on #8051
proposed book did not appear to be free

[2022-11-04 19:09] #8051 closed

[2022-11-04 19:11] eshellman commented on #8121
pr merged

[2022-11-04 19:11] #8121 closed

[2022-11-04 19:14] eshellman commented on #8138
@cchow33's PR tried to merge hindi resourses into english file. Don't hesitate to check if the resources found their way to the hindi list, make a PR if not or ask to close this if so.

[2022-11-11 04:41] CBID2 opened #9202 "Formatting Issue with PR"
Hi there! :) I've been trying to add a resource to the  HTML & CSS section and the GitHub action keeps saying that formatting is wrong even though I followed the rules. I'm at a lost. Can you help me?
[My PR](https://github.com/EbookFoundation/free-programming-books/pull/9201#issue-1444917708)

[2022-11-11 18:13] eshellman commented on #9202
I have left a comment on the PR with the correct syntax; however we do not accept email address required cheatsheets.

[2022-11-11 18:13] #9202 closed

[2022-11-11 18:18] eshellman commented on #8150
add it to courses/free-courses-km.md

[2022-11-11 18:19] #8241 closed

[2022-11-12 04:04] CBID2 opened #9204 "<Category Request> Open Source"
Hi there! I was scrolling the 'O' section and thought it would be a good idea to add an Open Source section. It would be a great way for programmers of all levels to learn how to start their Open Source journey.

[2022-11-13 18:08] yupendra2408 commented on #9204
It's nice bro start

[2022-11-13 21:13] eshellman commented on #9204
We have an "Open Source Ecosystem" section in books. Is there another list with resource we could group into a new section?

[2022-11-13 22:30] CBID2 commented on #9204
Hmm..maybe something about Blogging?

[2022-11-15 21:22] #9109 closed

[2022-11-15 21:23] #8440 closed

[2022-11-15 21:24] #8441 closed

[2022-11-15 21:24] eshellman commented on #8447
severla books have been added

[2022-11-15 21:24] #8447 closed

[2022-11-15 21:25] #8514 closed

[2022-11-15 21:25] #8633 closed

[2022-11-15 21:26] eshellman commented on #8656
added

[2022-11-15 21:26] #8656 closed

[2022-11-15 21:26] eshellman commented on #8657
added

[2022-11-15 21:26] #8657 closed

[2022-11-15 21:27] #8672 closed

[2022-11-15 21:27] #8681 closed

[2022-11-15 21:27] eshellman commented on #8754
we have a bunch now

[2022-11-15 21:27] #8754 closed

[2022-11-15 21:28] eshellman commented on #8758
added (on the competeive programming list

[2022-11-15 21:28] #8758 closed

[2022-11-15 21:29] eshellman commented on #8769
Thanks for clearing this up

[2022-11-15 21:29] #8769 closed

[2022-11-15 21:30] #8829 closed

[2022-11-15 21:31] #8831 closed

[2022-11-15 21:31] eshellman commented on #8846
This appears not to be an authorized distribution. Please see docs/CONTRIBUTING.md guidelines.

[2022-11-15 21:31] #8846 closed

[2022-11-15 21:32] eshellman commented on #8848
added

[2022-11-15 21:32] #8848 closed

[2022-11-15 21:32] #8879 closed

[2022-11-15 21:33] eshellman commented on #8927
already added

[2022-11-15 21:33] #8927 closed

[2022-11-15 21:33] #8928 closed

[2022-11-15 21:36] eshellman opened #9208 "No need to be assigned!"
If you have a link to a resource that should be added to the repo, there's no need to wait to be assigned!
For books make sure it's an authorized distribution.
For courses, make sure it's free and not time-limited.

[2022-11-15 21:37] eshellman commented on #8961
pdfdrive links are not acceptable for this repo!

[2022-11-15 21:37] #8961 closed

[2022-11-15 21:38] #9047 closed

[2022-11-15 21:38] #9048 closed

[2022-11-15 21:38] eshellman commented on #9049
merged

[2022-11-15 21:38] #9049 closed

[2022-11-15 21:38] #8963 closed

[2022-11-15 21:39] #8980 closed

[2022-11-15 21:39] eshellman commented on #9024
added

[2022-11-15 21:39] #9024 closed

[2022-11-15 21:39] eshellman commented on #9027
added

[2022-11-15 21:39] #9027 closed

[2022-11-15 21:39] eshellman commented on #9089
added

[2022-11-15 21:39] #9089 closed

[2022-11-15 21:40] eshellman commented on #9080
we don't like books only by email

[2022-11-15 21:40] #9080 closed

[2022-11-15 21:42] eshellman commented on #9162
only first chapter is free

[2022-11-15 21:42] #9162 closed

[2022-11-15 21:42] #9204 closed

[2022-11-20 09:20] tran184 opened #9216 "The "Let us C" book is not free."
I think it's under copyright and should not be here :).
![Screenshot_20221120-132503](https://user-images.githubusercontent.com/30346378/202894555-beea65af-6f81-488e-87e5-0701e1b29c03.png)

[2022-11-20 19:56] eshellman commented on #9216
Almost everything we list here is "under copyright". However many copyright holders choose to make their work available for free. We allow links to Internet Archive because they have a robust copyright policy and will quickly remove things when they learn that they have been uploaded without permission. If this is the case, the publisher should report this to the Archive!

We reject hundreds of su

[2022-11-21 15:17] tran184 commented on #9216
Yeah, I'm not good at English. I think if "Let us C" can appear on
EbookFoundation then "The C Programming Language" can too. Also, Internet
Archive said that:
"Because we are a library, we pay special attention to books. Not everyone
has access to a public or academic library with a good collection, so to
provide universal access we need to provide digital versions of books. We
began a program to

[2022-11-21 17:03] eshellman commented on #9216
I've asked Brian Kernighan about "the C programming Language". while the 2nd edition is on Archive, the authors were hoping to have an up to date version available, rather than have an obsolete version out there.

[2022-11-22 02:50] streewin opened #9219 "【推荐】稳定安全的科学上网方法"
稳定安全的翻墙方法：[科学上网](https://github.com/streewin/FreePAC)

[2022-11-22 07:09] sumanpaikdev opened #9220 "Translations section in readme file needs more details."
In the README.md file, the Translations section needs more details instructions and a little bit more clearance.

[2022-11-22 15:22] #9219 closed

[2022-11-22 15:23] eshellman commented on #9220
suggestions welcome

[2022-11-22 15:29] sahilsoma commented on #9208
thanks for the clarification

[2022-11-23 04:08] tran184 commented on #9216
I mean there are copy of 1st and 2nd edition on Folkscanomy on archive.org
that can be downloaded and keep forever. I think those are easily to
download are not legal. Thanks for reading :).

On Tue, 22 Nov 2022 at 00:03, Eric Hellman ***@***.***> wrote:

[2022-11-23 04:11] tran184 commented on #9216
And can you teach me, on archive.org, which books are legal to download?
There are many books that I want, but I'm afraid of legality.

On Wed, 23 Nov 2022 at 11:08, Hưng Trần ***@***.***> wrote:

[2022-11-24 18:20] eshellman commented on #9216
Sorry I can't give legal advice here, and copyright laws are different in every country, status can depend on date and location of publication, whether the author is living, whether a copyright has been renewed, etc. We depend a lot on the reputation (or lack thereof) of the site that we're linking to.

[2022-11-24 18:20] #9216 closed

[2022-11-25 14:24] tran184 commented on #9216
I think those books that are easily to download on archive.org are not
legal, as Brian said:

On Fri, 25 Nov 2022 at 01:20, Eric Hellman ***@***.***> wrote:

[2022-11-25 14:30] tran184 commented on #9216
I think those books that are easily to download on [archive.org](http://archive.org/) are not legal, I emailed Brian Kernighan and he said:
"Thank you for your note.  [archive.org](http://archive.org/) is making the C book and many others
available illegally, at least for download, but it seems to be impossible
to get them to stop.

I am grateful to you for asking the question; most people don't.

[2022-11-25 19:06] eshellman commented on #9216
Right we don't link to that book. To remove our link to "Let us C" we'd need a PR with a clear, verifiable explanation.

[2022-11-26 06:13] tran184 commented on #9216
No, we should provide strong reasons why we should put "Let us C" here.

On Sat, Nov 26, 2022, 02:06 Eric Hellman ***@***.***> wrote:

[2022-11-30 12:31] amodiano opened #9226 "ISO/IEC 9899:2018 Information technology — Programming languages — C"

[2022-11-30 15:29] eshellman commented on #9226
you have a link to propose?