[2019-05-22 15:42] eshellman opened #3276 "Broken French links - HELP REQUESTED"
Below is a list of failing links in our French lists
You can help improve this repo by resolving the problems.

A failing link may be a website or resource that has disappeared. You can submit a PR

+ removing the link (maybe the resource is obsolete.)
+ correcting the link (sometimes things move)
+ replacing the link (make sure the link is authorized, or the resource is open-licensed). Often a li

[2019-05-22 18:24] #3053 closed

[2019-05-22 18:24] #3055 closed

[2019-05-22 18:25] #3056 closed

[2019-05-22 18:25] #3076 closed

[2019-05-22 19:50] borgified commented on #2672
our current linter i think is similar to eslint. i've never written a custom linter before but i've recently discovered that they also have the ability to "autofix" issues. it might be worthwhile to piggyback on the existing linter and implement the fixer portion.

our existing linter: https://github.com/vhf/free-programming-books-lint
googling around: https://flexport.engineering/writing-custom-l

[2019-05-23 04:34] repodevs commented on #3273
Hello @eshellman

Just created PR #3277 for fixing the broken link

[2019-05-23 09:15] ex00 commented on #3269
Hi @eshellman
I suppose all 404 errors for ru.wikibooks.org is problem checker tool, cause on
https://raw.githubusercontent.com/EbookFoundation/free-programming-books/master/free-programming-books-ru.md I don't see invalid links for this resource

[code]
A we can see python code output all pages from wikibooks available.

Also I suppose that
https://younglinux.info/%D1%81 moved to https://younglin

[2019-05-23 12:07] 4llan commented on #3264
Didn't find any alternative to http://howtocode.com.br/ebooks/ruby. Sorry.

Contacted @vedovelli about the timeout in his site. If isn't a temporary issue, will add [Wayback Machine mirror](https://web.archive.org/web/20180613054310/http://www.vedovelli.com.br/frontend/adicionar-bootstrap-e-font-awesome-no-projeto-criado-com-o-vue-cli/) later

[2019-05-23 14:32] #3273 closed

[2019-05-23 14:38] eshellman commented on #3269
looks like encoding problems to me. Unicode characters need to be % encoded in the url.

[2019-05-26 19:36] eonist commented on #3256
@eshellman so That means im allowed to make a PR?

[2019-05-28 14:02] eshellman commented on #3256
Anyone can submit a PR!

[2019-05-29 19:43] MaximKazionov commented on #3275
Hello, I can try to help you with this problem :)

[2019-05-30 15:11] eshellman commented on #3275
looks like it's just a url encoding issue

[2019-06-14 23:59] thomasjeung commented on #3272
https://thebook.io/006855/ which was for "모두의 파이썬: 20일 만에 배우는 프로그래밍 기초" has been revised and the new URL is https://thebook.io/007026/ "모두의 파이썬: 20일 만에 배우는 프로그래밍 기초(개정판)"

[2019-06-20 16:04] thomasjeung commented on #3272
Well, I created a PR from the forked git, I am fairly new so I am not sure if I did it correctly.

[2019-06-29 20:33] eshellman commented on #3272
fixed in #3309

[2019-06-29 20:33] #3272 closed

[2019-06-29 20:34] eshellman commented on #3274
removed in #3301

[2019-06-29 20:34] #3274 closed

[2019-07-03 01:50] zjuncd opened #3313 "ELKstack 中文指南 被劫持到某博彩站点"
http://kibana.logstash.es/ 打开后被自动转到 https://ued8899.net/?c=4LVUL

[2019-07-03 17:07] eshellman commented on #3313
I suppose it should be removed.

[2019-07-17 05:29] zhongjiajie commented on #3313
Agree to remove it, I will create PR

[2019-07-17 08:09] sachinkreeti opened #3325 "Learn Enough To Be Dangerous is no longer free"
Learn Enough To Be Dangerous is no longer free and so it might be a good idea to remove it from the list.

Thanks

[2019-07-18 00:54] zjuncd opened #3327 "Unable to read 《Markdown 快速入门》"
The link to 《Markdown 快速入门》 (http://wowubuntu.com/markdown/basic.html) is unavailable。
And 《Markdown 语法说明》 links to same domain, not work either

[2019-07-18 01:04] zhongjiajie commented on #3327
See also https://github.com/EbookFoundation/free-programming-books/issues/3267, there are many other broken links in `-zh` list

[2019-07-18 05:25] #3313 closed

[2019-07-23 03:35] #3327 closed

[2019-07-31 19:03] aayushbisen commented on #3325
#3337

[2019-07-31 19:04] aayushbisen commented on #3325
Removed both books. Review #3337

[2019-08-01 12:27] #3325 closed

[2019-08-10 17:55] borgified commented on #3115
@eshellman can you sign us up for github actions beta, there may be some automation there that could help us with this. https://github.com/features/actions

[2019-08-11 00:06] eshellman commented on #3115
done

[2019-08-21 19:32] aalonso99 opened #3357 "Broken Spanish book link"
Links to Spanish "Aprenda C++ avanzado como si estuviera en primero" and "Aprenda C++ básico como si estuviera en primero" are broken.
Also I checked the documents in other websites, none of them official, and it is from Navarra's University. I cannot find the originals and there is no note about their license, so I am not sure if they really are open and free to use.

Thank you for maintaining th

[2019-09-03 09:54] MehmetGoekce opened #3365 "Broken Link - A Scala Tutorial for Java programmers"
New Adress:

https://docs.scala-lang.org/tutorials/scala-for-java-programmers.html

[2019-09-03 10:00] MehmetGoekce opened #3366 "Broken Link - Scala by example"
New Link:

https://www.scala-lang.org/old/sites/default/files/linuxsoft_archives/docu/files/ScalaByExample.pdf

[2019-09-06 06:38] dzmitry-lahoda opened #3368 "Syncfusion and export laws"
I propose any books with
[code]

like
https://www.syncfusion.com/ebooks/azure-functions-succinctly

to be tagged appropriately as risk of them potentially be non free.

Not sure about proper tag name so.

[2019-09-06 14:08] eshellman commented on #3368
Feedback from affected users on this issue would be appreciated.

[2019-09-13 09:07] dafujii commented on #3271
- [x] **Fixed** https://github.com/EbookFoundation/free-programming-books/pull/3373/commits/0b2d50065c4eb356d38ba69c34cdc49677645a3a : 500 Can't connect to www.iim.ics.tut.ac.jp:80 (Name or service not known) http://www.iim.ics.tut.ac.jp/~sugaya/wiki/wiki/index.php?GTK%2FGNOME%A4%CB%A4%E8%A4%EBGUI%A5%D7%A5%ED%A5%B0%A5%E9%A5%DF%A5%F3%A5%B0#s8b2472b
- [ ] 500 Can't connect to lagendra.w3.kanazawa-u.

[2019-09-13 14:28] eshellman commented on #3271
Thanks @dafujii

[2019-09-14 13:07] dafujii commented on #3271
- [x] Fixed https://github.com/EbookFoundation/free-programming-books/pull/3373/commits/0b2d50065c4eb356d38ba69c34cdc49677645a3a : 500 Can't connect to www.iim.ics.tut.ac.jp:80 (Name or service not known) http://www.iim.ics.tut.ac.jp/~sugaya/wiki/wiki/index.php?GTK%2FGNOME%A4%CB%A4%E8%A4%EBGUI%A5%D7%A5%ED%A5%B0%A5%E9%A5%DF%A5%F3%A5%B0#s8b2472b
- [x] **Fixed** https://github.com/EbookFoundation/fre

[2019-09-14 17:08] #3271 closed

[2019-10-01 15:53] #3268 closed

[2019-10-02 10:58] bluzi commented on #2672
Hello everyone,

Sorry to bump this issue after few months of inactivity, but I'm thinking about implementing an autofix feature for TravisBuddy, and I came across this issue and found your use case very interesting.

Would love to hear whether you've figured it out already and if so how?
Also I am not sure yet how this is going to be implemented for TravisBuddy but I'd love to hear what is the in

[2019-10-07 21:27] Khadiravana opened #3400 "HTTP Error 500 for a link"
A link to the Angular.js for "Angular for the jQuery developer" shows an HTTP Error 500.

The link is: https://www.ng-newsletter.com/posts/angular-for-the-jquery-developer.html

Please do the needful

[2019-10-10 06:49] SomTambe commented on #3276
The discovermeteor.com links for all language translations are down. Maybe we should remove the link. I will keep a watch on the site and since it is down for maintenance, I will add the link again when the site is completely functional. Should I put a PR for this?

[2019-10-10 07:06] SomTambe commented on #3276
Also, can I instead of removing the whole link, put a temporary wayback machine link?

[2019-10-10 13:10] eshellman commented on #3276
your help is much appreciated!

[2019-10-16 02:09] charlottetan commented on #3400
This is probably a temporary issue that ng-newsletter.com needs to fix, but I found an alternate link for the post.

[2019-10-16 02:12] charlottetan commented on #3366
already fixed by commit 774eca7062cd87f94d70855f36d3829e497ce906, for PR #3372, this issue should be closed

[2019-10-16 02:29] charlottetan commented on #2993
this issue has already been fixed, should be closed

[2019-10-16 02:30] charlottetan commented on #2997
already exists, this issue should be closed

[2019-10-16 02:44] charlottetan commented on #3132
seems like this has already been addressed, title no longer exists in code base, issue should be closed

[2019-10-16 02:45] charlottetan commented on #3189
seems like already addressed, should be closed

[2019-10-16 03:18] charlottetan commented on #3244
Permanently gone

Is working, redirects to https://schoolofdata.org/handbook/

Already fixed, points to https://mila.quebec/wp-content/uploads/2019/08/TR1312.pdf

Link works

Already fixed, points to https://us.fixstars.com/products/opencl/book/OpenCLProgrammingBook/contents/

Appears to be no longer free like @madebycollins mentioned

Already removed

Appears to be gone, copies exist online but u

[2019-10-16 10:18] #3366 closed

[2019-10-16 10:19] #3365 closed

[2019-10-16 13:48] #3400 closed

[2019-10-16 13:50] #3256 closed

[2019-10-16 13:51] #2993 closed

[2019-10-16 13:51] #2997 closed

[2019-10-16 13:53] #2999 closed

[2019-10-16 13:54] #3132 closed

[2019-10-16 14:01] #3244 closed

[2019-10-19 14:16] pritam-patil commented on #2990
Hi guys, I've updated the .csp link from oreilly.com to a .pdf link where it's free and contains right content. Do review [this PR](https://github.com/EbookFoundation/free-programming-books/pull/3423).

And thank you for creating and maintaining this repo!

[2019-11-14 15:16] eshellman opened #3447 "indicating sponsorable status"
GitHub is now allowing Organizations to participate in their sponsor program, so this repo now has a sponsor button benefitting the Free Ebook Foundation.

We have about 300 listing that point to GitHub repos; it seems to me that we could denote those that are sponsorable with a heart emoji: :heart:

The sponsorable attribute is available in the GitHub v4 API: https://developer.github.com/v4/inter

[2019-11-16 04:50] devonzuegel commented on #3447
Thanks Eric! We're thrilled to share the extensions to the GitHub Sponsors core we've been working on this fall, so it's nice to hear you're excited about it too.

I'm not sure I quite understand your question—could you rephrase?

[2019-11-16 19:30] HankiDesign opened #3448 "Ruby User's Guide not available anymore"
The link to the [Ruby User's Guide](http://www.rubyist.net/~slagell/ruby/) leads to a "Page not found" page.

[2019-11-20 14:58] eshellman commented on #3447
I like @devonzuegel 's suggestion to use the :sparkling-heart: instead

[2019-11-28 19:05] #3266 closed

[2019-12-01 07:33] rndd-AK opened #3458 ""wizard code" 403 Forbidden"
- Index
  - Assembly Language
    - Wizard Code [http://vendu.twodots.nl/wizardcode.html]

There is no this book =(

[2019-12-01 13:07] youkpter commented on #3233
It seems that the url_cheker doesn't work well when the markdown file contains Chinese characters.
There are some urls extracted incorrectly in issue #3267:

sh: 1: Syntax error: ")" unexpected
  400 Bad Request https://github.com/karlseguin/the-little-go-book)%E3

The two urls in markdown file like this:
[code]
There are both Chinese characters after the right parenthesis. The problem maybe exist

[2019-12-01 14:46] #3458 closed

[2019-12-01 14:55] eshellman commented on #3233
or maybe it's the nested parens?

[2019-12-01 16:32] youkpter commented on #3233
@eshellman , after some experiment, i find what's wrong. Nested parens is not the reason.

The url_checker perl script doesn't specify utf8 encoding when using URI::Find::UTF8.  I will open an issue at @borgified 's url_checker repo.

test code:
[code]

[2019-12-09 21:51] jair2018 commented on #1683
copyright sucks

[2019-12-18 21:35] HankiDesign opened #3479 "APL books missing from the wiki"
I just noticed that both [A Practical Introduction to APL1 & APL2 ](http://aplwiki.com/BooksAndPublications#A_Practical_Introduction_to_APL1_.26_APL2), and [A Practical Introduction to APL3 & APL4](http://aplwiki.com/BooksAndPublications#A_Practical_Introduction_to_APL3_.26_APL4) links are redirecting to the main page of the APL Wiki. My quick inspection shows that the page [BooksAndPublications](

[2019-12-21 15:20] rosepac commented on #3357
I don't understand what the real problem is. Nor what you do not understand.

The freedom of use of the file in question is beyond doubt, since the file is written in the form of a university article; and the author himself exposed it to the public without any problem, for its use.

The fact that the author wanted to take that university article and transform it into an edited book.

That would no

[2019-12-22 15:14] eshellman commented on #3357
Are the links working?

[2019-12-24 02:25] aalonso99 commented on #3357
Currently, access is denied.

[2019-12-24 18:29] eshellman commented on #3357
maybe @rosepac can submit a PR?

[2019-12-30 23:13] Eiji7 opened #3493 "Add The Little Ecto Cookbook free ebook"
I recommend adding this ebook:
https://pages.plataformatec.com.br/the-little-ecto-cookbook

It should be in `Elixr`->`Ecto` group.

[2019-12-31 15:50] eshellman commented on #3493
As this obtaining this book requires a valid email address and won't let you fill out the form with privacy-filters turned on, we won't list this book as "free".

[2019-12-31 15:50] #3493 closed

[2020-01-02 16:43] #3448 closed

[2020-01-06 12:02] #3479 closed

[2020-01-13 20:29] #2383 closed

[2020-01-13 20:29] #2672 closed

[2020-01-13 20:30] #2756 closed

[2020-01-13 20:30] #2990 closed

[2020-01-13 20:30] #2992 closed

[2020-01-13 20:31] #2995 closed

[2020-01-13 20:31] #2998 closed

[2020-01-13 22:04] eshellman opened #3513 "State of the Repo 2020"
The free-programming-books repo on GitHub continues to be amazing. As of January 13, 2020, it has 135,435 stars, seventh most of all repos on Github and 17% more than last year. The repo has been forked over 33,000 times, and it added another 295 commits in 2019. 1,095 people have supported the project with improvements.

It's been interesting to see growth in the free courses and screencasts sect

[2020-01-13 22:04] #3093 closed

[2020-01-17 08:03] DonaldTsang opened #3520 "Inlcusion of Japanese SICP"
- Japanese https://sicp.iijlab.net/fulltext/xcont.html
- English https://mitpress.mit.edu/sites/default/files/sicp/full-text/book/book-Z-H-4.html

[2020-01-17 23:36] HankiDesign opened #3522 "O'Reilly books problem"
I just noticed that the book [Apprenticeship Patterns: Guidance for the Aspiring Software Craftsman](http://chimera.labs.oreilly.com/books/1234000001813/index.html) is no longer available at its former location. I found the book [here](https://www.oreilly.com/library/view/apprenticeship-patterns/9780596806842/) and it's fully readable by clicking through the pages in the *Table of Contents*.

Howe

[2020-01-18 01:29] eshellman commented on #3522
If it's annoying, I wouldn't include it.

[2020-01-20 10:11] #3522 closed

[2020-01-20 19:08] natkuhn opened #3529 "Site is difficult to follow for a newbie, especially for someone looking for resources other than books"
Your site has wonderful resources, and I really appreciate everything that has gone into it. Unfortunately, I found the organization more difficult to follow than it needs to be. I did make one PR, but don't have time to make others, so I am leaving these suggestions, to use or ignore as you see fit.

1. It is not clear whether the site is for "books" or "resources". I vote for making it "resource

[2020-01-21 14:29] karthik9319 opened #3531 "Need pdf of Pattern programming"
Hi

I tried everywhere but I couldn't find pdf of  [Pattern Programming](https://www.amazon.in/Java-Complete-Reference-Programming-NON-BORING-ebook/dp/B07T236CC6)

If anyone finds can you let me know? Thanks in advance

[2020-01-22 15:24] #3531 closed

[2020-02-17 12:13] chiragm123 opened #3548 "Resource for Graphics Programming and Unix"
Unix Book:https://homepages.uc.edu/~thomam/Intro_Unix_Text/TOC.html
Graphics Programming Resource:https://www.scratchapixel.com

[2020-03-18 15:27] Sant268 commented on #3548
[https://www.cs.csustan.edu/~rsc/CS3600F00/Notes.pdf]
(Notes for a Computer Graphics Programming Course)
 [http://160592857366.free.fr/joe/ebooks/ShareData/Game%20Graphics%20Programming%20By%20Allen%20Sherrod.pdf]
(Game Graphics Programming)

[2020-03-18 15:30] Sant268 commented on #3513
This sub has helped me a lot
I'll do anything to keep it updated!

[2020-03-18 15:35] eshellman commented on #3548
The Game Graphics Programming link does not look authorized.

[2020-03-18 15:38] Sant268 commented on #3548
Hello, sorry I'm new here. What would be considered as 'authorized'?

[2020-03-18 16:10] eshellman commented on #3548
We do not include links to books that are posted without authorization of the author/publisher. Because

1. It could jeopardize the whole list.
2. The links get removed and we're stuck with 404s and an admin burden.
3. We want to support authors/publishers who willingly make their books free!

Please read https://github.com/EbookFoundation/free-programming-books/CONTRIBUTING.md

[2020-03-19 16:11] CodingGorit opened #3561 "链接失效"
markdown 简明教程的链接页面不见了

[2020-03-21 08:58] Sant268 commented on #3529
https://pages.github.com/
Should we improvise this repo with a front-end Github Webpage? That would be more 'presentable' than a README.md

[2020-03-21 13:24] novolife opened #3562 "Broken Chinese Link"
In https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-books-zh.md#c-1

QT 教程 （http://www.kuqin.com/qtdocument/tutorial.html）

404 page not found

[2020-03-21 18:33] eshellman commented on #3529
you mean like https://ebookfoundation.github.io/free-programming-books/ ?

[2020-03-22 04:44] Sant268 commented on #3529
Yeah, well:

The points mentioned above are for the README file, but I think that we should make the .io page a liitle more Navigate-friendly.

[2020-03-27 06:30] mbaboshko opened #3565 "Books"

[2020-03-27 15:13] #3565 closed

[2020-04-04 06:11] leobetosouza opened #3569 "Missing books"
I see that some os the MagPi books aren't listed: [https://magpi.raspberrypi.org/books](https://magpi.raspberrypi.org/books)

[2020-04-04 06:23] leobetosouza commented on #3569
Two books from Al Sweigart are also missing:
https://inventwithscratch.com/book/
https://turtleappstore.com/book

[2020-04-09 06:13] anamdiazs opened #3575 "Resources"
Commit

[2020-04-09 15:06] #3575 closed

[2020-04-16 07:46] Gaotianhe opened #3583 "Broken English Link"
In [Algorithms & Data Structures](https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-books.md#algorithms--data-structures), the book named **A Field Guide To Genetic Programming** wasn't open.

Hope someone can help find the right link.

[2020-04-16 07:49] Gaotianhe opened #3584 "Broken English Link : A Field Guide To Genetic Programming isn't open"
In [Algorithms & Data Structures](https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-books.md#algorithms--data-structures), the book named **A Field Guide To Genetic Programming** wasn't open.

Hope someone can help find the right link.

[2020-04-16 07:51] Gaotianhe commented on #3583
Sorry about it. I submit this issue twice.

[2020-04-16 07:58] 9250 commented on #3583
Please use this link to download the pdf:

https://b-ok.cc/book/861921/18f698

On Thu, Apr 16, 2020 at 1:27 PM yidajiabei <notifications@github.com> wrote:

[2020-04-16 08:05] Gaotianhe commented on #3583
Thanks for your help. Hope someone will update the broken link

[2020-04-16 15:23] #3584 closed

[2020-04-18 09:52] CaliInn-Li opened #3587 "链接失效：Google Java编程风格指南"
[http://www.hawstein.com/posts/google-java-style.html](http://www.hawstein.com/posts/google-java-style.html)（Google Java编程风格指南）
![image](https://user-images.githubusercontent.com/40906144/79634495-4e327680-819d-11ea-8fb9-b7616715a6e3.png)

[2020-04-18 09:53] CaliInn-Li commented on #3587
The link should be updated to http://hawstein.com/2014/01/20/google-java-style/

[2020-04-19 00:52] rapaktech opened #3588 "Yft"

[2020-04-19 14:23] #3588 closed

[2020-04-21 21:20] muhammadaffan14github opened #3589 "Fff"

[2020-04-22 18:32] #3589 closed

[2020-04-22 20:48] kirich1409 opened #3592 "Telegram Channels, Chats and Blogs"
Many interesting materials are distributed by personal blogs, Telegram channels, and chats. I propose to add a new category of MDs for suck kind of resources

[2020-04-22 20:50] kirich1409 commented on #3592
As an example from Android:
-  [Android Broadcast Telegram Channel](http://ttttt.me/android_broadcast)
-  [Android ResId](https://t.me/AndroidResId)
-  [Mobile Insights by AppTractor](http://ttttt.me/apptractor)

[2020-04-23 12:27] demetrius18 opened #3593 "Course"

[2020-04-23 14:05] #3593 closed

[2020-04-23 14:29] eshellman commented on #3592
It seems these resources are not viewable without a telegram account. So they can't be easily reviewed or link-checked. We discourage resources that require account sign-up. If we do Telegram, facebook and linkedin will follow.

Blogs have been suggested as a category before. The difficulty is figuring out criteria for which blogs to include or exclude, how to keep the list current (the average bl

[2020-04-24 04:37] srijayant opened #3595 "Free programming books"

[2020-04-24 15:54] #3595 closed

[2020-05-02 17:00] workwith opened #3599 "书籍"

[2020-05-02 18:51] alpal309 opened #3600 "Road to React no longer free"
The link for road to react in the english list under javascript is broken and the book is not free anyways.

[2020-05-03 10:27] boosie74 commented on #3599
Want ebooks please

[2020-05-03 10:28] boosie74 commented on #3599
Subscribe

On Sat, May 2, 2020, 12:09 PM 匆匆今年 <notifications@github.com> wrote:

[2020-05-03 16:58] #3599 closed

[2020-05-18 02:42] jeshi-link opened #3604 "Ebook"

[2020-05-18 13:43] #3604 closed

[2020-05-19 00:34] InCogNiTo124 opened #3606 "Broken Reinforcement learning link"
This file no longer exists

https://drive.google.com/file/d/1opPSz5AZ_kVa1uWOdOiveNiBFiEOHjkG/view

[2020-05-19 13:32] #3606 closed

[2020-05-19 13:46] tieniu1 commented on #3606
https://github.com/EbookFoundation/free-programming-books/issues/3606

发自我的iPhone

------------------ Original ------------------
From: Eric Hellman <notifications@github.com&gt;
Date: Tue,May 19,2020 9:42 PM
To: EbookFoundation/free-programming-books <free-programming-books@noreply.github.com&gt;
Cc: Subscribed <subscribed@noreply.github.com&gt;
Subject: Re: [EbookFoundation/free-programming-book

[2020-05-20 04:54] N0Vmbr opened #3610 "Education"
Thanks!

[2020-05-20 12:08] #3610 closed

[2020-05-21 21:41] giorgiberia opened #3612 "Add Georgian Online courses"
Skills.ge

[2020-05-22 03:08] eshellman commented on #3612
gotta start somewhere, right?

[2020-05-22 14:13] giorgiberia commented on #3612
Yeap

[2020-05-23 15:25] doadminauvn opened #3613 "Ebook free"

[2020-05-23 17:58] #3613 closed

[2020-05-24 01:43] doadminauvn commented on #3613
#python

[2020-06-03 12:52] HuangZane2020 opened #3630 "book"

[2020-06-03 15:10] #3630 closed

[2020-06-17 11:29] mathster opened #3636 "开源书籍"

[2020-06-17 13:36] eshellman commented on #3636
?

[2020-06-17 13:36] #3636 closed

[2020-06-18 03:12] HongshuaiZhao opened #3638 "dart的页面打不开了"

[2020-06-18 14:08] #3638 closed

[2020-06-19 01:28] xonal opened #3640 "Programming Books"

[2020-06-19 16:51] #3640 closed

[2020-07-02 16:20] TSlivede commented on #3189
@przemoc
[Your (non webarchive) link](http://www.open-std.org/jtc1/sc22/wg14/www/abq/c17_updated_proposed_fdis.pdf) for c17_updated_proposed_fdis.pdf almost works - just replace `www` with `www2` 🙂

This link does currently work:
http://www2.open-std.org/jtc1/sc22/wg14/www/abq/c17_updated_proposed_fdis.pdf

[2020-07-06 21:01] oggy098 opened #3650 "Free Programming"

[2020-07-07 02:04] #3650 closed

[2020-07-07 15:22] InCogNiTo124 opened #3651 "Add "Deep Learning with PyTorch""
There is a new book on deep learning with PyTorch

[2020-07-07 17:11] #3651 closed

[2020-07-10 09:40] zjuncd opened #3653 "链接失效：C++基础教程"
链接：http://www.prglab.com/cms/
访问返回：

[2020-07-10 15:46] eshellman commented on #3653
It would be great if you check back on it in a couple days; if it continues to error we should remove it.

[2020-07-17 08:57] zjuncd commented on #3653
I tried again today. Same error. Maybe we should remove it.

[2020-07-17 13:26] VictorEijkhout opened #3655 "Introduction to Scientific Programming in C++ in Fortran2003"
Introduction to Scientific Programming in C++ and Fortran2003
Victor Eijkhout
copyright 2018-2020

Directory link to book & lecture slides:

[whole directory](https://web.corral.tacc.utexas.edu/CompEdu/pdf/isp/)

Pdf link to book:

[book](https://web.corral.tacc.utexas.edu/CompEdu/pdf/isp/EijkhoutIntroSciProgramming-book.pdf)

[2020-07-17 19:11] eshellman commented on #3653
agreed

[2020-07-20 19:31] Orinfini opened #3657 "Livros de programação"

[2020-07-21 17:43] #3657 closed

[2020-07-22 07:07] ChongYuanLi opened #3658 "read"

[2020-07-22 14:13] #3658 closed

[2020-07-29 01:09] shui67 opened #3660 "信息源"

[2020-07-29 15:54] #3660 closed

[2020-08-04 02:45] Step7439 opened #3664 "Book"

[2020-08-04 13:54] #3664 closed

[2020-08-05 23:16] yezz123 opened #3665 "more books about linux"

[2020-08-06 00:31] Isabellarossi commented on #3665
Linux Pocket Guide

[2020-08-06 00:32] Isabellarossi commented on #3665
Linux Hardening In Hostile Networks

[2020-08-06 00:32] Isabellarossi commented on #3665
how Linux Works

[2020-08-07 02:36] FabioSM02 opened #3667 "IA"
More books about IA build Python

[2020-08-07 03:43] yezz123 commented on #3665
Okay thank you @Isabellarossi just i wanna ask if those are free or not ?

[2020-08-07 11:53] carlosrealgit opened #3668 "Programming"

[2020-08-07 14:23] #3668 closed

[2020-08-10 01:04] slowkambo opened #3669 "Free Udemy"
Udemy is a payed source for the most part but also offers a lot of free stuff.
  Not all good but should still definitely make the list.
  There's an outdated c++ (mostly c) intro class that's free that is definitely still worth the learning.
  I did not see it in there but maybe I missed it

[2020-08-10 01:17] eshellman commented on #3669
we have 10 udemy listings in free-courses-en and 58 in free-courses-pt_BR

[2020-08-10 03:42] Randytar-cpu opened #3670 "Free programming books"

[2020-08-10 03:42] #3670 closed

[2020-08-10 19:50] Dal-37 opened #3671 "Ebook"

[2020-08-10 19:55] #3671 closed

[2020-08-10 20:50] cktang88 opened #3672 "29 broken links"
I used https://github.com/tcort/markdown-link-check to scan the links on the English resources page, and found some dead links:

[code]

[2020-08-12 14:49] linpengcheng opened #3674 "Suggest adding a Programming Paradigms: The Pure Function Pipeline Data Flow"
# Suggest adding a Programming Paradigms: The Pure Function Pipeline Data Flow

---- the Grand Unified Programming Theory

https://github.com/linpengcheng/PurefunctionPipelineDataflow

[2020-08-13 09:58] Isabellarossi commented on #3665
Hi @yezz123 I  found it on a website academia.edu, the books are in Portuguese, I didn't see it but  maybe have in English too...

[2020-08-13 09:59] Isabellarossi commented on #3665
For free

[2020-08-13 12:04] yezz123 commented on #3665
Can you contact me and send them if that possible

[2020-08-15 07:17] borgified commented on #3672
there are some false positives here. for example, https://people.math.gatech.edu/~cain/winter99/complex.html is actually a working link, it probably got flagged prob cuz of some webserver config issue.
https://developer.android.com/guide also seems to be working.

[2020-08-23 17:02] #3583 closed

[2020-08-29 05:52] BrunoDG opened #3683 "Suggestion of adding Vulkan Tutorials at Graphics Programming"
There are some links that are aimed at graphics development, but using Vulkan instead of OpenGL. Although there are no Vulkan books here, I've found some that are free and even some projects that can help users on learning how to use Vulkan with C++ and Rust, and also how to use OpenGL with Rust as well:

https://vulkan-tutorial.com/Introduction - This is a tutorial that teaches how to use Vulkan,

[2020-08-29 14:49] dagadjei opened #3684 "Books"

[2020-08-29 16:30] eshellman commented on #3683
vulkan-tutorial is bookish enough for this list. There;s even a pdf and an EPUB version!
The Rust version appears to be unfinished - see CONTRIBUTING for how to add an "in progress" notation. The Java version looks good too. The last link doesn't seem like a book, at first glance. And they have CC licenses!

When deciding where to put these links i.e. with graphic books or with language books, thi

[2020-08-29 16:31] #3684 closed

[2020-08-29 18:20] BrunoDG commented on #3683
All right then!

Thanks for the info, I'll take a look on the contributing part.

[2020-08-31 21:43] LEOSINHAUS opened #3690 "favori"

[2020-09-01 01:44] #3690 closed

[2020-09-01 15:34] Aaron-Junker opened #3691 "Remove releases and packages from frontpage."
Remove the "releases" and "packages" from the "Code" page. This is something you can make when you click on the gear icon on the Code page of github.

[2020-09-01 16:31] eshellman commented on #3691
done.

[2020-09-01 16:31] #3691 closed

[2020-09-01 21:53] Jhrodriguezi opened #3692 "Libros :3"

[2020-09-01 22:24] raulsantoyo140595 opened #3693 "MY PAU"

[2020-09-01 23:58] #3692 closed

[2020-09-01 23:59] #3693 closed

[2020-09-15 03:25] AbnerCruz opened #3707 "Im testing"
Im testing GitHub

[2020-09-15 13:30] #3707 closed

[2020-09-15 13:47] AbnerCruz commented on #3707
Sorry If I did something wrong, I create a git account only to view you repository so i still learning how to use it

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Eric Hellman <notifications@github.com>
Sent: Tuesday, September 15, 2020 10:31:20 AM
To: EbookFoundation/free-programming-books <free-programming-books@noreply.github.com>
Cc: AbnerCruz <ab

[2020-09-23 12:48] csrcbank opened #3709 "科技向善，来自常熟农商银行程序员的呼救！"
###          感谢各位贡献者，常熟银行【股票代码：601128】有幸收益于本项目。

### 	但是，常熟农商银行搬砖的程序员小伙伴们现在正处于严重威胁身体健康的办公环境当中！

###          我们已有近百名程序员体检发现肺部结节，已有2位GG结节超过肺癌警戒线8毫米而住院手术治疗。

请大家关注我们。https://github.com/csrcbank/8mm

媒体采访请联系邮箱：csrcbank@yandex.com

抱歉有扰

[2020-09-23 13:02] #3709 closed

[2020-09-24 03:39] lzy1g1225 commented on #3709
你应该发到996.ICU项目里面

[2020-09-27 05:14] UjwalKandi opened #3712 "Which category does Data Science cheatsheets come under?"
I have a link to this site where they have cheatsheets on R, Python and of other libraries that are used by Data Scientists.

Should I add them to **_Misc_** or to **_Meta-Lists_**?

[2020-09-27 07:19] UjwalKandi commented on #3712
They also have a podcast on Data Science.

Can I add both these links in a single commit?

[2020-09-27 16:56] eshellman commented on #3712
we have one cheat-sheet site in the meta-list already, so I suppose that's where it should go.
The issues with these are likely to be different from the podcast link, so separate PRs are preferred.

[2020-09-30 19:44] Tahanima opened #3719 "Competitive Programming website suggestion"
I want to add:

- [Toph](https://toph.co/)
- [URI Online Judge](https://www.urionlinejudge.com.br/judge/en/login)

under the **Competitive Programming** section of **problem-sets-competitive-programming.md** file

[2020-10-01 01:28] eshellman commented on #3719
make sure this is free

[2020-10-01 03:32] Tahanima commented on #3719
Yes, these sites are free. In fact, I've personally used them.

[2020-10-01 05:01] #3712 closed

[2020-10-01 13:58] #3719 closed

[2020-10-03 12:35] Fr3d-P opened #3771 "Suggestion on adding on age for the books"
Hello,

I did search for a book for a specific language, and I found lots of them, but I had to visit each web site to verify that it wasn't informations from a too-old version...
I think it could be useful to add a possibility to mention the book's publication or modified date, then in the list it could be indicated, or even better the age of the book , calculated from current date...

[2020-10-04 01:39] eshellman commented on #3771
Fore older books, we encourage the addition of a date to the listing.

[2020-10-04 01:39] #3771 closed

[2020-10-05 08:04] VicoSilalahi opened #3779 "New References on free-courses-id.md"
C++
* [Belajar C++ - Object Oriented Programming Bahasa Indonesia (OOP)](https://www.youtube.com/playlist?list=PLZS-MHyEIRo7-RC_-hkL9gu0_ofABw862) - Kelas Terbuka
* [Belajar C++ Bahasa Indonesia (Dasar)](https://www.youtube.com/playlist?list=PLZS-MHyEIRo4Ze0bbGB1WKBSNMPzi-eWI) - Kelas Terbuka

I've tried doing PR but didn't know what to do after getting build fail, don't know what's Travis ci mean

[2020-10-06 09:24] Tahanima commented on #3779
Hi @VicoSilalahi

The issues with your PR are:

- Incorrect number of blank lines between last section and next heading
- Incorrect number of blank lines between heading and section

in the **/home/travis/build/EbookFoundation/free-programming-books/free-courses-id.md** file

Please read the [Formatting](https://github.com/EbookFoundation/free-programming-books/blob/master/CONTRIBUTING.md#formatti

[2020-10-06 11:25] VicoSilalahi commented on #3779
Hi @Tahanima , thanks for your response, in my new PR, the build was successful, it was a new fork from the latest commit, i added the resources above as well as some more.

[2020-10-06 11:25] #3779 closed

[2020-10-06 13:53] eshellman commented on #3779
Thanks for the help, @Tahanima

[2020-10-06 18:36] Tahanima commented on #3779
You're welcome @VicoSilalahi and @eshellman

[2020-10-08 08:29] Entropy4 opened #3797 "Suggestion to add #hacktoberfest tag to make this repo eligible"
Hi!
I just made a PR and went over to the Hacktoberfest site to confirm it, when I saw that they claimed this repo to be ineligible for the same. I am attaching herewith a screenshot showing the same.

![screenshot](https://user-images.githubusercontent.com/52324356/95434040-66c26300-096e-11eb-927a-36196adfedf7.png)

@Moderators please consider adding the **hacktoberfest** tag to the repo to fix t

[2020-10-08 15:07] l3g3ndf4i541 commented on #3672
@eshellman  I'd like to take this on. Please assign.

[2020-10-08 19:51] eshellman commented on #3797
done

[2020-10-08 19:51] #3797 closed

[2020-10-08 20:00] eshellman commented on #3672
I doubt @borgified would mind.

[2020-10-09 03:32] Amit-Sagar commented on #3667
It's IA or AI ?

[2020-10-09 12:05] hwilson2563 commented on #3270
I would love to help with this issue!

[2020-10-09 15:29] SethFalco opened #3854 "Mark Respective Books as Freely Redistributable"
Many of the books in the repository are free under various terms, or under terms which aren't made clear on the download page specifically.

It might be nice if for books released under open licenses like [Creative Commons](https://creativecommons.org/) or [Free Documentation License](https://www.gnu.org/licenses/fdl-1.3.html), that they be marked somehow in the repository.

This would be great to

[2020-10-09 16:05] harekrishnarai opened #3856 "Add Docker courses requested PR #3853"
PR #3853
### Docker

* [Docker By Automation Step By Step](https://www.youtube.com/playlist?list=PLhW3qG5bs-L99pQsZ74f-LC-tOEsBp2rK)
* [Docker Detailed Tutorial By IIEC Free Community](https://www.youtube.com/playlist?list=PLAi9X1uG6jZ30QGz7FZ55A27jPeY8EwkE)

[2020-10-09 17:52] eshellman commented on #3270
go for it!

[2020-10-09 18:42] eshellman commented on #3854
good idea but maybe too much work. feel free to propose an implementation strategy

[2020-10-10 03:15] priyanshuSharma-WebDev opened #3878 "Add Introduction to the computer science by edx OR udacity?"
I have some courses link and they are free exclude certificate how do I contribute in your ripo?

[2020-10-10 10:17] Swapnil123123 commented on #3878
By cloning the project, making additions to the files and raising PR

[2020-10-10 12:36] GintasS commented on #3674
Added a PR. https://github.com/EbookFoundation/free-programming-books/pull/3901

[2020-10-10 12:40] learn-everyday-with-me commented on #3856
Can I do this.

[2020-10-10 14:55] harekrishnarai commented on #3856
yeah sure !

[2020-10-10 18:33] #3674 closed

[2020-10-10 20:09] #3655 closed

[2020-10-10 21:27] 199911 commented on #3267
Checked all this link again:

## Links working now

502 Bad Gateway http://wiki.ubuntu.org.cn/UbuntuManual
404 Not Found http://wiki.ubuntu.org.cn/Shell%E7%BC%96%E7%A8%8B%E5%9F%BA%E7%A1%80

## Moved page

http://www.hawstein.com/posts/google-java-style.html become http://hawstein.com/2014/01/20/google-java-style/

[2020-10-10 23:11] learn-everyday-with-me commented on #3856
You need to merge it.

[2020-10-10 23:24] #3561 closed

[2020-10-10 23:31] eshellman commented on #3856
fix linter errors

[2020-10-11 05:14] learn-everyday-with-me commented on #3856
Fixed the errors.

[2020-10-11 05:15] learn-everyday-with-me commented on #3856
Can you please tell me what should I do to fix the error.

[2020-10-11 05:24] learn-everyday-with-me commented on #3856
Fixed the errors. Please check.

[2020-10-11 10:41] SethiPandi commented on #3600
Could this issue be closed?
I believe it should've been resolved in the PR merged above.

I wasn't aware of the [syntax](https://github.blog/2013-05-14-closing-issues-via-pull-requests/) for auto-closing an issue since I'm mostly a GitLab user, my fault.
I'll be sure to do that in the future.

[2020-10-11 14:48] rohan8660 opened #3962 "How to add pdf files of some programming books."
I have a few downloaded pdf-s. How can I add them here ?

[2020-10-11 16:58] 199911 commented on #3267
422 Unprocessable Entity https://wcc723.gitbooks.io/google_design_translate/content/style-icons.html)%EF
sh: 1: Syntax error: ")" unexpected
The correct URL should be https://wcc723.gitbooks.io/google_design_translate/content/style-icons.html, which also work

[2020-10-11 16:59] 199911 commented on #3267
400 Bad Request https://github.com/karlseguin/the-little-go-book)%E3
The correct url is https://github.com/karlseguin/the-little-go-book, which works

[2020-10-11 17:01] 199911 commented on #3267
http://www.w3school.com.cn/html5/ should be https://www.w3school.com.cn/html5/index.asp,
which is also fixed in the list

[2020-10-11 21:05] #3587 closed

[2020-10-11 21:05] #3267 closed

[2020-10-12 02:15] Prajesh-Srivastava opened #3973 "Python Programming Book"
Book to learn Python programming

[2020-10-12 07:26] Siddhant-K-code commented on #3973
Already listed [here](https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-books.md#python)

[2020-10-12 15:41] #3600 closed

[2020-10-12 15:46] eshellman commented on #3962
The repo does not host books. Please read CONTRIBUTING.md guidelines

[2020-10-12 15:46] #3962 closed

[2020-10-12 15:49] #3973 closed

[2020-10-12 21:02] jc68navarrocoba opened #4009 "Ebook Foundation Free-programan-books"

[2020-10-13 00:46] MaggieFero commented on #3683
@BrunoDG Did you want to submit a PR for these? I don't want to snipe if you were planning to do it yourself, but I'd love to get these onto the list.

[2020-10-13 05:01] BrunoDG commented on #3683
Go ahead, NP! :)

[2020-10-13 05:21] namanjain007 commented on #4009
what is the issue ?

[2020-10-13 11:02] yash-seth commented on #3665
I have found a link that has 10 free books on linux and linux based systems. Kindy have a look at the PR  i have raised regarding the same.

[2020-10-13 13:43] Satyam-kumar-yadav opened #4047 "Deep Learning full courses and free projects"
I have some new deep learning courses including slides and video.

[2020-10-13 14:56] yash37158 commented on #4047
hey @ericallam @emkay @radar @Andrea  this is my first time on open source contribution. can you please assign it to me , I would like to work on this issue ,

[2020-10-13 20:32] #3270 closed

[2020-10-14 01:36] spencer1573 commented on #3265
I'm going to look into this @eshellman

[2020-10-14 02:30] spencer1573 commented on #3265
https://github.com/EbookFoundation/free-programming-books/pull/4067

[2020-10-14 05:25] maanpatel2492 commented on #3878
Tell me more about this issue so that I can contribute it.

[2020-10-14 09:57] priyanshuSharma-WebDev commented on #3878
edx offer Introduction to the computer Science course it is a 12 week long program organised by harvard university and very for those people who are new to computer science.

[2020-10-14 14:26] eshellman opened #4082 "separate page for cheatsheets?"
We've now gotten a fair number of "cheatsheet" entries in the books list. I'd like to propose that we move these to a separate page.

Reasons:

1. Will be easier to find cheatsheets
2. Cheatsheets aren't books
3. Cheat sheets aren't so spoken-language specific.
4. The english-language books page is getting long.
5. Will encourage better cheatsheet coverage.

Against:

1. Scope creep.
2. People fin

[2020-10-14 14:50] #4009 closed

[2020-10-14 14:52] eshellman commented on #4047
we welcome contributions from anyone, but please read CONTRIBUTING.md guidelines!

[2020-10-14 14:52] #4047 closed

[2020-10-14 14:53] #3592 closed

[2020-10-14 14:53] #3667 closed

[2020-10-14 14:53] #3669 closed

[2020-10-14 15:06] GintasS commented on #3569
I will take it as well.

[2020-10-14 15:57] 66avvv opened #4089 "分享个深度学习作品的网站"
[66深度学习网](https://66avvv.com/?q=gh)

[2020-10-15 07:40] spencer1573 commented on #3265
new pull request for fixes here actually https://github.com/EbookFoundation/free-programming-books/pull/4129

[2020-10-15 11:32] AleenaAnnaRobin commented on #4082
@eshellman  can you assign this for me?

[2020-10-15 11:33] AleenaAnnaRobin commented on #3878
@eshellman  assign to me, please.

[2020-10-15 14:16] GintasS commented on #2994
I'm going to take this one.

[2020-10-15 14:17] #3265 closed

[2020-10-15 14:19] GintasS commented on #2994
#4144

[2020-10-15 14:32] #2994 closed

[2020-10-15 14:46] #3520 closed

[2020-10-15 14:55] GintasS commented on #3189
@eshellman @TSlivede this link does not work too.

[2020-10-15 15:15] GintasS commented on #3653
I'm voting to close this because it has been fixed.

[2020-10-15 15:21] GintasS commented on #3569
I'm going to take this.

[2020-10-15 15:36] GintasS commented on #3569
#4150

[2020-10-15 17:38] Nishant3007 opened #4158 "Submitted a PR kindly review"

[2020-10-15 17:50] Jeremy850407 opened #4160 "Adding free programming books in Traditional Chinese"
There is free_programming_books in simplified Chinese, I wonder if I can add Traditional Chinese version

[2020-10-15 19:43] 199911 commented on #4160
There are a few resources in free-programming-books-zh.md is in Traditional Chinese.
Feel free to add new resources to it.

[2020-10-16 08:39] Nikhilkumar25 opened #4214 "Books on MATLAB is missing"

[2020-10-16 13:30] GintasS commented on #3562
I'm voting to close this because it has been fixed.

[2020-10-16 13:52] GintasS commented on #3548
#4223

[2020-10-16 17:36] prateekcode opened #4238 "Need to add Google Codelabs"
Google Codelabs helps you to build app/website/ml in a step by step by building small projects. It provides guided tutorials, hands-on coding experience. That the requirement of every new bie to hand-on coding experience.
For the reference, I'm sharing the link of [Codelabs. ](https://codelabs.developers.google.com/)

[2020-10-16 21:50] codejayant opened #4254 "For New PR, check by Travis is failing due to previous lint error in the repo"
Check for any new PR is failing by Travis due to lint error in the existing repo.
Travis Link: https://travis-ci.com/github/EbookFoundation/free-programming-books/builds/190573756

[2020-10-16 21:50] codejayant commented on #4254
This PR fixes this issue: https://github.com/EbookFoundation/free-programming-books/pull/4253

[2020-10-17 00:46] arifsetyo21 commented on #4214
Can i do this issue?

[2020-10-17 05:12] rAwsam commented on #4214
can i contribute ?

[2020-10-17 05:32] #4214 closed

[2020-10-17 15:39] GintasS commented on #4158
@eshellman need to close this issue.

[2020-10-17 16:32] #3548 closed

[2020-10-17 19:28] #4158 closed

[2020-10-17 21:47] eunbeek opened #4337 "Missing or not up to date URLs in Korean version"
I ran the Korean version, "free-programming-books-ko.md", with this tool.
https://github.com/eunbeek/findBrokenGlass

I got this result and typed each fail or bad URL by hands.

[code]

Some results are changing HTTP to HTTPS and other site did not exist anymore(
Can I change this Url little bit?

[2020-10-18 08:24] GintasS commented on #4337
Next time you should use automated tools to check if link is broken or not, would save you some time.

[2020-10-18 17:50] eshellman commented on #4337
Sometimes automated tools give false failures - best to check the results of the automated tool manually. Tthe work to do so is REALLY appreciated.

[2020-10-18 17:50] #4337 closed

[2020-10-18 21:29] dbrn opened #4398 "Script for checking for broken links"
Hello everybody!
I wrote a script in python 3 in the last two/three days that checks all the repo files for broken links and it works.
I'd love to share it with you and eventually turn it in some kind of Bot (Action?) to be automatically launched at given times of the week/day.
Sounds like something cool to me, and it takes away some of the burdens that come with the maintenance of such an amount

[2020-10-18 22:05] g1f1 opened #4399 "SQL PDF broken link"
`The domain studentguru.gr may be for sale. Click here to inquire about this domain.`

Please upload the PDF on github, thanks for your contributions ❤️ 👍

[2020-10-19 06:12] kaleemullah360 commented on #3189
@GintasS please use [this](https://web.archive.org/web/20181230041359if_/http://www.open-std.org/jtc1/sc22/wg14/www/abq/c17_updated_proposed_fdis.pdf) link

https://web.archive.org/web/20181230041359if_/http://www.open-std.org/jtc1/sc22/wg14/www/abq/c17_updated_proposed_fdis.pdf

[2020-10-19 08:16] SethFalco opened #4416 "Linting Errors as PR Comments"
I think it'd be worth pulling the lint summary from CI and posting them as a comment in the PR?

Many contributors either don't know how or don't bother to check the failed checks. And some that do, don't understand what's wrong because they're only reading the bottom line, or just don't know what to focus on.

It'd massively reduce the workload of maintainers to push the warnings to a PR comment,

[2020-10-19 11:51] somashrirastogi opened #4429 "adding a background so that UI can be a little interactive"

[2020-10-19 12:41] SethiPandi commented on #4416
I've been playing around with it a fair bit and came up with this so far. :thinking:

**.travis-ci.yml**
[code]

**Result on Failure**
![image](https://user-images.githubusercontent.com/22801583/96452265-14f4c500-1219-11eb-88cb-9e76f358a008.png)

[2020-10-19 14:07] pcbock opened #4438 "Scalafiddle.io not working"
Scalafiddle.io on the free-programming-playgrounds page is not working.  The link is located here:

https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-playgrounds.md#scala

The link returns a 502 error.

[2020-10-19 15:09] #3562 closed

[2020-10-19 15:10] #3569 closed

[2020-10-19 15:10] #3653 closed

[2020-10-19 15:12] eshellman commented on #3683
@MaggieFero if you have a PR, be sure to link it

[2020-10-19 15:16] eshellman commented on #4082
@AleenaAnnaRobin @yerenn22 has a start, but seems they need help

[2020-10-19 15:18] eshellman commented on #4254
fixed

[2020-10-19 15:18] #4254 closed

[2020-10-19 15:22] eshellman commented on #4398
we already have an action that checks links. from @borgified
see #3233, #3679

[2020-10-19 15:22] #4398 closed

[2020-10-19 15:22] #4399 closed

[2020-10-19 15:27] eshellman commented on #4416
That would be useful I think. Might be helpful to look at history https://github.com/EbookFoundation/free-programming-books/issues?q=is%3Aissue+linter

[2020-10-19 15:27] eshellman commented on #4429
???

[2020-10-19 15:27] #4429 closed

[2020-10-19 15:29] somashrirastogi commented on #4429
🥴

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eric Hellman <notifications@github.com>
Sent: Monday, October 19, 2020 8:58:11 PM
To: EbookFoundation/free-programming-books <free-programming-books@noreply.github.com>
Cc: Somashri Rastogi <somashri.19b131102@abes.ac.in>; Author <author@noreply.github.com>
Subject: Re: [EbookFoundation/free-programming-books

[2020-10-19 15:32] baciucristian opened #4449 "Can we have the same link in different categories?"
Can we have the same link in different categories? E.g: 'HTML5 & CSS3 Course' in CSS and HTML category.

[2020-10-19 22:35] SethiPandi commented on #3368
Please correct me if I'm wrong, but I think this issue might no longer be relevent today. Syncfusion requires the user to sign up before they can access the book.

They ask for full name, email address, phone number, and that the user verifies their email address.

There is no way to download the book without a working email address.

Can this be closed?

[2020-10-20 00:17] SethiPandi commented on #3368
Ah! I'm so sorry, disregard my previous comment.
I immediately went to try and download the resource as I only read books offline.
Syncfusion resources are available to be read online without an account it seems! Just not to download!

[2020-10-20 09:23] Juischt opened #4517 "Books"

[2020-10-20 09:40] kadhirash commented on #4438
https://github.com/scalafiddle

This looks to be the source code for that website, shows that there's a 502 error on the host side for me as well.

[2020-10-20 09:47] x0rld opened #4520 "youtube playlist about CMake in english"
I'm not sure where I sould put it cause there isn't makefile courses and it's linked to C and C++
the [playlist](https://www.youtube.com/playlist?list=PLK6MXr8gasrGmIiSuVQXpfFuE1uPT615s) if you want take a look

[2020-10-20 10:20] kadhirash commented on #3856
@eshellman This still seems to be open, want to assign me to this issue so I can take over?

[2020-10-20 14:40] eshellman commented on #4449
No.

[2020-10-20 14:40] #4517 closed

[2020-10-20 14:41] eshellman commented on #4520
Shell?

[2020-10-20 15:45] kadhirash commented on #4082
@eshellman May I start helping out @yerenn22 and @AleenaAnnaRobin on this?

[2020-10-20 16:16] #4449 closed

[2020-10-20 16:16] baciucristian commented on #4449
Thank you.

[2020-10-20 18:44] kadhirash commented on #4082
@eshellman, The new page should be in the latest [PR](https://github.com/EbookFoundation/free-programming-books/pull/4087#issue-503468441) from @yerenn22 !

[2020-10-21 00:39] eshellman commented on #4082
We now have a cheat sheet page! Pleas help by moving links from cheatsheets!

[2020-10-21 08:56] kadhirash commented on #4520
I agree with @eshellman.  @x0rld, I think it could be under [Bash/Shell](https://github.com/EbookFoundation/free-programming-books/blob/master/free-courses-en.md#bash--shell) in the free-courses file, but after the playlist link you can specify that its (C/C++).

[2020-10-21 09:28] x0rld commented on #4520
thanks i will do that

[2020-10-21 13:43] eshellman opened #4573 "Should tutorialspoint resources be in books, or in courses?"
we now have 7 of them, so far no duplicates but I'd like to hear opinions (preferably based on personal experience with them!) about which list they belong in.

[2020-10-21 15:04] eshellman opened #4579 "Consistency of listings (help wanted)"
with the flood of additions during Hacktoberfest, I'm seeing some sites/publisher/platforms added where links are inconsistently presented.
One example is books by goalkicker.
Most of our goalkicker listings look like this:
`* [Spring Framework Notes for Professionals](https://books.goalkicker.com/SpringFrameworkBook) - Compiled from StackOverflow documentation`
This give readers an idea of what t

[2020-10-21 17:03] kadhirash commented on #4573
Hello @eshellman I would say that it should be in books instead of courses.

From this [PR](https://github.com/EbookFoundation/free-programming-books/pull/4473), the [Flask](https://www.tutorialspoint.com/flask/flask_overview.htm) tutorial linked as a resource can be purchased in proper [ebook](https://store.tutorialspoint.com/ebook_sample_view.php?ebook=flask_tutorial) format on the same site.

T

[2020-10-21 17:25] kadhirash opened #4588 "Easier organization for access to files"
I think it would be great to create folders on the main repository to distinguish between courses, podcasts-screencasts, books, interactive-tutorials, etc. for a cleaner look as well as easier access to grab a resource.

In doing so, the README.md links would have to change as well to reflect the new folders.

[2020-10-21 21:05] SethiPandi commented on #4588
I do think it would be more organized to structure the repository with directories instead. Especially as more types and languages are introduced.

My only opinion is that if this were to be done, I would _assume_ that a folder by language might be more practical.

I haven't surveyed this, but I'd imagine it's more common for one to be after resources in a certain languages. In other words, a comm

[2020-10-21 21:08] kadhirash commented on #4588
Yeah that's true, I like the idea of separating by languages and putting the corresponding resources in there!

[2020-10-21 22:10] SethiPandi commented on #4573
Didn't realize how much I typed until I was done... so here's a TL;DR: Books

---

Unfortunately, I don't have personal experience with Tutorials Point myself. I've checked them out now, so I could form an opinion as a "window shopper", though.

I subjectively believe all Tutorials Point resources currently in the repository would fall under books. _However_, it's worth noting **some** of them hav

[2020-10-21 22:49] SethiPandi opened #4598 "Attribute Contributors in LICENSE?"
**Disclaimer: I'm not a lawyer, everything here is just as far as I understand.**

I've noticed in the LICENSE file there is attribution to Victor Felder, and the Free Ebook Foundation, however there is no mention of other copyright holders.

As this repository doesn't have a [CLA (Contributor License Agreement)](https://en.wikipedia.org/wiki/Contributor_License_Agreement), all contributions made

[2020-10-22 03:34] kadhirash opened #4606 "Merge Error causing future PR's to fail Travis CI build"
I noticed that some people's recent PR's are failing.
Listed some for reference:
- #4605
- #4604
- #4603
- #4589
- #4569

When trying to look at the Travis CI build for why, it mentions another [file](https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-books-fa_IR.md) as the root problem.

Issues are:

1. Missing new line at the end of file
2. Many Incorrect numb

[2020-10-22 03:45] kadhirash commented on #4606
I can try to work on this later so future PR's can pass the build check.

[2020-10-22 11:33] SethiPandi commented on #4416
If I understand, it should be possible to stop using Travis, and favor GitHub Actions entirely, correct?
Is there any preference on this; are we're using Travis CI for any particular reason, or is it just what the repository had before?

I want to dive more into this and implement it soon, but I just wanted to check if there's any interesting shifting the linting to GitHub Actions first is all.

N

[2020-10-22 19:24] kakashi215 opened #4637 "Filipino translations page required."
How to add Filipino translations? Wanted to add one.
Since there is no file for that at the moment.
I can create one but what to name the file - free-programming-books-??.md

Regards.

[2020-10-22 20:20] eshellman commented on #4588
what I've noticed is that the list of files is so long, the README is way below the fold. So I think organizing by genre would be more effective than by language.

But remember, I think this change would result in merge conflicts for EVERY SINGLE OPEN PR. So probably not realistic to do until November, and then more likely December. I'll be needing some help with the cleanup- both of you have been

[2020-10-23 10:31] #4606 closed

[2020-10-23 15:59] kakashi215 commented on #4637
@eshellman What should be done for this new addition?

[2020-10-24 12:46] M0ZZI opened #4683 "Different types of hyphen"
In some Markdown file the hyphen between link in Author is longer then "normal"

So maybe the linter have to check this.

Example:
* [HTML](http://www.peterkropff.de/site/html/html.htm) — Peter Kropff [Online, PDF] <- Wrong
* [HTML](http://www.peterkropff.de/site/html/html.htm) - Peter Kropff [Online, PDF]

If you want I can check the files for this issue and correct the files

[2020-10-24 13:07] kakashi215 commented on #4637
So there is no 2 character code for Filipino (No 639-1 code) but a 3 character code (639-2) for Filipino as "**fil**".
Requesting to allow me to make the aforementioned changes.

[2020-10-24 18:07] eshellman commented on #4416
I think @borgified looked at some of these issues.

[2020-10-24 18:09] eshellman commented on #4573
We've recently add some items from TP that definitely fit into interactive tutorials.

[2020-10-24 18:10] eshellman commented on #4598
probably a good idea to add `and contributors`

[2020-10-24 18:11] eshellman commented on #4637
do you mean tagalog? that would be `tl`

[2020-10-24 18:14] eshellman commented on #4683
Has it caused any problems? That sort of change should wait till we've cleared our backlog because it will introduce many merge conflicts.

[2020-10-24 18:33] M0ZZI commented on #4683
No real problems, it just looks inconsistent.
So it is not urgent 👍

[2020-10-24 19:43] kadhirash commented on #4579
@eshellman I also noticed this inconsistency as well, would mentioning the platform as "YouTube" be necessary or is it implied if blank? Similar to some links having "HTML" added to them but one could assume that it would be HTML else specified (e.g. PDF, EPUB, etc).

[2020-10-24 19:49] kadhirash commented on #3683
@MaggieFero are you going to submit a PR? If not may I take over @eshellman ?

[2020-10-24 21:30] kakashi215 commented on #4637
Am talking about Filipino language.
For eg.
For French, we got fr. (free-programming-books-**fr**.md)
For Russian we got ru. (free-programming-books-**ru**.md)

How to name the Filipino document?

[2020-10-24 21:47] MaggieFero commented on #3683
I had an unexpected onslaught of work tasks right after I asked, fine by me
if you take it over. 😅 Thanks for checking!

On Sat, Oct 24, 2020, 12:49 PM kadhirash <notifications@github.com> wrote:

[2020-10-24 22:38] SethiPandi commented on #4637
TL;DR: I'm not a linguist, but I think...
* Tagalog can be used for the language code if we're keen on using ISO 639-1, or 2 character long language codes.
* Alternatively, as Filipino is officially a language, it could be nice to use the ISO 639-2 or ISO 639-3, but if this happens it might be worth considering if existing files should be changed to use ISO 639-3 character long language codes as w

[2020-10-24 22:47] SethiPandi commented on #4637
As an addition, regardless of the conclusion of this.

May I suggest whatever standard is being used for the language, that it gets documented in the contribution guide?

[2020-10-25 06:43] charlottetan commented on #4438
Reported issue on their repo

[2020-10-25 07:43] charlottetan commented on #3672
I've gone through the entire list of broken links here and fixed the ones that were broken, lots more were either already removed or actually working but did not pass the automated link check. Submitted a PR.

### Details:
#### Not broken:
[✖] https://blogs.msdn.microsoft.com/mssmallbiz/2017/07/11/largest-free-microsoft-ebook-giveaway-im-giving-away-millions-of-free-microsoft-ebooks-again-includin

[2020-10-25 17:26] SethiPandi commented on #4579
You may have noticed from how long all my replies are, but I've always been a fan of verbosity and disambiguation.

I feel it's always nice to be explicit, even for things a sensible user may infer, especially as there is no guarantee all users will be sensible.

The only arguably inferable thing in my opinion is HTML, but even then I think it's ideal, though it doesn't have to be madatory, to spe

[2020-10-25 20:02] #3189 closed

[2020-10-25 20:04] #3878 closed

[2020-10-25 20:06] #3672 closed

[2020-10-25 21:15] eshellman commented on #4637
yes, we use iso language codes. so, for example, german is "de" and spanish is 'es'

[2020-10-25 21:24] SethiPandi commented on #4637
What I was pointing out though is that it looks like we're using ISO 639-**1** though, but Filipino which is an official language, doesn't have a ISO 639-**1** code; only a ISO 639-**2** and ISO 639-**3** code.

So, in other words, should the repository use an ISO 639-**3** code (3 characters) if a language doesn't have an ISO 639-**1** code (2 characters)?

[2020-10-25 21:26] eshellman commented on #4579
We can elide 'YouTube' and 'Github" from listings. For courses, the platform name is more useful because platforms provide more varied experiences and may have registration requirements.

'HTML' should be indicated only when it is the only format available - often our link lead to a web page which offers links to content of multiple types.

[2020-10-26 00:09] kadhirash commented on #4579
@eshellman okay great that sounds good

[2020-10-26 02:09] JiriJAdam commented on #4082
Hello! Can I work on this?

[2020-10-26 06:36] yerenn22 commented on #4082
@JiriJAdam, hello! we have already transferred all of the links from books page to the new cheatsheets page

but you can add some new cheatsheets with good quality to [this](https://github.com/EbookFoundation/free-programming-books/blob/master/free-programming-cheatsheets.md) page

[2020-10-26 11:22] kakashi215 commented on #4637
I think we should use 639-3 codes. It is important to officially support all languages.
Using closest similar language (like Tagalog for filipino) isn't a scalable approach.
Hence I'd like to work with 639-3 codes as well.

[2020-10-26 16:39] JiriJAdam commented on #4082
I can definitely do that!

[2020-10-26 17:05] eshellman commented on #4637
I'll defer to a Filipino speaker on this. either fil of tl is ok, but I don't want Filipinos complaining about the choice! https://en.wikipedia.org/wiki/Tagalog_language#Controversy

[2020-10-27 23:23] yezz123 opened #4796 "Add new algorithm books"
[Algorithm Design](http://www.cs.sjtu.edu.cn/~jiangli/teaching/CS222/files/materials/Algorithm%20Design.pdf) : Book by Jon Kleinberg and Éva Tardos
[Algorithms](http://algorithmics.lsi.upc.edu/docs/Dasgupta-Papadimitriou-Vazirani.pdf) : Book by Christos Papadimitriou, Sanjoy Dasgupta, and Umesh Vazirani

[2020-10-28 02:41] adarshraghav commented on #4796
Could I add a book too?

[2020-10-28 03:30] yezz123 commented on #4796
@adarshraghav  Yeah you can add

[2020-10-28 16:43] eshellman opened #4853 "volunteers needed to clean up the backlog"
As Hacktoberfest nears its end, I can see that we're going to need help cleaning out the backlog. There are likely many moot PRs, others that just need a space added, and some where the proposed resource needs a bit of investigation. If you'd like to help leave a not here and I'll invite you to a slack channel or something like that where we can organize and discuss.

[2020-10-28 18:12] SethiPandi commented on #4853
Is that meant to say "note here"? If so, I wanted to help clean up after Hacktoberfest was over anyway, so I'd be down if it's not a bother.

---

By the wording, it sounds like the Slack channel doesn't exist yet? You can use whatever you feel is appropriate, but just wanted to put forward a suggestion. [Matrix](https://matrix.org/) might be a cool solution instead. It's free and open-source, end

[2020-10-28 19:48] kadhirash commented on #4853
Count me in!

[2020-10-28 19:52] Umarovislam opened #4858 "Travis Issues"
Make sure that travis configs are correct and redeploy

[2020-10-28 23:39] eshellman commented on #4853
As a non-profit, Slack lets us have an upgraded slack for free. (just need to make a channel in the slack. And yes, @SethiPandi a NOTE. You're good at catching those! @kadhirash - excellent, I'll send invites.

[2020-10-28 23:50] eshellman commented on #4858
@Umarovislam I assume you're referring to the issues we've been having with Travis-CI occasionally failing to run the linter tests during Hacktoberfest. For you and anyone else have issues with the linter, the easiest way to get Travis-CI to run or to re-run is to close and reopen the PR.

One consequence of the volume and the missing Travis builds is that twice over the last week we've merged bui

[2020-10-29 00:08] eshellman commented on #4853
Invites sent. maybe @borgified, @charlottetan, @mcicolella, @MrS4w, @quobit would like to join the slack channel.

[2020-10-29 06:10] quobit commented on #4853
I'll try. Nowadays I'm short of time but I'll do my best. Anyway solving few PR are better than none. Send me an invite.

[2020-10-29 09:44] borgified commented on #4853
hi! thanks for including me. yes please inv me to the slack channel too. ty

[2020-10-29 10:14] borgified commented on #4416
hi @SethiPandi i see you noticed we use both travisci and github actions. there's no real reason why we couldn't consolidate to one. i only added the github actions cuz i wanted to learn how to use it. im more familiar with travisci but i think github actions is better integrated to github for obvious reasons.

to your point of wanting to bring the output of the build (in this case, the reasons wh

[2020-10-29 10:49] SethiPandi commented on #4416
@borgified

Understood, and thank you for the links.

This looks pretty cool. :thinking:
The only unfortunate part is, I was hoping we could actually have it automatically do a review and suggestions, rather than just drop a comment. And only really comment for things that isn't a same line fix, ie alphabetical order, wrong number of line breaks etc

[code]

[code]

[code]

It would add some logic

[2020-10-29 21:30] eshellman commented on #4853
@quobit send me an email eric at ebookfoundation org

[2020-10-29 23:19] kakashi215 commented on #4853
I'd also like to help up on this!!

[2020-10-29 23:20] kakashi215 commented on #4588
Count me in too!!!!!!

[2020-10-30 00:01] dev4s commented on #4853
Well, I can help as well :)

[2020-10-30 02:16] U-C-S opened #4892 "Found some duplicate and redirecting Links"
Example in Bash and C#:
<pre>
* [Bash Notes](https://goalkicker.com/BashBook) (PDF)
* [Bash Notes for Professionals](http://books.goalkicker.com/BashBook/) - Compiled from StackOverflow documentation (3.x) (PDF)
</pre>
<pre>
* [C# Notes](https://goalkicker.com/CSharpBook) (PDF)
* [C# Notes for Professionals](http://books.goalkicker.com/CSharpBook/) - Compiled from StackOverflow documentation (3.x)

[2020-10-30 04:04] eshellman commented on #4892
yes please!

[2020-10-30 05:02] charlottetan commented on #4853
Yay! I'll join but am not really a slack person. I'll pop in every so often!

[2020-10-30 06:58] MrS4w commented on #4853
You can count on me @eshellman 😄

[2020-10-30 10:37] brunomguimaraes commented on #4853
Count me on! @eshellman

[2020-10-30 13:31] jo3ght opened #4917 "Add new Dart tutorials"
* [Dart tutorial](https://www.youtube.com/watch?v=Ej_Pcr4uC2Q&ab_channel=freeCodeCamp.org)
Add new Dart tutorials

[2020-10-30 16:56] U-C-S opened #4940 "Books for Angular, Not AngularJS"
While I was doing a PR (#4898), I found that there are only 2 books posted here for the latest Angular Framework that too in the AngularJS section.

Angular != AngularJS

- The AngularJS is old (2014-15), it's the version1.x
- When it reached v2, The developers of it decided to [rename](https://en.wikipedia.org/wiki/Angular_(web_framework)#Naming) it Angular.
- So, Angular is the latest (Currently

[2020-10-30 19:27] SethiPandi commented on #4940
I strongly agree with this, it's especially a problem when a resource is named at the source as AngularJS, but gets put in the repo as Angular.js which I've commented on in the past. It's unclear if Angular.js is even referring to Angular or AngularJS.

AngularJS is version 1, something which has been deprecated for a long time, and will no longer get updates after 2020.
Angular is the current ver

[2020-10-30 21:29] pratyush-patwa opened #4952 "Add new Python Crash Course cheatsheet"
Add cheatsheet for python

[2020-10-30 23:19] eshellman commented on #4853
@dev4s @brunomguimaraes what would you like to work on? I'm not sure how familiar you are with F-P-B. Happy to suggest things based on your interests.

[2020-10-30 23:24] eshellman commented on #4940
Good idea to separate the two. When you do it, you might look through pending PRs so new items don't go in the wrong place.

[2020-10-30 23:25] #4952 closed

[2020-10-31 03:16] karenkgs commented on #4917
I can work on this :)

[2020-10-31 03:22] karenkgs opened #4966 "Add new JS + unit testing tutorial"
Adding this tutorial -> https://www.youtube.com/watch?v=u5cLK1UrFyQ

[2020-10-31 04:41] Utkarsh299-tech commented on #4573
Hi @eshellman , I would say that this should be in books instead of courses because the content here at Tutorials Points is in pdf format that you can download also while reading.
I hope this helps!

[2020-10-31 06:51] pratyush-patwa opened #4971 "Add The C programming Languages by Dennis M. Ritchie"
Add C books:
The C programming Language
The Development Of C
Learn C the hard way

[2020-10-31 10:24] brunomguimaraes commented on #4853
@eshellman F-P-B was one of my main sources of knowledge back in the day and I just want to return the favor.
I speak english and portuguese(PT-BR)

[2020-10-31 10:53] eshellman commented on #4853
@brunomguimaraes The pt-BR courses list is one of our biggest and has seen a lot of recent additions, including a number of pending. Right now the priority is to clear out the pending - often the new contributors don't know to look at the linter output or to fix conflicts - friendly comments are appreciated.

[2020-10-31 19:43] #4971 closed

[2020-11-01 00:00] kadhirash commented on #4917
Great resource, I will work on the PR!

[2020-11-01 01:44] #4917 closed

[2020-11-01 03:28] #4892 closed

[2020-11-01 07:37] dev4s commented on #4853
@eshellman I speak English and Polish (my main language), so I can help with those PRs. I was using similar repos, like the [Awesome-awesomeness](https://github.com/bayandin/awesome-awesomeness) or [Awesome](https://github.com/sindresorhus/awesome). And as @brunomguimaraes I want to return some of the favor ;)

[2020-11-01 14:12] shabab477 commented on #2590
Thank you all the maintainers of this project for showing patience while participating in this event. Love you all <3

[2020-11-01 15:55] kadhirash commented on #4796
Don't think these resources are actually "free" books right?
@SethiPandi what do you think?

[2020-11-01 16:20] kadhirash commented on #4520
Hey @x0rld, you mind if I add this to a PR?

[2020-11-01 17:46] SethiPandi commented on #4796
I can find Algorithm Design on https://archive.org/ which I think makes that one count as free which is cool.

It should use this URL though, not the one in the original issue:
https://archive.org/details/AlgorithmDesign1stEditionByJonKleinbergAndEvaTardos2005PDF

It's the same file (equal SHA265 checksum), but it'll download like 15x faster from archive.org since the other server was shoddy.

---

[2020-11-01 17:49] kadhirash commented on #4796
Alright sounds good, I can work on a PR for it soon.

[2020-11-01 19:52] eshellman commented on #4853
Thanks @dev4s

[2020-11-01 20:02] #4796 closed

[2020-11-01 20:37] x0rld commented on #4520
@kadhirash do it 👍

[2020-11-01 21:14] jc-mindstronghealth opened #5030 "improve vhf/free-programming-books-lint"
https://github.com/vhf/free-programming-books-lint/blob/master/dist/lint.js#L10

it appears the linter only considers these "languages". we want to expand the list to include other languages/files as well. eg. Vietnamese, C, Java, SQL lists.

looks like https://github.com/vhf/free-programming-books-lint/blob/master/dist/lint.js#L12 determines what language a particular file is, ie. just based on a

[2020-11-01 21:15] #5030 closed

[2020-11-01 21:17] borgified opened #5031 "improve vhf/free-programming-books-lint"
https://github.com/vhf/free-programming-books-lint/blob/master/dist/lint.js#L10

it appears the linter only considers these "languages". we want to expand the list to include other languages/files as well. eg. Vietnamese, C, Java, SQL lists.

looks like https://github.com/vhf/free-programming-books-lint/blob/master/dist/lint.js#L12 determines what language a particular file is, ie. just based on a

[2020-11-01 23:21] #4520 closed

[2020-11-01 23:58] eshellman opened #5033 "Hacktoberfest 2020 summary"
This repo received 1,314 @Hacktoberfest PRs and merged 559 (39%) of them (merges from 304 individuals)! Thanks everybody! @saritip, @GintasS, @LeoTino, @kadhirash, @ch-a-nd-a-n, @chessboards, and @harsh-kk had 6 or more commits merged. Thanks everyone, and I hope many of you didn't just do it for the t-shirts.

We created a cheatsheet page, added several course pages, several translated "ABOUT" an

[2020-11-02 02:59] CH-ND-N commented on #5033
Surely sir I am on my way to my nest repo.

[2020-11-02 07:50] GintasS commented on #5033
I personally did it for the tree, way better than a t-shirt in my opinion. Thanks for you and the team for reviewing PRs!

[2020-11-02 08:12] Umarovislam commented on #4858
gotcha

[2020-11-02 08:12] #4858 closed

[2020-11-02 15:09] kadhirash commented on #5033
It was a wonderful experience! Looking to contribute more and help clean the PR's! 😄

[2020-11-02 15:24] alok-cmd opened #5039 "Adding rust courses"
Please add Rust Courses. There are many good quality free videos available on YouTube like Tensor Programming and Doug Milford. Thanks. 👍

[2020-11-02 18:27] #5039 closed

[2020-11-02 21:53] #3683 closed

[2020-11-02 21:54] #3856 closed

[2020-11-03 16:41] contributor13 commented on #5031
I would like to fix this issue. Can anyone please suggest what should I do exactly.

[2020-11-03 18:48] eshellman commented on #5031
@borgified 'vi' is the correct language code (ISO 639-1); ISO 3166 are country codes.
@contributor13 take a look at  https://github.com/vhf/free-programming-books-lint/blob/master/dist/lint.js#L12 and figure out what needs fixing.

[2020-11-04 00:07] kadhirash opened #5063 "Broken or Redirected Links in free-programming-books.md"
A list of some of the broken or redirected links I came to find:

System Info:
 - macOS Catalina: Version 10.15.7
 - Tested on Brave, Firefox, and Chrome browsers

- School of Data Handbook (http://schoolofdata.org/handbook/) -> 503 error
  - Broken
  - Found under Language Agnostic, Datamining
  - Works fine on Chrome for me, however.

- Exploring CQRS and Event Sourcing (https://msdn.microsoft.c

[2020-11-04 15:28] eshellman commented on #5063
school of data does a lot of "inspecting browser"!

[2020-11-06 22:05] eshellman commented on #4579
We need to compile provider-specific consistency notes. So...
[code]
from PRs:
MIT OpenCourseWare #5087
Wikibooks #4230
udacity #3880
leanpub

[2020-11-08 08:52] minelarka14 opened #5092 "Improve big-file usability. Add "Return to Top" Links?"
As the content in a single file is huge, scrolling to the top seems to be a hassle. Would it be possible to add "Return to the top" links after every subtopic that make navigating the files alot easier? I wouldn't mind doing this.

[2020-11-08 23:03] eshellman commented on #5092
we could also think about ways to break it into smaller chunks. we  could do language agnostic and language specific.
if we do links to the index, we probably don't want them after *every* topic.

Comment from the community will be appreciated!

[2020-11-09 01:23] kadhirash commented on #5092
Having it at the end of every single topic does seem excessive, but a workaround could be #4588.

If the files were in separate directories by language specific, for example, then it'd be much less to scroll through and return to top wouldn't be needed!

[2020-11-09 20:31] eshellman commented on #4853
I see @brunomguimaraes has helped out on a number of PRs - Thanks!

[2020-11-12 00:48] kadhirash opened #5112 "Broken or redirected links in free-courses-en.md"
### C++
- Microsoft edX Courses:
  - Advanced C++ (https://www.edx.org/course/advanced-c-plus-plus-1)
  - Intermediate C++ (https://www.edx.org/course/intermediate-c-plus-plus-1)
  -  Introduction to C++ (https://www.edx.org/course/introduction-c-plus-plus-1) --> redirects to https://www.edx.org/course/introduction-to-c-3 but classes currently unavailable.

### Python
- Introduction to Python for

[2020-11-14 00:43] kadhirash commented on #5031
What I came to notice and my understanding is that from the linter code, it excludes the following files: 'README.md', 'CONTRIBUTING.md', 'CODE_OF_CONDUCT.md', 'SUMMARY.md'

That's why the alphabetization isn't enforced for the above files, but it is for "CODE_OF_CONDUCT-es.md" as seen in #5117.

The langstoAlphabetize var doesn't include 'th' so the Thai resources won't be checked for alphabetiza

[2020-11-15 02:08] U-C-S commented on #4940
While the above PR (#5124) only adds a couple of books in english, There are still others (free-courses and other languages) that might have this issue.

I think this Issue should stay open for a while

[2020-11-16 14:52] eshellman commented on #4940
thanks @U-C-S

[2020-11-16 18:59] SethiPandi commented on #5092
I don't have a strong opinion on this issue, I just wanted to drop by something interesting I noticed on another repo.
(If anything, I'm probably with @kadhirash and think having a link on every topic would be excessive.)

I just wanted to note though, it doesn't look like it's unfeasible, another repo took such an approach in the README.

![image](https://user-images.githubusercontent.com/2280158

[2020-11-16 21:07] borgified commented on #4438
scalafiddle.io back to working

[2020-11-16 21:07] #4438 closed

[2020-11-16 21:11] borgified commented on #4683
these are the instances where the longer "-" appears:
[code]

[2020-11-16 21:15] borgified commented on #5092
control + up arrow or command + up arrow (if you are on mac) will take you to the top of any webpage

[2020-11-20 20:40] eshellman commented on #5033
Update: Together with a small team of volunteers, we were able to review every one of the 1314 PRs from October. Some of the suggestions were not appropriate to the project, but now that the dust has settled, we have accepted 55% of the PRs submitted during Octoberfest. The 338 open-source enthusiasts whose changes we accepted come from all over the world, and for many of them, these represented t

[2020-11-20 23:16] computamike opened #5176 "Mark up look strange on the site when using pipes `|`"
It seems that the | in the link breaks the rendering
![C#](https://user-images.githubusercontent.com/464876/99858549-b73ff980-2b85-11eb-81bc-0cd2dcb04e77.png)

Renders correctly when viewing the page within GitHub editing tools, but renders incorrectly on the GH Pages site.

[2020-11-21 00:08] eshellman commented on #5176
not surprising I guess. Want to fix it?

[2020-11-21 02:03] computamike commented on #5176
hi @eshellman - I'm looking into it now...

[2020-11-23 02:09] computamike commented on #5176
For more information - I have developed a linter plugin for this issue, just trying to figure out how to contribute it.

https://github.com/computamike/remark-link-escape

Do I close this issue, or is that something that the team needs to do?

[2020-11-23 14:44] eshellman commented on #5176
Let's leave it open; hopefully it will be addressed tov=gether with  #5031

[2020-11-23 21:52] NitroNils commented on #3196
Thank you, I don't know what I was missing — searching and your link gives plenty :)

[2020-11-24 04:11] #3196 closed

[2020-11-24 04:14] eshellman commented on #4683
fixing this now should cause no problems

[2020-11-24 04:16] eshellman commented on #4683
I would avoid changing it in titles; in the Chinese title, for example —— may be meant to be the character for "one".

[2020-11-25 18:26] minelarka14 commented on #5092
I think that this would greatly improve readability while still retaining minimalism, is it alright if I create a PR to add this?

[2020-11-26 03:55] eshellman commented on #5092
I took a look at that repo, the source files are "rdoc" rather than "md". How do you propose that we implement it? How will it be maintained? will it play nice with our linter?

[2020-11-27 11:46] ianchanning opened #5190 "CONTRIBUTING.md link for PRs is incorrect"
The contributing link for PRs is broken it goes to https://github.com/CONTRIBUTING.md instead of https://github.com/EbookFoundation/free-programming-books/blob/master/CONTRIBUTING.md

You can see either my recent PR https://github.com/EbookFoundation/free-programming-books/pull/5189 or the previous one to that https://github.com/EbookFoundation/free-programming-books/pull/5188 they both have contr

[2020-11-27 16:44] eshellman commented on #5190
I can't reproduce the problem, but I not that the CONTRIBUTING.md link on https://ebookfoundation.github.io/free-programming-books/ doesn't get rendered to HTML

[2020-11-27 19:51] ianchanning commented on #5190
As far as I can tell its because in the PR template it begins with a /

[code]

[2020-11-27 22:13] ianchanning commented on #5092
I think you should be consistent with other awesome lists. I don't remember ever seeing a 'return to top' link. For example the [main awesome list](https://github.com/sindresorhus/awesome#readme) is very long, but still has no return links.

I guess this list is longer than others, but it still seems out of place.

The [nngroup does recommend it](https://www.nngroup.com/articles/back-to-top/) and

[2020-11-30 20:22] Airbus5717 opened #5197 "some free books"
there are a few books here add them https://goalkicker.com/

[2020-11-30 23:53] eshellman commented on #5197
we have 38 of them in our books list

[2020-11-30 23:53] #5197 closed

[2020-12-01 02:47] noatonnet opened #5198 "book"

[2020-12-01 02:48] #5198 closed

[2020-12-01 10:44] computamike commented on #5112
The loss of content is going to be continued issue - I wonder if there has been any thought around (where possible) mirroring this content on the Internet Archive?

We could have a spider vsit each link on the page, and if it gets a suitable response back, could flag that entry as being incomplete).  This would be very similar to a linter.  Something to visit each page, and visit each link in the

[2020-12-02 15:15] eshellman commented on #5112
@computamike in fact we have a Github action that checks links on every changed page. it always passes because the links rarely fail fail because of the changed content. The other issue is that there's the false failure rate is significant.

The way the Github action works is suboptimal because it's a bit hard to find the links that are failing.

Improvements to the link checker action are very we

[2020-12-03 16:18] eshellman commented on #5031
@computamike has contributed a nice fix for pipes to  https://github.com/vhf/free-programming-books-lint/ I've created 3 issues there to address the problems noted in this issue. Folks with Node experience should find these issues pretty easy to fix.

[2020-12-03 20:28] Sid211220 opened #5202 "Python"

[2020-12-03 20:29] #5202 closed

[2020-12-04 01:20] eshellman commented on #5092
we've reorganized our files, so now is a good time to make changes.

[2020-12-04 01:21] eshellman commented on #4683
files have been reorganized; now is a good time to propose changes

[2020-12-04 01:23] eshellman commented on #4588
any feedback on the files reorg?

[2020-12-04 01:24] eshellman commented on #4853
Thanks everyone!

[2020-12-04 01:24] #4853 closed

[2020-12-04 01:24] eshellman commented on #4082
big success!

[2020-12-04 01:24] #4082 closed

[2020-12-04 01:25] #3084 closed

[2020-12-04 01:25] #3115 closed

[2020-12-04 01:25] #3223 closed

[2020-12-04 01:26] #3233 closed

[2020-12-04 01:26] #3264 closed

[2020-12-04 01:27] #3276 closed

[2020-12-04 01:27] #3275 closed

[2020-12-04 01:27] #3269 closed

[2020-12-04 01:28] #3529 closed

[2020-12-04 04:47] TrevCan opened #5204 "2 incorrect links in the Competitive Programming section of Free Programming Books"
As the title says, there are two 'broken' links in the **Competitive Programming** section of [free-programming-books.md](https://github.com/EbookFoundation/free-programming-books/blob/master/books/free-programming-books.md#competitive-programming)
**(1)** The first one is the [Competitive Programmer's Handbook](https://cses.fi/book.html) (https://cses.fi/book.html) - Antti Laaksonen (PDF). This l

[2020-12-05 17:02] chir4gm opened #5206 "Additional Texbooks for Math Section"
There are a few math textbooks indexed here (some of them are already in the list):
https://aimath.org/textbooks/approved-textbooks/

[2020-12-06 14:49] kadhirash commented on #4588
@eshellman I like how it looks more organized now! Could possibly be more refined with "how to" and "contributing" directories as well

[2020-12-06 23:13] eshellman commented on #4588
I didn't do those mostly because the link structure is a bit more complicated. And I wanted to see how things looked. Having them at the top level surfaces them better, too. So I'm inclined to leave them where they are, at least for a while. If we get a lot of translations we'll need to do something.

[2020-12-06 23:13] #4588 closed

[2020-12-06 23:27] eshellman commented on #5031
The most recent PR #5207 seems to have missed an alphabetization error - have we messed up the linter by moving the lists into directories?

[2020-12-08 16:46] #5204 closed

[2020-12-09 09:28] Fleefly20 commented on #5204
thanks

[2020-12-09 20:44] #4598 closed

[2020-12-14 19:24] Seelenkind opened #5219 "Programlamayı öğrenme ücretsiz online kitaplar listesi"

[2020-12-15 01:47] sandersg1 opened #5221 "Hi"

[2020-12-15 01:59] heriipurnama commented on #5221
ok

On Tue, Dec 15, 2020 at 8:50 AM sandersg1 <notifications@github.com> wrote:

[2020-12-15 06:07] SethiPandi commented on #5221
Closing this as spam/junk.

[2020-12-15 06:07] #5221 closed

[2020-12-15 20:59] bu4ak opened #5224 "Broken link (russian -> c -> Особенности языка C. Учебное пособие - C. Шапошникова (PDF))"
![image](https://user-images.githubusercontent.com/17143820/102271225-6a9ad480-3f1f-11eb-9f08-7e0bb1e9863b.png)

Not found (404)
![image](https://user-images.githubusercontent.com/17143820/102271303-84d4b280-3f1f-11eb-9107-e29eb745766c.png)

[2020-12-15 23:17] #5224 closed

[2020-12-16 08:32] #5219 closed

[2020-12-16 20:06] dohia001 opened #5227 "Prog"

[2020-12-16 22:06] SethiPandi commented on #5227
Closing as junk/spam.

[2020-12-16 22:06] #5227 closed

[2020-12-17 21:42] littlejuh opened #5229 "Broken link in free-programming-books-pt_BR.md"
Hi everyone, I found an issue in Portuguese free books lis.
The link to "Ruby on Rails - Desenv. Ágil para Web com Ruby on Rails - Caelum" in [Portuguese(Brazil)](free-programming-books-pt_BR.md)  are broken. I cannot find the originals.

Also thank you for maintaining this repo.

[2020-12-19 09:34] GintasS opened #5232 "Potentially broken links in free-programming-books.md"
I scanned the file via HTTP link checker and go this:

Error: https://github.com/practicingruby/rbp-book/tree/gh-pages/pdfs on line 2588 is unreachable.
Error: https://github.com/mdipierro/nlib on line 336 is unreachable.
Error: https://github.com/google/styleguide/blob/gh-pages/objcguide.md on line 2159 is unreachable.
Error: http://stephane.ducasse.free.fr/FreeBooks.html on line 254 is unreachab

[2020-12-19 17:38] eshellman commented on #5232
I tried 3 of the links. one (a packt) book, was dead. We should probably remove the packt links. another - a gatech link, was https but should be http. The github objcguide like worked fine.

Are you looking at the link checker we run as a github action?

Bad links should be removed; it's tedious to check all of them, and we very much appreciate the PRs.

[2020-12-19 18:05] GintasS commented on #5232
I used local extension on my Visual Studio Code, well, I just thought pasting them here if someone want to help 👍

[2020-12-19 20:36] eshellman commented on #5232
5 days ago, the link-checking action found only 6 problems (I think it ignores some problems due to common false failure):
1. [L0449]  http://people.cs.aau.dk/~csj/Thesis/ Net::ReadTimeout
  2. [L0462] 503 http://schoolofdata.org/handbook/
  3. [L0567] 404 http://home.iitk.ac.in/~arlal/book/la.pdf
  4. [L0842] 403 https://msdn.microsoft.com/en-us/library/jj554200.aspx
  5. [L1187] 404 http://daly.

[2020-12-21 03:13] 3285177808 opened #5235 "阿里云双12大促进行中【免费送1核2G5M服务器，需要购买联系我，先到先得！】"
阿里云双12大促进行中【免费送1核2G5M服务器，需要购买联系我，先到先得！】
1核2G内存5M带宽：57/半年
2核4G内存1M带宽:847元/3年
2核4G内存3M带宽：1107元/3年
2核8G内存3M带宽：1431元/3年
4核8G内存3M带宽：2691元/3年
8核16G内存5M带宽：7353/3年
双12主会场：https://www.aliyun.com/minisite/goods?taskCode=pintuan20201212&recordId=293114&userCode=wbqjs7bw

腾讯云秒杀活动进行中
1核2G1M50G盘，99元/1年，298元/3年
2核4G3M150G盘，586元/1年
2核4G5M(企业用户专区，限购3台)：1821元/3年
2核8G5M(企业用户专区，限购3台)：2205元/3年
4核8G5M(企业用户专区，限购3台)：3242

[2020-12-21 16:31] #5235 closed

[2020-12-23 14:24] eshellman commented on #4160
feedback in this issue from the community is welcome. Splitting out a zh_CN the from the zh list would make a long list easier to use, but could hide titles as well. For a courses page with video content the issue is quite different as Mandarin and Cantonese are completely different spoken languages. Perhaps a better way to go is to add annotations to a single list to indicate traditional vs simpl

[2021-01-06 13:50] Astrodevil opened #5245 "Broken Links"
link given in line 55 of **free-programming-books/books/free-programming-books-pl.md** is not working .

![issue](https://user-images.githubusercontent.com/73425223/103775550-34e79800-5054-11eb-8e58-e00837a68d46.png)

[2021-01-06 15:05] #5245 closed

[2021-01-07 18:27] eshellman opened #5249 "Rename "Language Agnostic"?"
Based on the categories in "Language Agnostic", I'm thinking it would be better to call it "By Topic" or "By Subject" and create "By Language" for the rest. This could be also be a useful way to split the too-long books list into two files.

Opinions/ Feedback?

[2021-01-08 20:27] kadhirash commented on #5249
I think renaming it to "By Topic" would be great based on what's currently there as it lists specific concepts such as "Algorithms and Data Structures" and "Cloud Computing"

[2021-01-08 20:29] kadhirash commented on #5190
Closing as the issue is resolved with PR #5226

[2021-01-08 20:29] #5190 closed

[2021-01-11 13:52] Astrodevil commented on #5232
![scr](https://user-images.githubusercontent.com/73425223/104190565-4957d600-5442-11eb-8e01-f9bc4af9efc0.png)

- I clicked the link & i founds these links are not reachable,

- Specially related to this website https://www.packtpub.com

- Its not loading anyting.

Error: https://www.packtpub.com/free-ebooks/hands-cloud-administration-azure on line 384 is unreachable.
Error: https://www.packtpub.co

[2021-01-11 16:46] eshellman commented on #5232
yep, they're still dead. Time to delete these packtpub links.

[2021-01-12 08:34] SethFalco commented on #5232
Seems that some of them, probably all but didn't check each one, have just shifted from `/free-ebooks` to `/products`.

for example
https://www.packtpub.com/free-ebooks/hands-cloud-administration-azure
redirects to
https://www.packtpub.com/free-ebooks/virtualization-and-cloud/hands-cloud-administration-azure/9781789134964
which is no longer free and has been moved to
https://www.packtpub.com/produ

[2021-01-12 18:08] SethFalco commented on #5249
Just to clarify, do you mean like?

* By Language
  * Java
  * Python
  * ...
* By Topic
  * Cloud Computing
  * Kubernetes
  * ...

As the table of contents, and the body of the document reflecting this structure?

[2021-01-12 20:21] #3368 closed

[2021-01-12 20:21] #3447 closed

[2021-01-12 20:58] eshellman opened #5257 "State of the Repo 2021"
The free-programming-books repo on GitHub grew significantly in 2020. As of January 12, 2021, it has 170,459 stars, fourth most of all repos on Github and up 26% from last year. The repo has been forked almost 40,000 times, and it added another 900 commits from 448 individuals in 2020. 1,584 people in total have supported the project with improvements.

Free-Programming-Books now contains 3,770 li

[2021-01-12 20:59] #5033 closed

[2021-01-12 20:59] #3513 closed

[2021-01-12 21:01] eshellman commented on #5249
Yes

[2021-01-12 21:03] #5232 closed

[2021-01-12 22:12] SethFalco commented on #5249
I'd be a fan of this change then personally.
It seems like a more logical way to present the categories I think, and it'll be nice to have all the languages together rather than split only by a single non-language category.

[2021-01-14 13:51] saurabhprasadsah opened #5258 "Android page"
when  opening android page it's not working?

[2021-01-14 15:05] SethFalco commented on #5258
Could you elaborate on what you're referring to with "android page"?
I thought you meant links in the table of contents, but all the "Android" links appear to be working for me.

[2021-01-17 12:02] passervl opened #5265 "Book"

[2021-01-17 15:06] SethFalco commented on #5265
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if there is a particular resource you want added, or you find a problem with the repository that you can better describe.

[2021-01-17 15:06] #5265 closed

[2021-01-17 19:48] #4966 closed

[2021-01-21 11:17] saurabhprasadsah commented on #5258
yes when we opening the link of android.. then page will not found

[2021-01-21 11:17] #5258 closed

[2021-01-25 11:54] DoriruNishimura opened #5278 "programming-books"

[2021-01-25 13:23] SethFalco commented on #5278
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if there is a particular resource you want added, or you find a problem with the repository that you can better describe.

[2021-01-25 13:23] #5278 closed

[2021-01-31 17:45] fardgoli opened #5282 "Free books"

[2021-01-31 18:14] SethFalco commented on #5282
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-01-31 18:14] #5282 closed

[2021-01-31 18:59] Mandymoore680 opened #5283 "Thank you!"
Thank you!

_Originally posted by @eshellman in https://github.com/EbookFoundation/free-programming-books/issues/5281#issuecomment-770298830_

[2021-01-31 19:29] #5283 closed

[2021-02-05 20:08] SethFalco commented on #3357
@eshellman Just want to check with you, it looks like this issue can be closed?

https://github.com/EbookFoundation/free-programming-books/pull/4181/files#diff-06af0d92444a8bf7277615e4c4e7fdbbe2fface4acbb241d772ce8391931d6a0R132

They were both fixed in the referenced PR, the links were replaced with Web Archive links.

[2021-02-05 20:58] SethFalco commented on #5092
On the side, since this repository recognizes itself as an awesome list on the README, it might be nice to add the `awesome` topic to it on GitHub.

---

I'll gladly contribute the change, but just want to verify if we really want to do this, and if so, which method.

Looking at the most popular awesome repositories on GitHub with the topic `awesome`.
* awesome - N/A
* awesome-python - N/A
* aweso

[2021-02-06 18:41] #4683 closed

[2021-02-06 18:44] #3357 closed

[2021-02-06 18:49] eshellman commented on #5092
how would it work if we split the english books list into topics and languages?

[2021-02-07 04:48] RT503 opened #5288 "I"

[2021-02-07 04:49] #5288 closed

[2021-02-09 08:35] doaashasho opened #5291 "انت شخص رائح حقا تستحق قلب"
❤
<a  href="https://www.aflam-4you.com">&nbsp;</a>

[2021-02-09 08:43] doaashasho opened #5292 "اعادة توجيه الروابط"
الروابط المعطلة broken link ❤
<a  href="https://www.aflam-4you.com/2021/02/tawakkalna-apk.html">&nbsp;</a>

[2021-02-09 08:44] doaashasho commented on #5292
حل مشكلة broken link ❤
<a  href="https://www.aflam-4you.com/2021/02/tawakkalna-apk.html">&nbsp;</a>

[2021-02-09 08:52] doaashasho opened #5293 "ماهي هذه الكتب البرمجية"
❤ ماهي الكتب لديك
<a  href="https://www.aflam-4you.com">&nbsp;</a>

[2021-02-09 11:58] AgileNix opened #5294 "JavaScript Interview Prep: FREE ebook"
Could you add -> [https://gumroad.com/l/javascript-interview-35](https://gumroad.com/l/javascript-interview-35)

[2021-02-09 13:38] SethFalco commented on #5291
Translation: You are a really wonderful person, you deserve a heart

Closing this since there isn't a clear request or scope of work associated with it.
Meanwhile, I'm sure all the contributors appreciate your compliment! \\(^-^)/

[2021-02-09 13:38] #5291 closed

[2021-02-09 13:42] SethFalco commented on #5293
Translation: What books do you have?

---

This repository does not store books itself, but if you browse the repository you'll find links for many books.

Assuming Google Translate was correct, it seems you're familiar with Arabic, so you can visit the files which are `...-ar.md` which contain resources in Arabic.

See the following for books for example:
https://github.com/EbookFoundation/free-p

[2021-02-09 13:42] #5293 closed

[2021-02-09 17:00] eshellman commented on #5292
we run a link checker on every submission

[2021-02-09 17:00] #5292 closed

[2021-02-12 20:00] ikergbaque opened #5295 "Coding"

[2021-02-13 00:28] SethFalco commented on #5295
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-02-13 00:28] #5295 closed

[2021-02-13 00:28] eshellman commented on #5295
definitely

[2021-02-13 00:33] ikergbaque commented on #5295
oh my bad. I'm new. I did not k ow how to save the post.
My apologies

[2021-02-13 00:35] ikergbaque commented on #5295
oh my bad. I'm new. I did not know how to save the post. So "I put the name **coding**" .
My apologies

[2021-02-13 00:51] SethFalco commented on #5092
My understanding is that the "back to top" links would always send the user back to `#index` (table of contents), so I don't think the structure of the documents would change anything. (Assuming we did "back to top" the way most sites would handle it.)

### By Language [⤴️](#index)

#### Java [⤴️](#index)

* [Cool Java Resource](https://example.com) - Author

#### Python [⤴️](#index)

* [Cool Pyth

[2021-02-15 13:04] flyxyz123 opened #5298 "Book Become Not Free"
I think the latest version of "An introduction to reverse engineering for beginners" by Dennis Yurichev is not free anymore.

[2021-02-15 21:13] eshellman commented on #5298
Agree.

[2021-02-16 06:25] tunggnu commented on #2353
I have found an issue. When we have a title with more than 3 editions, we can't list them in descending chronological order, due to the rule "titles must be in alphabetical order".

For example, in the #5299 PR, my first commit could not pass Travis CI because it contains:

* [How to Think Like a Computer Scientist: Learning with Python, Interactive Edition](https://runestone.academy/runestone/boo

[2021-02-18 14:34] #5298 closed

[2021-02-26 21:37] moonlemaforever opened #5306 "National Institute of Hotel Management (NVQ/IVQ) Level Book"
15th Edition

[2021-02-27 23:26] mzaghal opened #5307 "book"

[2021-02-28 00:49] SethFalco commented on #5307
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-02-28 00:49] #5307 closed

[2021-03-01 08:52] mucholocobbb opened #5308 "Библиотека Программиста"

[2021-03-01 11:36] SethFalco commented on #5308
Translation: Programmer's Library

---

Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-03-01 11:36] #5308 closed

[2021-03-01 13:28] SethFalco commented on #5306
Closing this as what's being asked of is very ambiguous.
We can't do much with just the name of the book, should it be added, removed, where can it be found? It is even related to programming or software?

[2021-03-01 13:28] #5306 closed

[2021-03-13 15:23] 5jll opened #5312 "Shell"
{ " language " : " shell " ، " os " : [ " linux " ]، " dist " : " xenial " ، " jobs " : { " include " : [ { " language " : " node_js " ، " node_js " : " 6 " ، " before_script ": [ " npm install -g free-architecture-books-lint " ]، " script " : [ " fpb-lint. " ] }

[2021-03-13 15:23] #5312 closed

[2021-03-14 02:58] wmcnamara opened #5313 "Error and redirect link in README.md"
In the main README file there is a section at the top stating:

"This list was originally a clone of StackOverflow - List of Freely Available Programming Books with contributions from Karan Bhangui and George Stocker."

With the link to the SO page being: https://web.archive.org/web/20140407005216/http://stackoverflow.com/a/392926

This produces a 301 error, and requires a redirect that takes a fe

[2021-03-14 08:22] ankan1811 opened #5315 "book"

[2021-03-14 08:22] #5315 closed

[2021-03-14 11:14] Dalvin12d commented on #5315
Thank you

[2021-03-14 23:24] #5313 closed

[2021-03-28 08:24] GintasS commented on #5294
Added a PR: #5324

[2021-03-29 03:17] zhoufoxcn opened #5325 "An online Golang study lesson from Microsoft"
An online Golang study lesson from Microsoft,the url is:
[https://docs.microsoft.com/zh-cn/learn/paths/go-first-steps/](url)

[2021-03-29 19:56] U-C-S opened #5326 "The .NET framework Issue"
Currently, There are 2 different .NET frameworks in the .NET World
- .NET Framework (latest is called .NET Framework 4.8)
- .NET Core (latest is called .NET 5)

Both have differences and similarities between them.
**.NET framework** is older one here and Microsoft recommends to use **.NET core**, which is currently updated yearly
The Naming here often confuses a lot of people who wants to learn th

[2021-03-29 23:14] eshellman commented on #5326
Good idea!

[2021-03-30 16:42] GintasS commented on #5294
I'm voting to close this because it has been fixed.

[2021-03-30 17:47] #5294 closed

[2021-03-31 15:38] GintasS commented on #5325
Where this should go? Tutorials, books? Since this an interactive one, so maybe a new file with **free-interactive-tutorials-zh-cn** ?

[2021-03-31 16:27] eshellman commented on #5325
I guess it would be better to start free-courses-zh_cn

[2021-04-01 08:02] GintasS commented on #5325
Ok then, maybe I have to time to add PR for this.

[2021-04-02 06:59] chambrin opened #5329 "Books code"

[2021-04-02 13:30] #5329 closed

[2021-04-02 16:16] GintasS commented on #5325
Added this in PR: #5331.

[2021-04-05 12:52] fake-rookie commented on #5325
https://docs.microsoft.com/en-us/learn/paths/go-first-steps/

This is the `English` version.

[2021-04-06 15:01] Druvo opened #5333 "Django Design Patterns and Best Practices - Second Edition"
[django-design-patterns-best-practices-2nd.pdf](https://github.com/EbookFoundation/free-programming-books/files/6265550/django-design-patterns-best-practices-2nd.pdf)

About this book
Building secure and maintainable web applications requires comprehensive knowledge. The second edition of this book not only sheds light on Django, but also encapsulates years of experience in the form of design patt

[2021-04-06 15:07] #5333 closed

[2021-04-08 10:13] kaream671 opened #5334 "Go"
Go

_Originally posted by @kaream671 in https://github.com/EbookFoundation/free-programming-books/pull/5332#issuecomment-815637936_

[2021-04-08 12:43] #5334 closed

[2021-04-11 03:34] sulemankhan091 opened #5336 "Programming Resources"
Free books

[2021-04-11 11:53] SethFalco commented on #5336
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-04-11 11:53] #5336 closed

[2021-04-13 14:36] Liladrigo opened #5339 "Free books"

[2021-04-13 15:13] #5339 closed

[2021-04-14 20:45] GintasS commented on #5325
Will add this in the new PR.

[2021-04-15 14:23] GintasS commented on #5325
I'm voting to close this because it has been fixed.

[2021-04-15 14:24] GintasS commented on #5325
I'm voting to close this because it has been fixed.

[2021-04-15 20:09] #5325 closed

[2021-04-15 20:12] eshellman commented on #5325
@GintasS if you title the PR "fixes #issuenum" the issue gets closed automatically when the PR is accepted.
https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue

[2021-04-15 20:16] GintasS commented on #5325
Thanks, now I'll know!

[2021-04-18 04:31] brian474 commented on #5325
肉肉肉肉

[2021-04-22 10:24] Lyponellen opened #5342 "Broken Link in Cheat-sheets"
C++ Cheat sheet not available.

https://www.cs.ccu.edu.tw/~damon/oop/,c++refcard.pdf
https://person.dibris.unige.it/moggi-eugenio/PG1-13/Cpp_reference.pdf
one of them could be an alternative

[2021-04-24 17:37] eshellman commented on #5342
Dead links should be removed. The 2 links you suggest are good content, but casually posted, not clear if the poster has permission to distribute. In other words, the sort of links that go bad within a year, so not the best for our purposes.

[2021-04-25 05:59] toabhays opened #5343 "Free Books"

[2021-04-25 12:00] SethFalco commented on #5343
Closing this since there isn't a clear request or scope of work associated with it.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-04-25 12:00] #5343 closed

[2021-04-25 14:00] JoBaHP opened #5344 "Broken link Dashing D3.js Tutorial"
Broken link: https://www.dashingd3js.com/table-of-contents
Alternative: https://www.dashingd3js.com/d3-tutorial

[2021-04-25 18:55] #5344 closed

[2021-04-29 02:33] ez-kraivit opened #5357 "book solidity thailand"
[solidity](https://github.com/Solidity-Thailand)

[2021-04-30 04:01] eshellman commented on #5357
not a book is it?

[2021-04-30 04:19] ez-kraivit commented on #5357
It is a documentation for solidity languages. I expect annotation information to be added.

[2021-05-01 17:26] eshellman commented on #5249
SICP is in "Theoretical Computer Science" - we have SEVEN versions. The new contributor perspective is really valuable; MAYbe MAY is a good time to do this.

[2021-05-01 17:50] espertus commented on #5249
My bad, I searched on the author name, not on the title. I would not have expected it under Theoretical Computer Science, but I have no excuse for not searching. 😳

For what little it's worth, I like the proposal to split up the list by language and by topic. I would want to know whether it's okay to put a given book into both lists.

[2021-05-06 00:08] SametNuri opened #5364 "Nice"
.

[2021-05-06 00:10] #5364 closed

[2021-05-09 15:54] prabhath75 commented on #5206
let me edit

[2021-05-10 16:25] sk-lgtm opened #5375 "Coding"

[2021-05-10 16:35] SethFalco commented on #5375
Closing since there isn't a clear request or scope of work.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-05-11 21:18] sjharb opened #5378 "Broken link for C++ cheat sheet : https://www.hoomanb.com/cs/quickref/CppQuickRef.pdf"
The C++ cheat sheet PDF link is broken.

https://www.hoomanb.com/cs/quickref/CppQuickRef.pdf

[2021-05-13 05:44] jayantbansal21 opened #5379 "Advanced Adobe XD for develpers"
This course teaches about using photoshop, especially the skills that a develop should know, which sometimes comes really handy.

https://webdesign.tutsplus.com/courses/advanced-adobe-xd-for-everyone

[2021-05-13 18:53] kaream671 opened #5381 "19270"
19270

_Originally posted by @kaream671 in https://github.com/mozilla-mobile/fenix/pull/19500#issuecomment-840761686_

[2021-05-14 14:55] MuhammadSaood opened #5382 "swap variable"

[2021-05-15 17:22] SethFalco commented on #5382
Closing since there isn't a clear request or scope of work.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-05-15 17:22] #5382 closed

[2021-05-19 17:49] GintasS commented on #5379
I'm taking this issue.

[2021-05-20 11:45] SethFalco commented on #5379
@GintasS Thanks for your contribution! 🎉

Just a heads-up! If you wrote something like "Closes #5379" or "Fixes #5379" in the description or your PR, it would've closed this issue automatically.

[2021-05-20 11:45] #5379 closed

[2021-05-20 11:47] jayantbansal21 commented on #5379
Ohh, I am new to open source contribution, thanks

[2021-05-22 21:45] cs102 opened #5389 "Vim, A bite of Vim"
FYI: The first book on the Vim category [A bite of Vim ](https://vim.swaroopch.com/) has a suspicious link with a possible virus on [Page 81, Link 16](https://github.com/cs102/pictures/blob/main/vim-suspicious.png), I added the link below if anyone wants to look at it in a Virtual Machine or a Safe Env.

⚠️⚠️⚠️
[16] http://phraktured.net/vimmity-vim-vim.html
☠️☠️☠️

Thanks to everyone's hard work

[2021-05-23 00:34] eshellman commented on #5389
will check with  @swaroopch

[2021-05-24 21:33] SethFalco commented on #5389
Looks like back in 2008 it would've taken one to a page like this:
https://web.archive.org/web/20090208081230/http://phraktured.net/vimmity-vim-vim.html (2009 snapshot)

Unfortunately, today it redirects the user to a page with a tonne of requests that uBlock Origin blocks.

I could be wrong, but it looks to me like someone [domain sniped](https://en.wikipedia.org/wiki/Domain_drop_catching) and [p

[2021-05-24 22:17] swaroopch commented on #5389
Unfortunately, I have lost the original sources of the book, so unable to delete the link and regenerate the PDF. I could use the help if anybody can edit the PDF directly, which I can re-upload.

[2021-05-24 23:09] SethFalco commented on #5389
Once something has become a PDF, is there a reliable way to modify it without the source?

I did just try to import it to LibreOffice Draw 7.1.3, but unfortunately it breaks the formatting of the document. All monospace text gets wide, text spills off the page, and hyperlinks are removed so nothing is clickable anymore.

[2021-05-25 00:21] eshellman commented on #5389
Thanks for getting back to us. I'd be happy to help.  Let me take a look.

[2021-05-25 13:44] CarlosViniMSouza opened #5394 "I would like to ask a question!"
**Good morning, I would like to know if I can place 2 books that are available on my Google Drive. I don't know of other ways to make them available for people to access.**
### OBS(1): And these 2 books are in Brazilian Portuguese.

### OBS(2): I'm still reading CONTRIBUTING.md - I need to see all the rules before thinking about making a Pull Request.

### Link to Luís Damas Language C: https://dr

[2021-05-25 14:33] eshellman commented on #5394
In general, we do not link to file sharing sites, including Google Drive. Distribution of the books you propose does not seem to be authoized by the creators.

[2021-05-25 14:33] #5394 closed

[2021-05-25 15:02] CarlosViniMSouza opened #5395 "Engineering Problem Solving with C"
### Ok, I know that the 2 books I mentioned earlier could not be distributed. But, I would like to ask if this book that I am going to comment on can be shared!

### It is one of the few books in English that I have access to ...

*Link to the book Engineering Problem Solving with C: https://drive.google.com/file/d/0B9v-EEBD5rzgc3BYUDZmemdMRmM/view*

[2021-05-25 15:22] dorunto opened #5396 "书"

[2021-05-25 15:27] SethFalco commented on #5396
Closing since there isn't a clear request or scope of work.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-05-25 15:27] #5396 closed

[2021-05-26 13:58] eshellman commented on #5389
I have swapped the hyperlink in the pdf with the wayback machine version. The new pdf is available at https://unglue.it/work/156169/ (hexedited the file, then opened and reexported with MacOS Preview)

[2021-05-27 01:31] boatengdickson opened #5398 "Programming books"
Get any programming book here

[2021-05-27 08:54] Rajendraladkat1919 commented on #5398
@boatengdickson can you please close this issue. We have already given name to repo as `free-programming-books`

or else let me know how can I help to close this issue.

Thanks

[2021-05-27 10:47] #5398 closed

[2021-05-27 20:11] HadeidM opened #5401 "link to 'The Art of Computer Programming - Donald Knuth (fascicles, mostly volume 4)' broken"
http://www.cs.utsa.edu/~wagner/knuth/ - here is the link that is broken.

[2021-05-29 15:25] zinthuaung225 opened #5403 "Programming"

[2021-05-29 19:56] #5403 closed

[2021-05-30 02:42] cnapoleon opened #5404 "Books"

[2021-05-30 02:50] KhinShineSiThu opened #5405 "Save"

[2021-05-30 15:36] W0xer opened #5406 "Ebooks for free"

[2021-05-30 18:25] #5395 closed

[2021-05-30 19:02] #5404 closed

[2021-05-30 19:02] #5405 closed

[2021-05-30 19:02] #5406 closed

[2021-06-03 07:21] ankitcr7-afk commented on #5401
Can i provide different domain for this book? If yes i would like to solve this issue

[2021-06-03 16:04] eshellman commented on #5401
based on https://cs.stanford.edu/~knuth/taocp.html I'd say this book is not free and should be removed from our list

[2021-06-04 05:02] ghost opened #5408 "Fortran 95 links broken"
1. http://people.cs.vt.edu/~asandu/Deposit/Fortran95_notes.pdf
2. https://www.mrao.cam.ac.uk/~rachael/compphys/SelfStudyF95.pdf

[2021-06-05 14:16] ankitcr7-afk commented on #5401
Yea exactly

[2021-06-06 00:06] boosie74 commented on #5406
Thank you for you help.

[2021-06-07 11:05] silicon-wafer commented on #5408
@eshellman
1. https://www.mjr19.org.uk/f1nn.pdf
2. https://www.archer.ac.uk/training/course-material/2014/08/F95_CCFE/Fortran95CourseNotes.pdf

[2021-06-11 12:09] vikasmauryalive opened #5413 "Books"

[2021-06-11 14:56] #5413 closed

[2021-06-15 03:08] kvvvty opened #5414 "123"

[2021-06-15 13:01] #5414 closed

[2021-06-16 12:06] FDenis opened #5415 "Free programming book"

[2021-06-16 12:10] #5415 closed

[2021-06-16 19:13] sudkadasdasda opened #5417 "Da"

[2021-06-16 19:14] #5417 closed

[2021-06-21 22:10] boosie74 commented on #5408
Thank you very much sir. I hope that help if not send a message and I'll help out . Will need help with a phone and laptop design. Also various other things I have ony agenda.

[2021-06-30 02:36] othmanebatha opened #5422 "pro"

[2021-06-30 13:24] SethFalco commented on #5422
Closing since there isn't a clear request or scope of work.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-06-30 13:24] #5422 closed

[2021-07-05 08:41] GintasS commented on #5408
@eshellman I wanted to work on this, but It's really not clear of what needs to be done, maybe you understand this?

[2021-07-05 16:59] eshellman commented on #5408
looks to me that the dead links should be removed

[2021-07-06 15:03] #5408 closed

[2021-07-09 14:51] davorpa opened #5431 "Pandas entry update on Books - English - Python?"
Hello contributors 👋

Is really needed have this entry with "in process" note? It always points to last version 😉.
https://github.com/EbookFoundation/free-programming-books/blob/62da834ed2d7601d50fe6e7f51b5db41568d1e0e/books/free-programming-books.md#L2570-L2581

I can contribute with this minor change. Or updating to add html links:

* Online: https://pandas.pydata.org/docs
* HTML: https://pandas

[2021-07-09 15:10] eshellman commented on #5431
I'd change to online and remove the in process note

[2021-07-10 15:04] JoolsxD opened #5434 "Learning"

[2021-07-10 22:00] #5431 closed

[2021-07-10 22:10] #5434 closed

[2021-07-12 15:35] davorpa commented on #5342
Duplicate of #5378

[2021-07-12 15:39] davorpa commented on #5249
As a contributor I like @SethFalco suggestion

[2021-07-12 15:53] #5342 closed

[2021-07-20 06:10] wenchao1024 opened #5441 "Very impressive"
If only my RP could make so many stars！！！

[2021-07-20 07:49] lingsheng001 opened #5442 "Recommend a good RP to read global computer papers:"
1000+ copies of computer paper, Carnegie Mellon University, University of Chicago, Facebook, Google, Microsoft, Twitter and other great work, constantly updated...
https://github.com/0voice/computer_expert_paper

[2021-07-20 13:01] eshellman commented on #5441
yes

[2021-07-20 13:01] #5441 closed

[2021-07-20 13:02] eshellman commented on #5442
Not an authorized distribution. Please see CONTRIBUTING.md guidelines.

[2021-07-20 13:02] #5442 closed

[2021-07-21 03:40] Hardikpoudel opened #5443 "Addition of new framework Fastify JS under the Javascript"
Fastify, which is a open source node framework seems to be missing from your frameworks section in javascript, I think this needs to included as well

[2021-07-21 14:14] eshellman commented on #5443
If there are free books covering Fastify, add them. We try not to create a new section with only one book though.

[2021-07-23 16:48] davorpa commented on #5063
Me too. Even cleaning cookies or IP change.

Its not mantained anymore. I think it could be fixed only removing redirection. Also, it has downloadable content like exercises too. Then, maybe better link to page instead download directly (it's more general)

BR

[2021-07-24 17:49] rca1943 commented on #5249
Absolute newbie here: how about something similar such as "language independent"?

[2021-07-25 02:11] davorpa commented on #5229
#5231 should close this 🤔

[2021-07-25 13:10] davorpa commented on #4238
I think this should be closed 🤔.

It's solved in #4474 and #5183

[2021-07-25 13:23] davorpa commented on #3612
@eshellman @giorgiberia

this seems to bee a platform courses, it isn't?

How to contribute with PR to add it?

[2021-07-25 14:46] prateekcode commented on #4238
Yes, I'm closing this issue now. Thanks :)

[2021-07-25 14:46] #4238 closed

[2021-07-26 01:44] eshellman commented on #5063
thanks!

[2021-07-26 01:45] #5063 closed

[2021-07-26 01:48] #5229 closed

[2021-07-26 01:49] eshellman commented on #3612
site seems dead

[2021-07-26 17:01] davorpa commented on #5443
The only I could find until this moment is the official documentation:

https://www.fastify.io/docs/latest

Can it be valid as a book?

[2021-07-27 21:42] davorpa commented on #4416
I found this both snippets that could help using github actions:

- https://rammusxu.github.io/toolkit/snippets/github-action/#get-other-step-output-as-enviroment-in-github-script
- https://rammusxu.github.io/toolkit/snippets/github-action/#create-a-comment-in-pull-request

Basically
- Monitor exitcode of linting step
- If distinct than 0 then there are errors. Save error stream output as action e

[2021-07-28 14:20] eshellman commented on #5443
yes

[2021-07-28 20:51] surajsinghIT opened #5457 "Books"

[2021-07-29 00:07] davorpa commented on #5457
Hello @surajsinghIT

Welcome to GitHub.

Could you fill your issue request?

[2021-07-29 03:29] #5443 closed

[2021-07-29 03:30] #5457 closed

[2021-07-30 14:11] davorpa commented on #5112
All achieved / deprecated 🤔: https://www.edx.org/school/microsoft
No valid archive mirror 😣

Last mirror at 2018 Sept: https://web.archive.org/web/20180926172759/http://hginit.com/
Seems OK 🎉

Last mirror at 2016 Dec: https://web.archive.org/web/20161219180842/https://www.findlectures.com/?class1=Technology
Only accesible first page 😣

[2021-07-30 14:37] davorpa commented on #5031
🎉 Seems all merged/resolved:
- [x] vhf/free-programming-books-lint#23 vhf/free-programming-books-lint#14
- [x] vhf/free-programming-books-lint#59 vhf/free-programming-books-lint#4
- [ ] vhf/free-programming-books-lint#13 vhf/free-programming-books-lint#12 vhf/free-programming-books-lint#15
- [x] vhf/free-programming-books-lint#16 #5239
- [x] vhf/free-programming-books-lint#17 #5239

[2021-07-30 15:45] eshellman commented on #5031
Thanks for checking!

[2021-07-30 15:45] #5031 closed

[2021-07-31 17:31] davorpa commented on #5326
I think this is already solved and merged by #5327 😉

[2021-07-31 19:04] davorpa commented on #5176
Hi team

Although the nice @computamike's plugin was added as dependency in v2.2.0, this improvement was reverted in 2.3.0 (2020 Dec)

https://github.com/vhf/free-programming-books-lint/compare/v2.2.0...v2.3.0

@vhf CI action is now using last released version (v3.0.0) with last alphabetize requested features but not with vhf/free-programming-books-lint#12

https://github.com/EbookFoundation/free-

[2021-08-01 04:58] #5326 closed

[2021-08-02 12:42] fake-rookie commented on #5112
all `edx` link was wrong.

[2021-08-02 15:06] eshellman commented on #5112
agree

[2021-08-02 17:55] davorpa commented on #5112
Then... remove affected edx and add others as wayback machine?

[2021-08-02 21:48] eshellman commented on #5112
yes

[2021-08-03 12:31] #5112 closed

[2021-08-03 13:58] captn3m0 commented on #5112
Filing a PR for some fixes for hginit (there's a web archive link that needs replacing).

Anyone has suggestions on whether [HgInit](https://hginit.github.io/) classifies as a book or a course? It is currently repeated.

[2021-08-03 16:34] davorpa commented on #5112
You are right! I didn't realize about duplicated content 😳.

It's seems more like **book** than course due didn't it  doesn't depend on interactive content.
https://github.com/EbookFoundation/free-programming-books/blob/master/CONTRIBUTING.md#genres

So **move from courses to books**. Remember also remove Mercurial section from courses TOC 😉.

Refer link to this issue on fix push/commit: `EbookFou

[2021-08-04 11:36] S6ril opened #5466 "RTOS programming course"
Hey,

I think it would be interesting to add the Youtube courses offered by DigiKey about RTOS :

https://youtube.com/playlist?list=PLEBQazB0HUyQ4hAPU1cJED6t3DU0h34bz

It is very used in field of embedded systems !

Thank you for all these resources on this Github repo !
S6ril

[2021-08-04 11:59] S6ril opened #5467 "Add Matplotlib Cheat Sheet"
Hey,

Here the official Matplotlib Cheat Sheet in Python :
https://github.com/matplotlib/cheatsheets/

Best regards
S6ril

[2021-08-04 12:19] S6ril commented on #5466
Hey,

There is also this book from the official FreeRTOS Website :

https://freertos.org/fr-content-src/uploads/2018/07/161204_Mastering_the_FreeRTOS_Real_Time_Kernel-A_Hands-On_Tutorial_Guide.pdf

Best Regards
S6ril

[2021-08-04 12:33] davorpa commented on #5467
It will be a pleasure for me add it 🤗

[2021-08-04 13:35] #5467 closed

[2021-08-05 14:31] #5466 closed

[2021-08-08 16:43] davorpa opened #5470 "lint: Broken links reported from urlchecker"
It seems that some links are down :worried: like in the past #2541. It's rare, because **ci build didn't fail**

### Last full update: July 5, 2022

### :hammer_and_wrench: How to proceed

**First look up for an alternative link**:

1. Try to change protocol `http`-`https`.
2. On the same site. Maybe was moved due to a website redesign.
3. In the author/editorial/publisher site
4. In [The Wayback

[2021-08-09 15:33] Sear3 opened #5476 "programming books"

[2021-08-10 13:08] eshellman commented on #5470
The link checking CI doesn't fail because we don't want submitters to be distracted by unrelated link failures and there is a background of false negatives. We've discussed having the link checker autogenerate issues, but no one has really worked on it much.

[2021-08-10 13:14] #5476 closed

[2021-08-10 14:20] davorpa commented on #5470
Yes. I've see first step would be take bot report and publish as PR comment or attach to a pinned issue as recurrent comment using a cron job.

Another good option would be send a backup to wayback machine of each link on push over master branch (merge). It could be also a cron to catch updates.

Let me research a bit more about GitHub actions, and maybe I can help.

[2021-08-14 14:17] 12-malak opened #5483 "Improvement in README.md"

[2021-08-14 22:25] davorpa commented on #5483
Hi @12-malak

What is the improvement?

[2021-08-14 23:38] #5483 closed

[2021-08-15 11:51] PapaPav opened #5485 "Free Book For Coding"

[2021-08-15 13:45] MrM3tt opened #5486 "Free Programming Books"

[2021-08-16 16:52] #5485 closed

[2021-08-16 16:52] #5486 closed

[2021-08-18 20:08] Aanchal116 opened #5491 "UI Improvement"
The current UI seems to be very plain with no headers and footers. I would like to propose working on making the website more attractive.

[2021-08-18 22:03] eshellman commented on #5491
I assume you mean https://ebookfoundation.github.io/free-programming-books Very little has but done on the design/cosmetics, so there's plenty of room to improve. But can't change our markdown style. PRs welcome, incremental improvements are better than complete overhauls.

[2021-08-19 18:47] Aanchal116 commented on #5491
Yes, you got it right. I'll see how I can maintain the current flow with the improvements. Thankyou.

[2021-08-23 23:20] davorpa commented on #4579
@eshellman

Should be meta-list or language agnostic moved at begining? These improves TOC between each translated listng.

Eg.:

0. Meta list
1. Language agnostic

(take into account pending #5249 renaming)

[2021-08-23 23:33] davorpa commented on #5092
About put the mark on headings...

It would take care to don't break generated anchors my github/github pages and be synced with TOCs

[2021-08-24 15:49] Beliavsky opened #5492 "Fortran books"
I suggest adding a link to the tutorials section of the Fortran Wiki http://fortranwiki.org/fortran/show/Tutorials and to

Modern Fortran in Science and Technology by Jonas Lindemann and Ola Dahlblom
Introduction to Advanced Fortran
Introduction to Fortran
Modern Fortran Tutorial
Fortran Lecture notes from a class by Paul Tackley

which are linked there. Arguably the Fortran 77 book currently list

[2021-08-24 16:20] eshellman commented on #5492
our preferred way of dealing with books that may be out of date is to add the publication year.

[2021-08-24 23:05] davorpa commented on #5492
Working on it 🤗

[2021-08-24 23:22] davorpa commented on #5492
@eshellman should this also be added if already exist in the provided link?

[2021-08-25 01:19] davorpa commented on #5378
Can be solved changing to HTTP :wink:

http://www.hoomanb.com/cs/quickref/CppQuickRef.pdf

[2021-08-25 12:59] eshellman commented on #5492
I checked one of these that seems like a set of powerpoint slides, so, not a book. others can be added if they look like they fit.

[2021-08-26 18:54] nbehrnd opened #5496 "three-part Fortran cours, French"
For the French section of programming books about Fortran, I would like to suggest the addition of a three-part instruction.  All material, including supporting sample code, is compiled on [one page](http://www.idris.fr/formations/fortran/) in common by the Institut du développement et des ressources en informatique scientifique of the French CNRS.

* as an initiation: [Langage Fortran (Base)](htt

[2021-08-28 05:45] Debajit1234 opened #5498 "Free Programing Book Project"

[2021-08-28 05:47] davorpa commented on #5498
/labelbot need more info, spam

[2021-08-28 05:56] davorpa commented on #5496
It will be a pleasure work on it :hugs:

Let me see where is the listing of each one

[2021-08-28 14:40] Inolmine opened #5500 "coruses"

[2021-08-28 17:54] davorpa commented on #5500
/labelthis: need more info, spam

[2021-08-28 20:23] #5498 closed

[2021-08-28 23:34] fearlessdots opened #5504 "Broken link for: Arduino Programming Notebook - Brian Evans"
Broken link is **http://www.lulu.com/shop/brian-evans/arduino-programming-notebook/ebook/product-18598708.html**. It is returning a 404 error. I tested using HTTPS, and it responded with the same error.

[2021-08-29 01:36] #5496 closed

[2021-08-29 01:42] #5500 closed

[2021-08-29 01:58] davorpa commented on #5504
Could be valid the wayback machine link?

https://web.archive.org/web/20200105102050/http://www.lulu.com/shop/brian-evans/arduino-programming-notebook/ebook/product-18598708.html

[2021-08-29 02:00] davorpa commented on #5504
Also unglued at https://unglue.it/work/152452/

[2021-08-29 02:06] #5492 closed

[2021-08-31 05:27] #5504 closed

[2021-08-31 10:43] AKBURAK opened #5512 "Awesome guide for programer"
There are a lot of books relavent with software

[2021-08-31 13:34] #5512 closed

[2021-08-31 16:52] davorpa commented on #5512
/labelthis: need more info, spam

[2021-08-31 16:54] davorpa commented on #3612
/labelthis: need more info, stale

[2021-09-01 03:56] kd-labs opened #5515 "Addition of GangOfFour primer book for Design Patterns"
Hi Team

Creating this issue/suggestion if we could add the classic book on Design Patterns in this repo.

Thanks

[2021-09-01 08:39] davorpa commented on #5515
Hi @kd-labs

Could you provide a link if its free redistributable? See our guidelines about what kind of resources we accept

/labelthis: PR requested, need more info

[2021-09-01 15:17] Akshar-Premnath opened #5518 "Developing An Advanced Windows Phone 7.5 App That Connects To The Cloud"
The link to "Developing An Advanced Windows Phone 7.5 App That Connects To The Cloud" under "Windows 8" in "free-programming-books/books/free-programming-books.md" doesn't include the book.

[2021-09-01 17:22] davorpa commented on #5518
I've just found an alternative

:book: https://social.technet.microsoft.com/wiki/contents/articles/11608.e-book-gallery-for-microsoft-technologies-en.aspx#DevelopinganAdvancedWindowsPhone7.5AppthatConnectstotheCloud

Following it, download link can be scraped from wayback machine:

:arrow_down:  https://web.archive.org/web/20150709045622/http://download.microsoft.com/download/C/4/6/C4635738-5E06-4

[2021-09-03 10:54] Kaungmyatsan4528 opened #5520 "Web Programming"

[2021-09-03 17:07] davorpa commented on #5520
/labelthis: needs more info, spam

[2021-09-04 09:42] davorpa commented on #5092
Another option could be markdown spoilers:

[code]
Seen as Dependabot issues description.

### PREVIEW

<details><summary>A very long content....! (:arrow_heading_up: Expand/Collapse)</summary>

  **free-programming-books is awesome.**

  `markup like blockquote's should even work on github!`

  ![Image](https://user-images.githubusercontent.com/22801583/99295480-c05b5e80-2845-11eb-9215-0b34cf2a29

[2021-09-04 09:47] SethFalco commented on #5092
I don't think spoilers are the best idea, last time I was on Android that GitHub app didn't render them.
Maybe someone could test it on the Android app and verify if this is still the case for me?

I can set up Anbox later and try it myself if no one else uses it.

[2021-09-05 02:05] #5520 closed

[2021-09-05 11:31] hartpoli commented on #5378
----
Can it be opened?

[2021-09-05 17:38] davorpa commented on #5378
It's been solved actually at #5402

[2021-09-05 17:49] davorpa commented on #5378
Already fixed at #5440

[2021-09-05 17:52] #5378 closed

[2021-09-07 01:39] davorpa commented on #5357
/labelthis: need more info, question, pr requested

[2021-09-07 02:01] davorpa commented on #4940
I'm currently reviewing this in other files

[2021-09-07 13:16] eshellman commented on #4940
reopen as an issue; not practical to use as a PR

[2021-09-07 13:16] #4940 closed

[2021-09-08 04:49] davorpa opened #5526 "proposal(lists): Merge Version Control Systems into same section"
I'm convinced that it would be a nice idea join all `Version Control Systems` into the same category. I mean: `Git`, `SVN`, `Mercurial`, `CVS`...

And if there are some resource treating Github, Gitlab, Bitbucket, Gitea, Gitpod... put it in a subsection something like `As a Service/Platform SaaS/PaaS`.

Also with views to cover some utility/GUI client resources about: Gitkraken, Github Desktop, So

[2021-09-08 12:57] eshellman commented on #5526
I guess it's time to roll out a proposal for a programming-lang/subject split

[2021-09-13 21:24] eshellman opened #5535 "crosslinks proposals"
PR #5525 introduces section-to-section crosslinks so that users looking for Angular books will find them whether they are looking for Angular or AngularJS.

This issue asks the community:
- Is this a good way to make this repo more useful?
- Should crosslinks look different from what is being done in #5525?
- When should we add a crosslink? Should Android be crosslinked with Java? When should cros

[2021-09-13 23:21] davorpa commented on #5535
At a glance.... the proposal syntax is...

All crosslinks starts with `> :information_source: ` and uses horizontal ellipsis ` &#8230; ` as delimiter between crossed sections and it alphabetized text. This markup goes between heading and it listing first item preseving the 1 whitespaces rule on all of them.

**One way reference**:

[code]

**Two sides reference**:

[code]

**Multireference**: sepa

[2021-09-14 18:25] eshellman commented on #5535
did you try having the crosslinks below the list?

[2021-09-14 18:27] davorpa commented on #5535
I could try. Let me a bit to prepare a demo in my deploy with Angular resources

[2021-09-15 15:54] mddipu12345com opened #5541 "Hi"

[2021-09-15 15:55] mddipu12345com commented on #5541
Hi

[2021-09-15 16:14] #5541 closed

[2021-09-15 18:41] oladwp commented on #5541
Hello! Just exploring some and learning as much as possible. Thanks for the greeting!
Have a wonderful remainder of the day!

[2021-09-15 22:37] davorpa commented on #5535
It works fine at bottom too. No problems with linter if rule `1-0-2` is respected.

Now the rule will be `1-(0-1)*-0-2` at top, or `1-0-(1-0)*-2` if placed at bottom :laughing:

Here the example in both sides I promised (javascript section): [DEPLOY](https://davorpa.github.io/free-programming-books/books/free-programming-books.html#javascript) and [CODE BRANCH](https://github.com/davorpa/free-prog

[2021-09-16 21:18] davorpa commented on #5541
/labelthis: spam

[2021-09-17 14:12] eshellman commented on #5535
I was thinking that if we separate out the "language agnostic" section to a separate page, we might need more than one crosslink, and you don't want people scrolling through crosslinks to get to the listings. I looked in a cookbook with many "see also" listings in the index - it puts the cross links in the topic heading itself.

[2021-09-18 03:30] gionchat opened #5548 "Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万 Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营"
Flutter可以开发Android、iOS、Web、Windows、Mac、Linux 和嵌入式应用，Flutter开发插件安装量已经超过1000万
Google广发英雄帖，希望广大英雄加入全球最牛逼跨平台技术Flutter阵营

[2021-09-18 08:38] davorpa commented on #5548
/labelthis: spam

[2021-09-18 10:24] ShehanMaduwantha commented on #5491
What if someone makes a nice frontend from these markdown files ?

[2021-09-19 01:37] #5548 closed

[2021-09-20 03:58] davorpa commented on #5535
Well-thinking!

But If crosslink is attached after section title, auto TOC is broken in markdown because generated ids change according to heading text.

Therefore the multireference variant: one after other comma delimited.

[2021-09-20 04:08] davorpa commented on #5526
It's already applied to courses-es

https://github.com/EbookFoundation/free-programming-books/blob/076fca27c3baceeb7187988c0b0def0da04e70d4/courses/free-courses-es.md#L1-L10

[2021-09-20 09:09] kaeleyworks commented on #3854
okay i am completely new to all of this. but im super interested and eager to learn and when i am taught something ive sought out i absorb it like a sponge. i need to know where to start. like literally pretend i ended up here on accident and know nothing. i can self teach pretty well, i just need to have a source for information and a starting point for reference. please someone, i promise i will

[2021-09-20 11:26] SethFalco commented on #3854
@kaeleyworks

I can see you're interested in [freeCodeCamp](https://github.com/freeCodeCamp/freeCodeCamp), so asking in the forum would be more appropriate and yield much better answers.

https://forum.freecodecamp.org/

I don't think this issue is the best place to hold the conversation, plus a subjective question like this is best heard by many. Regardless, I can note an _opinionated_, summary!

[2021-09-27 00:21] SethFalco commented on #4416
I've looked into this a little. I think my favorite solution would be split into 2 steps.

There can be a bot on GitHub for Free Ebook Foundation, probably something like ebook-foundation-bot.
This will be easy to do using GitHub Actions and GitHub CLI which is pre-installed in all cloud hosted runners.

### Step 1
This can be done immediately, we just extend the fpb-lint GitHub Action to post a c

[2021-09-27 01:04] eshellman commented on #4416
Ok, so what do I need to do?

[2021-09-27 10:04] Karvalian opened #5558 "'Reverse Engineering for Beginners' book isn't free."
They are selling the book and the payment method is to get  their patron ...

[2021-09-27 10:42] SethFalco commented on #4416
I was originally going to say that we'd need a bot user, kind of like [tldr-bot](https://github.com/tldr-bot), which is a bot for another organization.

However, it looks like when using GitHub CLI there's actually no need to even go through a user.

![image](https://user-images.githubusercontent.com/22801583/134893502-d7f02f30-85ac-4402-a58c-bb64c62d92e1.png)

We can make the pipeline approve or

[2021-09-27 12:02] davorpa opened #5559 "GHP bad rendering on CONTRIBUTE & HOWTO (fa_IR locale)"
## Problem

It seems that Github Pages engine doesn't deal fine rendering links for this RTL resources:

- https://ebookfoundation.github.io/free-programming-books/HOWTO-fa_IR.html
  ![image](https://user-images.githubusercontent.com/3125580/134902815-ff35bd1a-5112-4571-8b46-81c17c3253b2.png)
- https://ebookfoundation.github.io/free-programming-books/CONTRIBUTE-fa_IR.html
  ![image](https://user-i

[2021-09-27 12:10] SethFalco commented on #4416
[code]

The updated GitHub workflow should look something like this.
The first `run` will need to change when/if my PR to fpb-lint is merged and published, using my fork is temporary.

If linting fails, it'll request changes and post the output of the linter.
If linting passes, it'll approve the changes (not merge) with no message. (We should probably add a message specifying it's only considering

[2021-09-27 12:48] davorpa commented on #5558
You are right @Karvalian but only for english and rusian languages.

The link we have points to root site https://beginners.re that contains all languages.

https://github.com/EbookFoundation/free-programming-books/blob/e629db6b05a72fd64a6b33feeeebbe830641cf10/books/free-programming-books.md#L865

[2021-09-27 13:48] davorpa commented on #4416
:heart: vhf/free-programming-books-lint#29 **Nice improve to handle all files** and not only the first directory.

There are other feature pending to be reintegrated: links with pipes in title https://github.com/EbookFoundation/free-programming-books/issues/5176#issuecomment-890391432.  It would be a nice moment to recover it too?

I opt for keep project name `free-programming-books`. Also variabl

[2021-09-27 14:53] eshellman commented on #5558
it should be removed; if some languages are free they can be added to the appropriate lists

[2021-09-27 14:55] eshellman commented on #4416
Can we have this working well before Friday?

[2021-09-27 15:02] SethFalco commented on #4416
I believe so, the only flaw with it that I'm aware of right now is that it can be a bit spammy if someone does many small commits.
For example, if they merge suggestions (by humans) one at a time or apply the fix incorrectly multiple times, then the action will put a review for every push.

Not 100% sure if this is something worth handling, but it is a noteworthy concern.

[2021-09-27 15:55] eshellman commented on #4416
Let's try it. Make sure we can revert if needed.

[2021-09-28 07:21] mmulahvictor commented on #5401
@HadeidM here is the link of volume 4A https://ptgmedia.pearsoncmg.com/imprint_downloads/informit/bookreg/9780201038040/9780201038040_v4A_pages_i-16.pdf
Here is another link https://archive.org/details/B-001-001-251/page/n187/mode/2up

[2021-09-29 11:35] davorpa commented on #5526
Locked at this moment by #5563

[2021-09-29 13:19] #5249 closed

[2021-09-29 15:56] Ectalite opened #5575 "Contribution: iOS"
Hi I have a book about iOS internals (a PDF), is there somewhere I can make it avaible here ?

[2021-09-29 16:48] eshellman commented on #5575
if it's free-licensed, (creative Commons, GPDL, etc. ) we recommend archive.org or unglue.it

[2021-09-29 16:48] #5575 closed

[2021-09-30 11:54] ps173 opened #5586 "Vim Cheat-Sheet"
I was looking through section of [IDE/Editors](https://github.com/EbookFoundation/free-programming-books/blob/master/more/free-programming-cheatsheets.md#ide--editors ) and all the vim cheat sheets are in portugese. I found [this cheat-sheet by Allison Mcknight](https://www.cs.cmu.edu/~15131/f17/topics/vim/vim-cheatsheet.pdf). I am not sure about the free to use part though.

[2021-09-30 12:03] ps173 commented on #5586
I have closed the issue cause I was unable to confirm the credibility of the cheat-sheet which I provided. I should have gone through contributing docs beforehand. Anyway if someone finds any cheat sheet which is free to use please consider it adding as it might be a great resource to the community. :)

[2021-09-30 18:00] davorpa commented on #5586
Checking cheatsheet link domain with properly her email address, it seems that have a high probability of be valid

[2021-09-30 23:53] salli20 opened #5604 "Can"

[2021-10-01 00:03] #5604 closed

[2021-10-01 02:57] rutujak24 commented on #5586
I can add vim cheet sheet. Please assign it to me. Thanks!

[2021-10-01 02:59] rutujak24 commented on #5357
I can add this. Please assign me this issue

[2021-10-01 02:59] rutujak24 opened #5611 "SQL: Zero to Hero"
An Ebook containing all SQL Basic to advanced

[2021-10-01 03:00] rutujak24 commented on #5611
Please assign me this this

[2021-10-01 05:57] ps173 opened #5627 "Emacs reference / cheat sheet"
Here is a great [emacs cheat sheet / reference card](https://www.gnu.org/software/emacs/refcards/pdf/refcard.pdf).
I think this should be added to [IDE / Editor section](https://github.com/EbookFoundation/free-programming-books/blob/master/more/free-programming-cheatsheets.md#ide--editors) of cheat sheets. I suppose this is the official refcard by gnu so it should be free to use.

[2021-10-01 06:25] ps173 commented on #5586
@davorpa well I was really unsure about the validity. So I decided that it's not right to do it if I cannot check the validity.

[2021-10-01 06:57] AR10X commented on #5627
@ps173 I added the resource. Here's the PR #5630.

[2021-10-01 06:57] sparsh9 opened #5631 "Add Algorithms book"
I can add 2 books :
1. Algorithms 4th Edition by Robert Sedgewick, Kevin Wayne
2.  Algorithms in a Nutshell -(O'Reilly) George T. Heineman, Gary Pollice, Stanley Selkow-Algorithms in a Nutshell-O'Reilly Media (2016).pdf

[2021-10-01 07:14] AR10X commented on #5627
@ps173 hey, could you help me review this PR #5630

[2021-10-01 07:22] Jahnvi13 opened #5633 "Add category Computer Organization and Architecture"
Add the above category in free-programming-books-subjects.md as it is a freshman year college course and there are many good free books like https://www.cse.iitd.ac.in/~srsarangi/archbooksoft.html by Smruti S. Sarangi.

This is my first hacktoberfest. Please label this issue as hacktoberfest and I'll make a PR with the changes.

[2021-10-01 08:46] SahityaRoy opened #5637 "Cracking the coding interview book"
It's contain 150+ interview questions and solution it was a really awesome book

[2021-10-01 08:55] davorpa commented on #5586
Maybe Allison @aemcknig could say anything about this :wink:

[2021-10-01 10:21] AR10X opened #5642 "Add HackThisSite in Capture the flag category."
Add HackThisSite CTF website link in Capture the flag category in more/problem-sets-competitive-programming.md file and also correct the spelling of the 'address' in same category.

[2021-10-01 10:47] SethFalco opened #5644 "Update Translation in Localized HOWTO Documents"
We updated our docs to reference GitHub Actions instead of Travis CI.
* https://github.com/EbookFoundation/free-programming-books/pull/5591

Most instances of the change were simple as we only replaced the noun; therefore nothing should've needed to change. (This is with the assumption that "GitHub Actions" should be treated as a noun and is not localized.)
* https://github.com/EbookFoundation/fre

[2021-10-01 13:59] zilmarr commented on #5644
Hi @SethFalco, I just sent a PR updating the `HOWTO-pt_BR.md`

[2021-10-01 14:04] davorpa commented on #5631
Thanks for yours suggestions but...

Not free: https://algs4.cs.princeton.edu/home/

Not free: https://www.oreilly.com/library/view/algorithms-in-a/9781491912973/

[2021-10-01 14:04] #5631 closed

[2021-10-01 14:20] davorpa commented on #5633
Hacktoberfest is open and labeled in repo. Feel free to summit PR

[2021-10-01 14:22] davorpa commented on #5637
Thanks for your suggestion but I think it's not free.

Proof: https://www.crackingthecodinginterview.com/

If you are sure that are free... provide right link

[2021-10-01 14:24] davorpa commented on #5642
Do you talk about https://ctf.hackthissite.org/ ?

[2021-10-01 14:28] #5627 closed

[2021-10-01 14:31] SahityaRoy commented on #5637
It's free i will provide you everything in free of cost in pdf format

[2021-10-01 14:37] davorpa commented on #5644
Working on `HOWTO-es.md`

[2021-10-01 14:41] AR10X commented on #5642
I made a PR #5643, though I added this URL https://www.hackthissite.org/

[2021-10-01 15:24] #5642 closed

[2021-10-01 15:26] davorpa commented on #5637
Then provide the URL of target link

[2021-10-01 15:29] SahityaRoy commented on #5637
@davorpa should i create a PR ???

[2021-10-01 15:30] SahityaRoy commented on #5637
Please assign me the task  in Hacktoberfest 2021 Label

[2021-10-01 15:38] davorpa commented on #5637
No needed make issues if you have some experience contributing on FOOS: Read our [HOWTO](https://github.com/EbookFoundation/free-programming-books/blob/master/HOWTO.md)

Hacktoberfest tag is setted at repo level

[2021-10-01 15:44] akshat-rawat commented on #5644
Hi, I would like the work on the HOWTO-hi.md file.

[2021-10-01 15:58] davorpa commented on #5644
Go ahead with a PR and in it description mention this issue with somethink like `Improves #5644`

[2021-10-01 16:14] icoderharshit opened #5671 "Add: DSA Course Playlist (in Hindi section)"
I want to add Data Structures & Algorithms course by 'Apni Kaksha' on YouTube in 'Hindi' section. Note: This is my first issue for HacktoberFest '21, I would be really if you assign me this issue and accept my PR for the same @eshellman

[2021-10-01 16:33] rdmchr commented on #5401
Would a temporary fix be, for this book at least, to add one of the links mentioned above? If so feel free to assign me to this issue and I'll open a pull request this weekend.

[2021-10-01 16:40] AR10X opened #5675 "Add resources and categories to Hindi courses in courses/free-courses-hi.md file"
## I would like to make a PR with the following changes to the Hindi courses in courses/free-courses-hi.md file:-

* Add a category named Git & GitHub and add the corresponding courses, https://www.youtube.com/watch?v=gwWKnnCMQ5c and https://www.youtube.com/watch?v=evknSAkUIvs&list=PLu0W_9lII9agwhy658ZPA0MTStKUJTWPi
* Add a category PHP and add the corresponding course, https://www.youtube.com/wat

[2021-10-01 18:57] davorpa commented on #5671
Remember link PR with issue :wink: with something like `Resolves #prnumber` (replace `prnumber` by provided by github

[2021-10-01 20:14] dhgoratela commented on #5644
Hi, I submitted a PR for HOWTO-fr.md

[2021-10-01 22:33] AlexanderBeis commented on #5644
Please, don't send me this emails anymore.

Em sex., 1 de out. de 2021 às 07:58, Seth Falco ***@***.***>
escreveu:

[2021-10-01 22:45] zilmarr commented on #5644
@AlexanderBeis you have to unsubscribe from GitHub notifications. Check the bottom of that message, it contains a link to unsubscribe.

[2021-10-01 23:38] #5671 closed

[2021-10-02 02:57] HelloSeaNation commented on #5644
I have made some translate change on HOWTO zh and zh-tw and fix some previous translation mistake

[2021-10-02 04:48] davorpa commented on #5644
@HelloSeaNation now I'm a bit confused

PR #5704 is not merged yet. If you need add more commits is better use the PR thread, draft it....

Give me feedback on PR thread :wink:

[2021-10-02 07:34] dhgoratela commented on #5644
I believe **HOWTO-hi.md** is completed here. https://github.com/EbookFoundation/free-programming-books/pull/5678
Can that be marked completed in the issue description?

[2021-10-02 10:33] ManviGoel26 opened #5737 "Hands-On Machine Learning with Scikit-Learn and TensorFlow"
A PDF for the book by O'Reilly for machine learning concepts and codes.
Please assign this to me.

[2021-10-02 11:37] VDliveson commented on #5737
I have the latest version available of book available with unedited & raw version .Kindly assign to me this issue

![image](https://user-images.githubusercontent.com/72307306/135714401-4e2f65c0-7ff7-4b13-8581-799291a17b35.png)

[2021-10-02 13:02] subhamgcon commented on #5206
Is this issue still open?
Can i add any math book which will be help for engineering students?

[2021-10-02 13:30] kinb98 commented on #5637
This book is not free.
You can get the pdf version of any paid resource(book or online course) on various websites or torrents, but that doesn't make the resouce free. That is just piracy.

The only resources which are free are those which can be downloaded or viewed on their official website without paying any money.

[2021-10-02 16:54] davorpa opened #5762 "chore: hacktoberfest 2021 backlog"
When all translations will be stable, we have to remember do some chores after touching common words or translate repo docs.

_Started by @davorpa in https://github.com/EbookFoundation/free-programming-books/pull/5732#discussion_r720701544_

<div align="center" markdown="1">

[![Hacktoberfest 2021](https://img.shields.io/github/hacktoberfest/2021/EbookFoundation/free-programming-books)](https://gi

[2021-10-02 19:23] SidhaantThakker opened #5778 "Resources REST API"
I had an idea, we could take the entire database here and make an API that could serve the data based on certain requests. It can be used to get the data in a much more streamlined manner, as well as serve as a base for later creating a web app.
I can personally help with this as I work with the MERN stack, I could make the API using Node.js which could be easily integrated into future web apps.

[2021-10-03 00:18] charlottetan commented on #5515
Found the book, while it is free, there is a suggested donation:
book landing page: https://leanpub.com/aprimerondesignpatterns/
reading the book: https://leanpub.com/aprimerondesignpatterns/read

[2021-10-03 00:34] charlottetan commented on #5176
Took me awhile to find the relevant page: https://ebookfoundation.github.io/free-programming-books/casts/free-podcasts-screencasts-en.html

Appears to be rendering fine now
![image](https://user-images.githubusercontent.com/4824630/135735312-eeef87da-7acd-4ece-9c97-83bc9ac380b8.png)

[2021-10-03 00:35] davorpa commented on #5637
@SahityaRoy I hope you have write permissions for use this book as it's how to redistribute it

![image](https://user-images.githubusercontent.com/3125580/135735335-59581d50-196f-4882-a058-e96e31689b90.png)

:information_source: Author site: https://www.gayle.com/books

Do you want more proofs?

[2021-10-03 00:35] #5637 closed

[2021-10-03 00:41] charlottetan commented on #5737
This book doesn't appear to be free?
https://www.amazon.com/Hands-Machine-Learning-Scikit-Learn-TensorFlow/dp/1492032646

[2021-10-03 00:46] charlottetan commented on #5389
The link appears to be fixed now - https://github.com/EbookFoundation/free-programming-books/blob/521f2e91d2ade5c7df20c361466988136411afb3/books/free-programming-books-langs.md#vim

A Byte of Vim links to http://www.swaroopch.com/notes/vim/

[2021-10-03 01:21] davorpa commented on #5515
Thanks @charlottetan :hugs:

Then feel free one or the other :wink: to send a PR adding in the right listing

Remember include the PR with the right tag, something like: `Resolves #5515`

[2021-10-03 01:28] davorpa commented on #5176
We know it. See the fix #5177. The vertical bar is escaped

[2021-10-03 01:36] charlottetan commented on #5559
Spent some time looking into this, it looks like Github's markdown and the `<div dir="rtl">` aren't playing well together. To fix it, all of the markdown syntax will need to be changed to regular HTML tags instead of markdown, which include not just the links but also the headings 😧

Tests/examples - Only a couple of links and headings changed:
Code: https://github.com/charlottetan/free-programmin

[2021-10-03 01:39] charlottetan commented on #5176
Oh nice thanks! What is the remaining work on this issue?

[2021-10-03 03:30] davorpa commented on #5559
It is an option. :bulb: The other may be to configure the Jekyll theme well using some gem

[2021-10-03 04:19] satyampgt4 opened #5793 "Add more resource in java"
add [Pepcoding](https://www.youtube.com/c/Pepcoding) as it has good quality content of ds and algorithm in java for free

I like to work on this under hacktoberfest 2021

[2021-10-03 06:23] ManviGoel26 commented on #5737
This link provides a free pdf for the 2nd edition of the book.
https://www.knowledgeisle.com/wp-content/uploads/2019/12/2-Aur%C3%A9lien-G%C3%A9ron-Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-Tensorflow_-Concepts-Tools-and-Techniques-to-Build-Intelligent-Systems-O%E2%80%99Reilly-Media-2019.pdf

[2021-10-03 06:38] charlottetan commented on #5515
I've created a PR, although on closer inspection I am not 100% sure if this is the book that the issue author intended. The usual (very popular) [Gang of Four book](https://springframework.guru/gang-of-four-design-patterns/) isn't free, and I skimmed through the chapters of this primer book and it doesn't exactly match the Gang of Four's topics and/or book structure

[2021-10-03 07:12] charlottetan opened #5803 "Rename master branch to main"
Request to rename `master` to `main` for cultural sensitivity and inclusivity:

https://github.com/github/renaming

https://www.theserverside.com/feature/Why-GitHub-renamed-its-master-branch-to-main

[2021-10-03 08:02] charlottetan commented on #5559
Thanks for the idea! Didn't realise there was that option, submitted a PR that fixes this issue

[2021-10-03 08:17] charlottetan commented on #5737
That doesn't appear to be a legal copy of the book unless I am missing something? The publisher's website does not link to that domain:
https://www.oreilly.com/library/view/hands-on-machine-learning/9781492032632/

Please see [CONTRIBUTING](CONTRIBUTING.md) for more information about determining whether a book is free

[2021-10-03 08:55] ManviGoel26 commented on #5737
Thanks for informing me. I  will close the issue.

[2021-10-03 08:55] #5737 closed

[2021-10-03 12:04] #5675 closed

[2021-10-03 12:21] pond-e opened #5822 "Julia 0.3.8 - 孫建強's page is 404 not found"
In books/free-programming-books-ja.md.
Julia 0.3.8 - 孫建強's page is 404 not found.

[2021-10-03 12:31] AR10X commented on #5822
Yes, the link is broken, would you like me to remove it?

[2021-10-03 12:45] AR10X opened #5825 "Add two english books under Algorithms & Data Structures and Competitive Programming subjects."
Add two books, [Introduction to Algorithms, Third Edition](https://web.iiit.ac.in/~pratik.kamble/storage/Algorithms/Cormen_Algorithms_3rd.pdf) in Algorithms & Data Structures category and [Programming Challenges](http://acm.cs.buap.mx/downloads/Programming_Challenges.pdf) in Competitive Programming category in /books/free-programming-books-subjects.md file.

The above two books are considered the

[2021-10-03 13:19] davorpa commented on #5559
As I coment in https://github.com/EbookFoundation/free-programming-books/pull/5810#discussion_r720825190 it's a bit weird why use directly `GFM` is a bit different of `kramdown` with `input: GFM` (default). Maybe, to investigate about it and report to Jekyll project @jekyll.

From default config docs: https://jekyllrb.com/docs/configuration/default/
[code]

[2021-10-03 14:01] davorpa commented on #5825
### :warning: NOT FREE

**Take care about DMCA**. That a link is public on the internet does not mean that its content is free. See [CONTRIBUTING guidelines](https://github.com/EbookFoundation/free-programming-books/blob/master/CONTRIBUTING.md#guidelines)

We only accept contents with free licenses like CC (giving creator attributions).

[2021-10-03 14:01] #5825 closed

[2021-10-03 20:15] Kriti021999 commented on #5803
I would like to work on this issue.

[2021-10-03 22:41] charlottetan commented on #5559
(Responded in https://github.com/EbookFoundation/free-programming-books/pull/5810#discussion_r720917920)

[2021-10-04 01:28] onirutlA opened #5847 "Add Indonesia Podcast"

[2021-10-04 01:44] #5515 closed

[2021-10-04 01:44] #5401 closed

[2021-10-04 01:55] #5559 closed

[2021-10-04 03:00] Zeromika commented on #5644
@SethFalco Is there an effort to do Turkish translation?

[2021-10-04 03:16] davorpa commented on #5644
@Zeromika At this moment there are conficts. It's better wait a bit for new files

[2021-10-04 03:41] davorpa commented on #5793
Not is necessary open issues if you are be able to send the PR 😉.

ℹ️ Remember link the request with something like `Resolves #NNNN`, where NNNN is the provided by GitHub when the PR is created.

[2021-10-04 03:58] davorpa commented on #5803
No masters, no slaves neither is the time. It's Hacktoberfest

/addthis: backlog

[2021-10-04 05:23] sid-khuntwal commented on #5793
Can I do something in this repo? I am a beginner!

[2021-10-04 09:17] Dicky1 opened #5870 "Error in build"
hi guys i found an error when pushing repo and pull reques
![Screenshot_20211004_161038](https://user-images.githubusercontent.com/26633820/135825672-03468cbe-e7f9-48fe-9df8-15654dea7aeb.png)
t

[2021-10-04 09:55] AR10X commented on #5870
if you have committed to adding a resource, it must comply in alphabetical order in the list. Swap lines 23 & 24 in the file. This should work.

[2021-10-04 10:14] davorpa commented on #5793
Welcome! Read CONTRIBUTING.MD and HOWTO.MD to know how to works this project

[2021-10-04 10:46] AR10X opened #5872 "Add Algorithms and Data structures courses"
I would like to add two English Algorithms and Data Structures courses [Data Structures and Algorithms for Beginners](https://www.youtube.com/watch?v=BBpAmxU_NQo) by Programming with Mosh and [Data Structures and Algorithms](https://youtube.com/playlist?list=PLBZBJbE_rGRV8D7XZ08LK6z-4zPoWzu5H) by CS Dojo in free-programming-books/courses/free-courses-en.md file.

The above-given resources are Yout

[2021-10-04 14:05] FabianKielmann opened #5887 "Improvement of the german (de) HOWTO file"
Hey guys, I'd like contribute something for Hacktoberfest 2021.

As german is my mother tongue, I've noticed some issues with spelling, sentence construction and "formatting" in the german HOWTO file (HOWTO-de.md) and would like to improve it.

Please let me know If I should open a Pull Request :)

[2021-10-04 14:57] davorpa commented on #5822
Fixed by #5822

[2021-10-04 14:57] #5822 closed

[2021-10-04 15:08] davorpa commented on #5847
/labelthis: spam, not valid

[2021-10-04 15:08] #5847 closed

[2021-10-04 15:21] davorpa commented on #5870
@Dicky1, Welcome to the most common faults in this repo: resources alphabetization order, specially with non-latin listings.

Related with #5864

[2021-10-04 15:53] davorpa commented on #5872
Not is necessary open issues if you are be able to send the PR 😉.

Remember link the request with something like `Resolves #NNNN`, where NNNN is the provided by GitHub when the PR is created

[2021-10-04 17:02] CakKhoiron opened #5896 "Discussion about new subjects/sections. was: Airflow sub consideration"
I want to add Airflow youtube tutorial in the [English free course list](https://github.com/EbookFoundation/free-programming-books/blob/master/courses/free-courses-en.md). Which one is best condition, should I add a new Sub in the list or will be better if add it under Python Sub?

[2021-10-04 18:40] LuigiImVector opened #5902 "I want to help"
I would like to help this project but I have some doubts on how to do it.

For example, in pull requests can I do anything other than advise users on how to fix problems and improve the commit?

In the issue/pull request with the tag "Help wanted"? In this issue for example #5470 , potrei fare un commit in cui rimuovo o sostituisco (con la versione "http" oppure un backup su archive.org) tutti i l

[2021-10-04 21:13] FabianKielmann commented on #5887
@davorpa I successfully created the pull request. Do you have to tag it with something special to make it count for hacktoberfest?

[2021-10-04 21:58] davorpa commented on #5887
The repository is tagged as `hacktoberfest`, so you should be good. Obviously, the [**PR needs be accepted and merged** (see more rules)](https://hacktoberfest.digitalocean.com#rules)

[2021-10-05 03:02] #5870 closed

[2021-10-05 07:51] AR10X opened #5928 "Electronjs not listed anywhere in neither books or courses"
I was looking for books and courses for Electronjs but I couldn't find the category in books or courses.

[2021-10-05 10:17] AR10X commented on #5896
My opinion is that you should add a new sub as Workflow Management System/tools, although you use python to code, it belongs to a different software usage category 😄

[2021-10-05 12:05] davorpa commented on #5896
:information_source: It's usually not helpful to add a category for a single resource. :twisted_rightwards_arrows: Try to...
- ... find another category matching their topics.
- ... see if there are other books in our lists or third-party that would fit into your category (this fact contributes to consolitate it).

[2021-10-05 12:12] FabianKielmann commented on #5887
@davorpa since you approved the changes in the pull request, can this issue be closed? Or will it auto close on a specific event?

[2021-10-05 12:14] davorpa commented on #5928
If you have several links... add a sub in TypeScript

[2021-10-05 12:59] davorpa commented on #5887
It's already linked, since you uses `Resolves #5887` and then, it autoclose on merge. See [Github docs](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue) for more options.

[2021-10-06 00:56] #5793 closed

[2021-10-06 01:03] #5887 closed

[2021-10-06 01:22] #5872 closed

[2021-10-06 07:04] codewithpom opened #5959 "I have the original copy of the book named Automate The Boring Stuff in python"
I want to know how can I contribute it.

[2021-10-06 13:21] davorpa commented on #5959
Read our maintenance documents that you can find in the repo root:
- [HOWTO.md](https://github.com/EbookFoundation/free-programming-books/blob/HEAD/HOWTO.md)
- [CONTRIBUTING.md](https://github.com/EbookFoundation/free-programming-books/blob/HEAD/CONTRIBUTING.md) guidelines.

Some warnings:
- No attatchment accepted.
- No resources under copyright license. Only those such CC, MIT... and always ment

[2021-10-06 15:11] codewithpom commented on #5959
oh but I downloaded from some where else

[2021-10-06 16:07] E-wave112 commented on #5778
@SidhaantThakker i would like to work on this with you, i also work with nodejs (i am more of a backend guy though)

[2021-10-06 17:43] davorpa opened #5983 "proposal(docs): repository badges"
I've checked for all governance documents and the conclusion is we have the possibility to add:

- Awesome (already present)
- Contributor Covenant (as suggested at [www.contributor-covenant.org](https://www.contributor-covenant.org/#how-to-adopt-contributor-covenant))
- CC license (see [this gist](https://gist.github.com/qvil/5e3ed56c26d784e51424621119cc4028) for other designs)

An example, follo

[2021-10-07 00:32] ramsesgarate opened #5990 "React in patterns (Book)"
I would like to add as a contribution the book React in patterns by Krasimir Tsonev. This is the URL https://krasimir.gitbooks.io/react-in-patterns/content/.

I already checked and it is not registered in the repository.

[2021-10-07 10:20] davorpa opened #6003 "`MIT 6.S099: Artificial General Intelligence` url missmatch"
https://agi.mit.edu

This url points to obsolete SSL certificate
- if `http` is used... redirects to https://deeplearning.mit.edu/
- if an `https` exception is configured... to one of the instructors: https://lexfridman.com/

---
:question: Doubts:
1. I don't know how to resolve it. Also title doesn't match which it is redirected to
2. Lectures can be considered as a course or better as screencast

[2021-10-07 21:44] davorpa commented on #5959
Nice catch Amy. Thanks for your triage help.

https://github.com/EbookFoundation/free-programming-books/blob/f1dc9f15aa04ea7e1cd7f990cd9e1692af6e4dc3/books/free-programming-books-langs.md#L1784

[2021-10-07 21:44] #5959 closed

[2021-10-08 11:19] Joykareko opened #6057 "Can we add a section on 'free environments to teach yourself programming'"
Since the library contains free programming resources, can we also add a list of websites where you can teach yourself programming for free using their online free coding environments? Such environments are like  [_Grasshopper_](https://learn.grasshopper.app/).

[2021-10-08 22:36] davorpa commented on #6057
@Joykareko, maybe you are refering to our [`Programming Playgrounds` listings](https://github.com/EbookFoundation/free-programming-books#programming-playgrounds)?

[2021-10-09 05:35] pond-e opened #6092 "逆引きSwift - FaBo(http://docs.fabo.io/swift/) is moved other site."
In books/free-programming-books-ja.md
逆引きSwift - FaBo(http://docs.fabo.io/swift/) is moved other site.

[2021-10-09 07:43] wkazisan opened #6095 "Separate e-book and Video tutorials."
Separate e-book and Video tutorials. It will b easy to find out.

[2021-10-09 09:55] Joykareko commented on #6057
@davorpa, yes. I would like to add the site to programming Playground listings. Could you please assign me this issue? I would like to work on it.

[2021-10-09 12:23] SidhaantThakker commented on #5778
@E-wave112 Sure!
@davorpa If you like the idea we could have a discussion about it :)

[2021-10-09 15:24] davorpa commented on #6057
Remember [link in the request body with something like `Resolves #NNNN`](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue), where NNNN is provided by GitHub when the PR is created, :pray: thanks.

[2021-10-09 15:33] davorpa commented on #6092
Remember [link in the request body with something like `Resolves #NNNN`](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue), where NNNN is provided by GitHub when the PR is created, :pray: thanks.

[2021-10-09 16:28] #6092 closed

[2021-10-09 16:35] eshellman commented on #5778
There is a team of 6 student Sees from Stevens Institute of Technology working on something like this. See https://github.com/EbookFoundation/capstone-projects/blob/master/fpb.md

I'll point them at this issue. They may benefit from expertise of others!

[2021-10-09 16:40] eshellman commented on #5803
We should do this after hacktoberfest as part of the general cleanup.

[2021-10-09 16:47] eshellman commented on #5896
Sections/Subjects are for the benefit of people looking for books and course. When adding a new language section or subject, try to think about how a non-expert user might search for the book or course. I'm guessing that a novice might not have heard of Airflow, and would look for a more general category.

[2021-10-09 16:53] E-wave112 commented on #5778
Okay Eric,

Many thanks!

On Sat, Oct 9, 2021 at 4:35 PM Eric Hellman ***@***.***>
wrote:

[2021-10-09 17:03] eshellman commented on #5902
People new to Github are often confused at by some of our formatting requirements, and haven't encountered a linter, for example. When something goes awry, they often don't know how to proceed. Contributors come from many places and speak many languages and they welcome advice in their own language.

It's also helpful to contribute comments that provide perspective on the resources that people sug

[2021-10-09 17:05] eshellman commented on #6003
Maybe email the instructor?

[2021-10-09 17:08] eshellman commented on #6095
there's a section in CONTRIBUTING that discusses how to categorize a resource. Sometimes it's difficult!

[2021-10-09 17:31] eshellman opened #6107 "What's a programming playground?"
in pr #5885 , there's a question about what types of resources should be in the playgrounds list. Comments specific to #5885 should go there, general comments and suggestions for our documentation can go here.

[2021-10-10 11:59] ManviGoel26 opened #6139 "Artificial Intelligence: Foundations of Computational Agents"
**Artificial Intelligence: Foundations of Computational Agents**, Second Edition, Cambridge University Press
It presents artificial intelligence as the study of the design of intelligent computational agents

Author: David Poole and Alan Mackworth
Format: HTML along with slides and Python Implementations for codes.
Website Link: http://artint.info/index.html

[2021-10-10 12:42] davorpa commented on #6139
Hey @ManviGoel26

Hardcover/ebook need pay https://www.cambridge.org/us/academic/subjects/computer-science/artificial-intelligence-and-natural-language-processing/artificial-intelligence-foundations-computational-agents-2nd-edition?format=AR

Could you link both versions?
[code]

[2021-10-10 22:13] eshellman opened #6153 "remove riptutorial?"
We have a few resources from riptutorial.com

We accepted a few with the credit " Compiled from StackOverflow Documentation"; it seemed similar to goalkicker which is a similar idea but IIRC reasonable for what it was.

I had a closer look at one of these, and I found it was mostly an unusable ad-infested content farm

 Should we keep these or remove them?

* [Aprendizaje TypeScript](https://riptu

[2021-10-10 22:36] Existential-nonce commented on #6153
I’d say the PDFs should be acceptable as it follows the fundamental principles and guidelines of the usual content that’s submitted in this repository (at least from first glance with the given examples). Additionally, I’d recommend making further contributing guideline changes on websites that are solely/mainly designed for ad-farming. It really doesn’t fit in with the repository’s professionalis

[2021-10-11 00:24] Existential-nonce commented on #6153
No ads showed for me either, not sure why. I assumed it was some configuration I did on my browser that I forgot about or something.

[2021-10-11 12:56] eshellman opened #6164 "Post-hacktoberfest chore: move docs to folders"
Success: we have lots of translations.
Downside: they move the README far below the fold; filenames are difficult to scan.
Suggested solution: move the docs, other than README, to subfolders.

At the same time, maybe consolidate links to them. Does a visitor to an Arabic HOWTO really need the link to the Chinese HOWTO? These links are causing a lot of merge conflicts, too.

[2021-10-11 17:38] davorpa commented on #6164
Without want discriminate any language or country I opt to leave at least in root:
- CONTRIBUTING.md
- CODE_OF_CONDUCT.md
- LICENSE

They are important in some GitHub parts. E.g. footer:

 I'm not be able to find if can be configured using some file in `.github` folder

[2021-10-11 21:28] jrinder42 opened #6178 "Julia Programming - Quantitative Economics link broken"
In the Julia category, the Quantitative Economics link is broken.

[2021-10-13 18:48] LuigiImVector commented on #5983
I think that's a good idea, maybe the Contributor Covenant badge could be placed in CONTRIBUTING.md

![image](https://user-images.githubusercontent.com/59611597/137194578-8155da58-1a4a-4df3-ad91-0c19807dff3c.png)

[2021-10-14 13:00] rishio opened #6243 "Broken link: Plunker"
The [Plunker](http://plnkr.co) link listed under JavaScript in the [Programming playgrounds](https://github.com/EbookFoundation/free-programming-books/blob/master/more/free-programming-playgrounds.md#javascript) seems broken.
When I click on the link, It shows:
[code]

[2021-10-15 12:18] LuigiImVector opened #6263 "Telegram bot"
It would be nice to create a telegram bot that would allow you to quickly view free resources belonging to a certain category/subcategory.
I created a small bot in python to use it as an example (it's just a concept, the code is really bad): https://gist.github.com/LuigiImVector/c748aa5801c8f3fdfeb4114eb35d1eac

The idea is to make it self-manageable, to send the resources it will save a copy of t

[2021-10-15 23:39] #5518 closed

[2021-10-16 01:51] codexmon commented on #5803
only org owners or admin folks can change the name - "For organization owners, on the https://github.com/organizations/YOUR-ORGANIZATION/settings/repository-defaults page
For enterprise administrators, on the https://github.com/enterprises/YOUR-ENTERPRISE/settings/member_privileges page"

[2021-10-16 17:51] eshellman commented on #6153
also insterstial ads every few clicks.

[2021-10-16 18:01] eshellman commented on #6263
Is there anything we need to do to enable someone to make this? Does it relate to #5778?

[2021-10-16 19:19] nbehrnd commented on #6263
I'm not a regular visitor and user of free programming books, so the
following does not provide help to set up this assistant application,
but asks:

+ Is this bot to work like a web crawler to offer list-like digest,
  like «for Python, these are the resources available», or attempt to
  download the linked material (the two need not exclude each other)?

+ Inferring from the sibling project free

[2021-10-16 23:05] davorpa commented on #6153
It's just I mentioning here https://github.com/EbookFoundation/free-programming-books/issues/6153#issuecomment-939582590

[2021-10-17 08:54] LuigiImVector commented on #6263
My idea is something much simpler and more banal @nbehrnd .
The user must indicate a language, a type of resource (books, courses...) and the subcategory (Android, C++, Java...) and the bot will download the markdown file from the github page (maybe I could use the Github API) and will search the subcategory, save it and send to the user a markdown formatted message with the links to the resources

[2021-10-17 09:21] LuigiImVector commented on #6153
What if you replaced the link to the page with the direct link to the pdf instead? It would solve the problem of ads.

[2021-10-17 18:34] eshellman opened #6301 "proposal: "archived" resources"
In #6281 @LuigiImVector implements a suggestion to mark items that have been changed to a wayback machine link to add an access note *(:card_file_box: archived)*  ~~(I think I saw this on another PR, too)~~ used by @davorpa in #6276

I indtend to merge that PR in a few days, as I think this is a useful addition, but I wonder if this should be our standard practice, i.e. added to our documentation

[2021-10-17 20:40] PC-DUSS opened #6302 "Update link to "Database Design - 2nd Edition" and other links coming from open.bccampus.ca"
The download links for open.bccampus.ca are no longer valid. Valid links are found at opentextbc.ca/

For "Database Design - 2nd Edition" this links is here: https://opentextbc.ca/dbdesign01/

[2021-10-17 22:27] davorpa commented on #6301
You are right. It's something liked in https://github.com/EbookFoundation/free-programming-books/pull/5464#issuecomment-891808804, PR where I use it as first time.

Here the repo search about it: https://github.com/EbookFoundation/free-programming-books/search?q=archive.org

I agree with it is a nice visual touch, and also maybe related with some historical resources we list.

Formats:
[code]
 bot

[2021-10-17 23:10] davorpa commented on #6153
The PDF has several links to these pages https://github.com/EbookFoundation/free-programming-books/issues/6153#issuecomment-939582590. Download one :wink:

[2021-10-18 01:19] davorpa commented on #6302
Thanks!!!

Why change link if not broken?

https://github.com/EbookFoundation/free-programming-books/blob/198eb1d5513962192fee7989345c97fc5b4f9ad0/books/free-programming-books-subjects.md#L219

- Title: `Database Design – 2nd Edition`
- Authors: `Adrienne Watt, Nelson Eng @ Douglas College`
- Library entry: https://open.bccampus.ca/browse-our-collection/find-open-textbooks/?uuid=5b6f010a-0563-44d4

[2021-10-18 13:05] LuigiImVector commented on #6153
I know but the books are very interesting and it's a shame not to include them. Maybe you could put a notice next to the link saying that there are numerous advertisements on the page....

[2021-10-19 02:26] eshellman commented on #6153
could someone post a "good" pdf link so we can be talking about the same thing?

[2021-10-19 10:33] RuthlessRuler commented on #6003
Last known saved copy w/o redirection can be found here: https://web.archive.org/web/20200415043122/https://agi.mit.edu/. There is also YT playlist: https://www.youtube.com/playlist?list=PL4jieTF-BpWoiVjta6VuRy5plFtDm9eRG.

[2021-10-19 13:10] #6302 closed

[2021-10-20 13:27] atishaye opened #6353 "Unable to categorize"
Hi! I am still new to open source and this is my first time contributing to this repo.
Though I have already read [CONTRIBUTING](https://github.com/EbookFoundation/free-programming-books/blob/master/CONTRIBUTING.md), I am still confused regarding the category of [this](https://chain.courses/) Blockchain course/book.

[2021-10-22 01:40] eshellman opened #6373 "volunteers"
We need help to make this repo work. New contributors often need help fitting their contributions into the repo. Feel free to offer help to new contributors, especially if you share a language with them.

[2021-10-25 00:37] LeoOuyang24 commented on #5778
Yeah sounds good

[2021-10-25 17:58] eshellman opened #6433 "Resources with advertising"
I've been noticing increasing submissions of resources with lots of obtrusive advertising on them, and have declined a number of them. What disturbs me is that the advertising seems to be a marker of low quality, or of content taken from other websites.

Should we raise the bar for resources with obtrusive advertising? For example, by requiring endorsement by a second F-P-B contributor?

[2021-10-29 06:25] unemployedtechie opened #6500 "URL changed for C for Python Programmers by Carl Burch"
The following URL showing in the list has changed and needs to be updated.

Old URL: [http://www.toves.org/books/cpy/](http://www.toves.org/books/cpy/)
New URL: [http://www.cburch.com/books/cpy/index.html](http://www.cburch.com/books/cpy/index.html)

[2021-10-29 15:36] Harshita-Kohli opened #6508 "The 0-MOOC and Algorithms and Data Structures anchor tags not working"
On clicking 0-MOOC and Algorithms and Data Structures on the webpage, we cannot jump to the respective sections on the page. This feature is not working only for these 2 links.
![a tags](https://user-images.githubusercontent.com/54809528/139463098-0f14dfe0-f15d-4760-a8e3-615343ab06bc.jpg)

[2021-10-29 17:43] eshellman opened #6517 "investigate techotopia/ebookfrenzy/linuxtopia ?"
We currently have 1 listings from "techtopia" and "linuxtopia" These appear to be derivatives of the "Essentials" series published by ebookfrenzy, which lists the author as Neil Smyth. https://www.google.com/search?tbo=p&tbm=bks&q=inauthor:%22Neil+Smyth%22 https://www.ebookfrenzy.com/

Based on the number of titles listed by Mr. Smyth, I suspect little original effort goes into them.

The site and

[2021-10-29 18:01] Harshita-Kohli commented on #6500
Ok. Thanks

[2021-10-29 18:38] eshellman opened #6518 "big sections are ripe for division"
here are some sections that have accumulated many items that might be numerous enough to make their own section. 3 or more items is enough to make a stand alone section

books/free-programming-books-subjects.md#misc
books/free-programming-books-subjects.md#software-architecture
books/free-programming-books-subjects.md#mathematics
courses/free-programming-courses-subjects-en.md#misc

[2021-10-29 18:54] davorpa commented on #5470
After https://github.com/EbookFoundation/free-programming-books/pull/6471#commitcomment-58850566 , this is interesting....

![image](https://user-images.githubusercontent.com/3125580/139324928-a70823a6-fe47-433b-b772-acab2f75e1ed.png)

Review https://math.gordon.edu resources. There are some network problems connecting to. Revert archived when stable back

_Originally posted by @davorpa in https:/

[2021-10-29 19:13] davorpa commented on #6500
Improves #5470

Remember [link in the request body with something like `Resolves #6500`](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue), :pray: thanks.

[2021-10-30 01:09] 2kindsofcs commented on #6517
I found something like this: "https://www.linuxtopia.org/online_books/introduction_to_linux/index.html"
The book("intorudction to linux) is originally authored by Machtelt Garrels. on the web page, it says "Machtelt Garrels" and also "Linuxtopia Edition Copyright © 2007 Neil Smyth" is found. it looks suspicious.
![스크린샷 2021-10-30 오전 10 06 47](https://user-images.githubusercontent.com/42531877/1395

[2021-10-30 05:25] Harshita-Kohli commented on #6500
yes yes sure. Will take care of this.

[2021-10-30 06:56] unemployedtechie opened #6528 "Link to Intro to COBOL not working"
The link to Introduction to COBOL is not working, it is returning a 404 page. Could not find any new link for the same:

https://supportline.microfocus.com/documentation/books/oc41books/lrintr.htm

[2021-10-30 09:35] Harshita-Kohli commented on #6528
I have found a link to the free pdf of the Introduction to COBOL. May I update the link?

[2021-10-30 09:44] Tharunkumar001 commented on #6528
I have Proper COBOL link. Can You assign this issue to me? @unemployedtechie

[2021-10-30 09:56] Tharunkumar001 commented on #4160
Can You assign this issue to me? @davorpa

[2021-10-30 10:16] davorpa commented on #4160
provide feedback first

[2021-10-30 11:15] davorpa commented on #6528
We are talking about this?

https://github.com/EbookFoundation/free-programming-books/blob/3b455abd3fc6271ea0a6e703ed2e3f239e15bf21/books/free-programming-books-langs.md#L564

Improves #5470

[2021-10-30 11:18] Harshita-Kohli commented on #6528
Yes. This link is giving 404 Page not found" error

[2021-10-30 11:22] davorpa commented on #6528
We should provide found alterative to check best option

[2021-10-30 11:32] Harshita-Kohli commented on #6528
Do you want me to send the alternative link?

[2021-10-30 11:35] Harshita-Kohli commented on #6528
This is the link that I have found. It is a link to a pdf named "Intro_to_OO_Programming_for_COBOL_Developers.pdf" https://supportline.microfocus.com/Documentation/books/VisualCOBOL/Intro_to_OO_Programming_for_COBOL_Developers.pdf

[2021-10-30 12:01] unemployedtechie commented on #6528
@Harshita-Kohli This is a different book I assume since this is not a general intro to COBOL but an intro to object oriented programming in COBOL. I think we should change the name of the entry altogether, otherwise it might be misdirectional.

[2021-10-30 12:05] Harshita-Kohli commented on #6528
@unemployedtechie Yes, I think it would be better to change the name of the entry. Maybe we can write: "Intro to OOP in COBOL"

[2021-10-30 15:26] eshellman commented on #6517
yes please

[2021-10-30 17:12] Harshita-Kohli commented on #6528
May I work on this issue?

[2021-10-30 21:26] davorpa commented on #6528
Completely out of sync since #3527 (https://github.com/EbookFoundation/free-programming-books/commit/a5a0839fcef7356c7812676beafb1f6219dd9431#diff-155c33d4757abe5647ec769bf94ba48739ca4fe3fc50fd2cf8511c69910f4332L1068-R1067)
  - Last backup: https://web.archive.org/web/20170913062134/http://www-03.ibm.com/systems/z/education/skills_coursematerials.html

---
This is what we are searching

![image](h

[2021-10-31 11:15] Harshita-Kohli commented on #6528
When I am making the required changes to the books in the forked repo and then pushing the changes on the original repo, it is showing that I want to merge 16 commits into the EbookFoundation:master. But I just want to merge a single commit which is related to COBOL and not the older commits. Could you please help me with this.
help.
![help](https://user-images.githubusercontent.com/54809528/13958

[2021-10-31 17:55] davorpa commented on #6528
You need reset/override your main forked branch with the upstream content. Only after that you'll get fresh branches. This happens because PR merges are made here using squash.

So...

---

**TIP OF THE DAY :nerd_face: :books: :computer:** How to refork an `upstream` without delete your `origin` repository.

Execute under a Terminal (bash...):
[code]
In forked repositories is very common using bra

[2021-10-31 18:00] Harshita-Kohli commented on #6528
Thanks for all the tips🙂. It will help me a lot!

[2021-10-31 18:21] #6500 closed

[2021-10-31 23:47] davorpa commented on #6508
It works well on markdown files.

@charlottetan more issues with GMF

[2021-11-01 04:13] davorpa commented on #5611
@rutujak24 what about this? Any PR submitted?

[2021-11-01 15:56] davorpa commented on #5389
Not applied yet as mentioned by @charlottetan in https://github.com/EbookFoundation/free-programming-books/issues/5389#issuecomment-932841348

@swaroopch in which state is this at this moment? @eshellman what link we should use if remember something?

[2021-11-01 23:42] davorpa commented on #5357
@rutujak24 What about your assignement?

[2021-11-02 01:53] davorpa commented on #4637
I copy some feedback made by natives

_Originally posted by @genepride, @petemadis, @cjjp-sushi in https://github.com/EbookFoundation/free-programming-books/issues/6504#issuecomment-956519688_

[2021-11-02 05:58] vrushabh702 opened #6587 "Book of programming"

[2021-11-02 14:38] #6587 closed

[2021-11-03 10:28] davorpa opened #6590 "docs: Homogenize governance (CoC, CONTRIBUTING & HOWTO) across files"
- Homogenize markdown format across files. Solve some linter faults
   - [x] #6625
   - [x] #6724
- [x] #6698
- [x] Sort links according to english text seen in README.md. **Addressed in #6164**

### Local branch

- [x] Reintegrate #5837
- [x] ~Reintegrate stalled conflictive #5752 to complete translation~. Addressed by: #6719
- [x] Reintegrate #6429
- [x] Reintegrate #5831
- [x] Reintegrate #6567

[2021-11-03 14:45] eshellman opened #6591 "bangla books list is mostly courses"
Need to split (or move) the list, there are plenty of courses.

[2021-11-03 15:39] davorpa commented on #6095
:bulb: What about split in `books-*.md` files:
- ebooks: real books / papers / official lecturer-teacher material used in colleges... usually have covers, ISBN, etc.; diferent downloadable sources. Also, most of the times domains like gitbook, leanpub, readthedocs...
- tutorials / guides: long article about topic fitting some our categories; normally as a web article, accepted blog post...

[2021-11-08 19:48] aemcknig commented on #5586
Hi @davorpa and @ps173!  I'm sorry for the late follow-up - I would be so happy if this cheat sheet were included in this repository!  It is definitely free to use - the more people it helps, the better!

[2021-11-08 20:34] davorpa commented on #5586
Never is too late, Allison. Thanks for the clarification :hugh:

[2021-11-13 08:20] vladimirpecerskij opened #6602 "Книги"

[2021-11-13 19:06] #6602 closed

[2021-11-14 09:21] cwfoo opened #6605 "Is "Professional Assembly Language" really free?"
*Professional Assembly Language* by Richard Blum was added in #84. Is it really a free book? If so, where is it mentioned?

https://github.com/EbookFoundation/free-programming-books/blob/d6633c1f42ea59d49761c533b4810693fa0ea8fc/books/free-programming-books-langs.md#L326

[2021-11-14 21:59] #6528 closed

[2021-11-14 23:21] davorpa commented on #6605
Yes, you are right. Archived at #2603. Remove it.

[2021-11-15 16:25] #6605 closed

[2021-11-15 16:42] eshellman commented on #6590
I'll prepare a PR that
- moves all the instructions files into  a docs directory (is that the best name?)
- removes crosslinks from each translated file and adds them to a docs index page so new files only need to add a link in one place.

[2021-11-15 16:45] eshellman commented on #6095
splitting the file will not make it easier to find resources. If we feel it's important to distinguish between types, we can add a content type annotation the way we do in our podcast/screencast lists,

[2021-11-15 16:54] eshellman commented on #5389
Not sure if I understand the question, but closing to focus on things more actionable.

[2021-11-15 16:54] #5389 closed

[2021-11-15 16:59] eshellman commented on #3612
"Site administration is suspended. Last update: September 1, 2019"

[2021-11-15 16:59] #3612 closed

[2021-11-15 17:04] eshellman commented on #5611
closing as no specific item to add

[2021-11-15 17:04] #5611 closed

[2021-11-15 21:53] davorpa commented on #6095
I like it... maybe with some emoji as badge to be able to distinguish by parsers across languages

- Real books: `:book:` :book:
- Videos: `:video_camera:` :video_camera:
- Tutorial, guides...: `:memo:` :memo:, `:page_facing_up:` :page_facing_up:, `:page_with_curl:` :page_with_curl:

[2021-11-15 22:08] davorpa commented on #6590
See this note in chore posted by you: https://github.com/EbookFoundation/free-programming-books/issues/6164#issuecomment-940222595

[2021-11-16 16:42] eshellman commented on #6590
so using "docs" works?

[2021-11-16 16:49] eshellman commented on #6095
I worry that in practice it will add a barrier for contributors

[2021-11-17 18:31] eshellman commented on #6164
duplicate of #6590 addressed by #6614

[2021-11-17 18:31] #6164 closed

[2021-11-18 03:00] eshellman commented on #5803
master branch has been renamed to main.

[2021-11-18 22:04] japneetsingh035 commented on #6518
Hi @eshellman, I would like to work on this. Can you explain a bit more about what is needed? Thank you

[2021-11-19 04:31] HridoyHazard opened #6620 "Bangla Books List Markdown Format Error"
there are different markdown format for C++ title (which seems a bit weird)
![image](https://user-images.githubusercontent.com/71395891/142565228-2768810f-bb51-45a6-85c4-0825c20bb6c6.png)

[2021-11-19 04:37] HridoyHazard commented on #6620
fixed the markdown with a appreciate format
Pull Request Is #6621

[2021-11-20 00:29] davorpa commented on #5803
I review a bit and it left some rewording in files.

https://github.com/EbookFoundation/free-programming-books/blob/31fb2488b8223e76a5b73ba1e9daba1e83594e16/.github/PULL_REQUEST_TEMPLATE.md#L14

[2021-11-20 18:30] eshellman commented on #6518
for example, look at books/free-programming-books-subjects.md#misc  If there are several books that could be grouped in a section, create the section and move the listing. Thanks for offering to help!

[2021-11-21 15:49] #6620 closed

[2021-11-23 14:25] #5803 closed

[2021-11-23 16:34] LuigiImVector commented on #6263
I finally created the telegram bot: [@freeprogrammingbooks_bot](https://t.me/freeprogrammingbooks_bot).
It isn't perfect, could be better but I decided to create it this way so that it can self-maintain despite constant updates of the repository.

Tell me how it is.

[2021-11-24 15:13] #6517 closed

[2021-11-24 15:14] eshellman commented on #6263
Testers needed!

[2021-11-30 15:49] zahidizim opened #6630 "Programming books"

[2021-11-30 21:36] #6630 closed

[2021-12-03 03:50] Sakhil2014 opened #6633 "Books"
Programming books

[2021-12-03 18:20] #6633 closed

[2021-12-04 23:17] vicii-ek opened #6635 "Free books"

[2021-12-05 20:38] HeyNaNd0 opened #6638 "404 error for The Python Game Book link"
When click on: [The Python Game Book](https://github.com/EbookFoundation/free-programming-books/blob/main/books/free-programming-books-subjects.md#:~:text=The%20Python%20Game%20Book)

it will direct you to: https://thepythongamebook.com/en:start

with the following error: [Not Found The requested URL was not found on this server.Apache/2.4.51 (Debian) Server at thepythongamebook.com Port 443](http

[2021-12-06 15:56] #6635 closed

[2021-12-06 15:57] eshellman commented on #6638
needs removal

[2021-12-08 14:10] #6638 closed

[2021-12-11 04:24] japneetsingh035 commented on #6518
Please review my pull request for different sections! Let me know of any concerns 👍

[2021-12-15 09:03] wangyufengGoGoGo opened #6642 "Add k8s resources"
I think we should add k8s study resources

[2021-12-15 09:11] nbehrnd commented on #6642
If you have a specific resource in mind, add it to one of the
relevant sections and deposit a pull request.

[2021-12-15 09:14] #6642 closed

[2021-12-15 09:15] wangyufengGoGoGo commented on #6642
I see

[2021-12-15 15:12] eshellman opened #6643 "Public (early) alpha of free-programming-books search"
https://4dylanregan.github.io/myapp/

you can leave comments and suggestions here.

There's [a parser that converts the markdown to json,](https://github.com/Senior-Design-2021-Ebook-Team/markdown-parser)
and  [a react app](https://github.com/4dylanregan/myapp) that loads the json and searches it.

by @4dylanregan @nrfq @brogan20 @dpekata @LeoOuyang24 @pkelly10439594

[2021-12-15 20:51] fake-rookie commented on #6643
Thans for that first.

A suggestion : maybe should open each link in a new frame(tab or window in browser). not in current frame.
:)

[2021-12-18 14:30] stupid-kid-af commented on #6263
@eshellman @LuigiImVector  Bot is not giving any response. Can you please link the bot source code it would be very helpful
![image](https://user-images.githubusercontent.com/54206927/146644519-cdfeafdc-006a-4c4f-917f-2fdb9f5be36a.png)

[2021-12-18 16:16] LuigiImVector commented on #6263
You have to write /search and after the thing to search. I will now edit and make it clearer.

[2021-12-19 08:45] stupid-kid-af commented on #6263
Am I doing it wrong??
See in the above img

[2021-12-19 11:05] LuigiImVector commented on #6263
Write the thing to search in new message:
first message: /search
second message: python

[2021-12-19 13:27] stupid-kid-af commented on #6263
No response
Is bot open source??

[2021-12-19 13:59] LuigiImVector commented on #6263
Send screenshot

The repository is private because there isthe TOKEN bot in the file but this is the current code: https://gist.github.com/LuigiImVector/2a82893078b7515a9b296a16ae13789c

[2021-12-19 18:27] nbehrnd commented on #6263
I interpret (and maybe misunderstand) this as the script contains
some login details (yours?).  It would not be good if this were the
case.

Because the project for this script is written strives for free (as
in open, accessible) programming, would it be acceptable for you if
the source code truly would become public (i.e., going beyond the
snapshot/gist shared) for code review and maybe addition

[2021-12-19 19:20] LuigiImVector commented on #6263
The TOKEN is the identification code of the bot that allows you to manage it, I'm working on hiding it and making the repository public. I didn't do it right away because everything was in a beta phase (still is).

The only way to run the bot in local is creating a local heroku server, I need to figure out what is the best option to make everything more opensource and maintenable by the community

[2021-12-21 08:55] nbehrnd commented on #6263
Ok, the project is in early development.

While searching for something different about Python, I stumbled over
a presentation by Philip James on PyCon 2019 about setting up and
interacting/moderating such a server for Mastodon with Python.  Maybe
it is good to have this as a spare wheel in the trunk, because
(apparently) this equally may run from an instance on replit, and
would be open source, t

[2021-12-21 09:33] LuigiImVector commented on #6263
Do you say to create something for Mastodon too?

---

Anyway, I made the bot repository public: https://github.com/LuigiImVector/freeprogrammingbooks-bot
In the README there is a guide that explains how to contribute to the project, maybe there is still some imperfection in it but I'm testing and improving it.

[2021-12-21 13:16] nbehrnd commented on #6263
No, at present, I do not plan to set up a Mastodon robot because for
me Mastodon is a recent find a few days old.  Somewhat influenced by
the books by Edward Tufte and color maps in general (like e.g.,
colorbrewer), the presentation mentioned was encountered on my way to
an other by Jake van der Plas.

Maybe familiarization with Mastodon and their API for Python once is
going to exceed «the critic

[2021-12-23 11:08] Hamidadifi opened #6644 "Free programming books"

[2021-12-23 16:19] #6644 closed

[2021-12-27 06:55] davorpa commented on #6643
Nice!!!

[2021-12-27 06:58] davorpa commented on #6643
it would be great have `yml` format to address frontend using github pages

[2021-12-27 17:17] davorpa commented on #6643
My 2 cents to UI...

It would be great considere responsive design.

![Screenshot_20211227-175831](https://user-images.githubusercontent.com/3125580/147493499-93e8b1d6-d7c6-43b9-8377-0ed77f628956.png)

Eg. above screenshot shows irregular gaps on breaking layout line when content is irregular

[2021-12-27 17:19] #6591 closed

[2021-12-29 06:13] Maryam101 opened #6648 "."

[2021-12-29 06:14] Maryam101 opened #6649 "Free programming books."

[2021-12-29 08:58] SethFalco commented on #6649
Closing since there isn't a clear request or scope of work.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-12-29 08:58] #6649 closed

[2021-12-29 08:58] SethFalco commented on #6648
Closing since there isn't a clear request or scope of work.
Feel free to open another issue if you're able to better describe a problem or request.

[2021-12-29 08:58] #6648 closed

[2021-12-29 21:02] ahmedbi opened #6653 "Good Books"

[2021-12-30 14:49] CleanMachine1 commented on #6653
I think this issue can be closed. There isn't a clear request.

Feel free to either edit this issue or open another if you meant to add to it!

[2021-12-30 22:24] #6653 closed

[2022-01-01 03:36] Ashutosh-Singh-10 opened #6655 "kkk"

[2022-01-01 10:36] shruzki opened #6656 "proposal: Mathematics for Computer Science Eric Lehman and Tom Leighton 2004"
https://www.cs.princeton.edu/courses/archive/spr10/cos433/mathcs.pdf

(Lecture Notes)

[2022-01-01 19:30] #6655 closed

[2022-01-01 19:39] eshellman commented on #6656
Maybe this is a better viersion?:  https://courses.csail.mit.edu/6.042/spring18/mcs.pdf

[2022-01-02 04:05] shruzki commented on #6656
Yeah

[2022-01-02 08:53] nachoroso opened #6659 "Libros de programación."

[2022-01-02 18:09] #6659 closed

[2022-01-07 01:58] bendover4200 opened #6666 "Coding"

[2022-01-07 02:50] #6666 closed

[2022-01-13 22:22] eshellman opened #6672 "State of the Repo 2022"
The free-programming-books repo on GitHub continued to grow in 2021. As of January 13, 2021, it has 219,041, second most of all repos on Github and up 28% from last year. The repo has been forked 46,090 times, and it added another 934 commits from 476 individuals in 2021. 1,921 people in total have supported the project with improvements.

Hacktoberfest was fun for us this year. We received 943 im